<% unless current_page.data.disable_feedback %>
  <div class="comments">
    <div class="comments-filter">
      <h2 id="help-and-feedback">
        Help and feedback
        <a class="anchor" href="#help-and-feedback"></a>
      </h2>
      <div>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" id="docs-feedback">

            <!-- edit-page-row -->
            <div class="row" id="edit-page-row">
              <div class="col-md-8 col-sm-12">
                <p>If you <strong>spot an error or a need for improvement</strong> and would like to
                  <strong>fix it yourself</strong> in a pull request
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <p>
                  <a role="button" class="comments-holder btn btn-default"
                     href="https://github.com/opf/openproject" target="_blank">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    EDIT THIS PAGE
                  </a>
                </p>
              </div>
            </div>
            <!-- edit-page-row -->

            <!-- doc-issue-row -->
            <div class="row" id="doc-issue-row">
              <div class="col-md-8 col-sm-12">
                <p>If you would like to <strong>suggest an improvement to this doc</strong>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="https://community.openproject.com/projects/openproject/work_packages/new?type=1" target="_blank">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                  CREATE AN ISSUE
                </a>
              </div>
            </div>
            <!-- doc-issue-row -->

            <!-- issue-row -->
            <div class="row" id="issue-row">
              <div class="col-md-8 col-sm-12">
                <p>If there's something <strong>you don't like</strong> about <strong>this feature</strong>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="https://community.openproject.com/projects/openproject/work_packages/new?type=1" target="_blank">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                  CREATE AN ISSUE
                </a>
              </div>
            </div>
            <!-- issue-row -->

            <div class="row" id="support-row"><!-- support-row -->
              <div class="col-md-8 col-sm-12">
                <p>If you <strong>have problems</strong> setting up or using this feature
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <p>
                  <a role="button" class="comments-holder btn btn-default" href="https://www.openproject.org/contact-us/" target="_blank">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    REQUEST SUPPORT
                  </a>
                </p>
              </div>
            </div>
            <!-- support-row -->

            <!-- forum-row -->
            <div class="row" id="forum-row">
              <div class="col-md-8 col-sm-12">
                <p>If you want help with something very <strong>specific to your use case</strong>,
                  and can use some community support
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <p>
                  <a role="button" class="comments-holder btn btn-default" href="https://community.openproject.com/projects/openproject/forums" target="_blank">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    POST ON OPENPROJECT FORUM
                  </a>
                </p>
              </div>
            </div>
            <!-- forum-row -->
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
