<% unless current_page.data.disable_feedback %>
  <div class="comments">
    <div class="comments-filter">
      <h2 id="help-and-feedback">
        Help and feedback
        <a class="anchor" href="#help-and-feedback"></a>
      </h2>
      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation"><a href="#get-help" aria-controls="get-help" role="tab" data-toggle="tab">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
            GET <strong>HELP</strong></a>
          </li>
          <li role="presentation">
            <a class="active" href="#docs-feedback" aria-controls="docs-feedback" role="tab" data-toggle="tab">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
              <strong>DOCS</strong> FEEDBACK</a>
          </li>
          <li role="presentation">
            <a href="#product-feedback" aria-controls="product-feedback" role="tab" data-toggle="tab">
              <i class="fa fa-commenting" aria-hidden="true"></i>
              <strong>PRODUCT</strong> FEEDBACK</a>
          </li>
          <li role="presentation">
            <a href="#get-more-features" aria-controls="get-more-features" role="tab" data-toggle="tab">
              <i class="fa fa-line-chart" aria-hidden="true"></i>
              GET MORE <strong>FEATURES</strong></a>
          </li>
        </ul>
        <!-- Nav tabs -->

        <!-- Tab panes -->
        <div class="tab-content">
          <!-- get-help tab -->
          <div role="tabpanel" class="tab-pane" id="get-help">
            <!-- search-row -->
            <div class="row" id="search-row">
              <div class="col-md-8 col-sm-12">
                <p>If you <strong>did not find</strong> what you were looking for
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="/search/" target="_blank">
                  <i class="fa fa-search" aria-hidden="true"></i>
                  SEARCH THE DOCS
                </a>
              </div>
            </div>
            <!-- search-row -->
            <!-- forum-row -->
            <div class="row" id="forum-row">
              <div class="col-md-8 col-sm-12">
                <p>If you <strong>need help from the community</strong> or want to <strong>support others</strong>
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <p>
                  <a role="button" class="comments-holder btn btn-default" href="https://forum.gitlab.com/" target="_blank">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    POST ON OPENPROJECT FORUM
                  </a>
                </p>
              </div>
            </div>
            <!-- forum-row -->
            <!-- support-row -->
            <div class="row" id="support-row">
              <div class="col-md-8 col-sm-12">
                <p>If you are eligible for <strong>professional support</strong> and have more questions using this features
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <p>
                  <a role="button" class="comments-holder btn btn-default" href="https://about.gitlab.com/support/" target="_blank">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    REQUEST SUPPORT
                  </a>
                </p>
              </div>
            </div>
            <!-- support-row -->
          </div>
          <!-- get-help tab -->

          <!-- docs-feedback tab -->
          <div role="tabpanel" class="tab-pane active" id="docs-feedback">
            <!-- edit-page-row -->
            <div class="row" id="edit-page-row">
              <div class="col-md-8 col-sm-12">
                <p>If you find an <strong>error or need for improvement</strong> you can <strong>fix it yourself</strong> with a pull request
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <p>
                  <a role="button" class="comments-holder btn btn-default"
                     href="TODO" target="_blank">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    EDIT THIS PAGE
                  </a>
                </p>
              </div>
            </div>
            <!-- edit-page-row -->
            <!-- doc-issue-row -->
            <div class="row" id="doc-issue-row">
              <div class="col-md-8 col-sm-12">
                <p>If you would like to <strong>suggest an update or improvement</strong> to this documentation
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="ToDo" target="_blank">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                  CREATE AN ISSUE
                </a>
              </div>
            </div>
            <!-- doc-issue-row -->
            <!-- doc-translation-row -->
            <div class="row" id="doc-issue-row">
              <div class="col-md-8 col-sm-12">
                <p>If you want to contribute to <strong>translate this documentation to another language</strong>
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="ToDo" target="_blank">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                  Translate on Crowdin
                </a>
              </div>
            </div>
            <!-- doc-translation-row -->
          </div>
          <!-- docs-feedback tab -->

          <!-- product-feedback tab -->
          <div role="tabpanel" class="tab-pane" id="product-feedback">
            <!-- issue-row -->
            <div class="row" id="issue-row">
              <div class="col-md-8 col-sm-12">
                <p>If there's something <strong>you don't like or understand</strong> about this feature
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/new?issue[title]=Docs%20-%20product%20feedback:%20Write%20your%20title&issue[description]=Describe%20what%20you%20would%20like%20to%20see%20improved.%0A%0A%3C!--%20Don%27t%20edit%20below%20this%20line%20--%3E%0A%0A%2Flabel%20~%22docs%5C-comments%22%20" target="_blank">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                  CREATE AN ISSUE
                </a>
              </div>
            </div>
            <!-- issue-row -->
            <!-- feature-proposal-row -->
            <div class="row" id="feature-proposal-row">
              <div class="col-md-8 col-sm-12">
                <p>If you want to <strong>propose a new feature</strong> that OpenProject does not offer yet
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/new?issuable_template=Feature%20proposal&issue[title]=Docs%20feedback%20-%20feature%20proposal:%20Write%20your%20title" target="_blank">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                  SUBMIT FEATURE PROPOSAL
                </a>
              </div>
            </div>
            <!-- feature-proposal-row -->
            <!-- beta-testing-row -->
            <div class="row" id="feature-proposal-row">
              <div class="col-md-8 col-sm-12">
                <p>To further help OpenProject to <strong>shape and test new features</strong>
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="https://about.gitlab.com/community/gitlab-first-look/" target="_blank">
                  <i class="fa fa-check-circle" aria-hidden="true"></i>
                  JOIN BETA TESTING
                </a>
              </div>
            </div>
            <!-- beta-testing-row -->
          </div>
          <!-- product-feedback tab -->

          <!-- get-more-features tab -->
          <div role="tabpanel" class="tab-pane" id="get-more-features">
            <!-- gitlab-pricing-row -->
            <div class="row" id="sales-row">
              <div class="col-md-8 col-sm-12">
                <p>To view OpenProject <strong>premium features</strong> and pricing
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="https://about.gitlab.com/pricing/" target="_blank">
                  <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                  VIEW PRICING PAGE
                </a>
              </div>
            </div>
            <!-- gitlab-pricing-row -->
            <!-- gitlab-gold-row -->
            <div class="row" id="sales-row">
              <div class="col-md-8 col-sm-12">
                <p>If you want to try all <strong>premium features</strong> in the <strong>OpenProject Cloud Edition</strong> 14 days for free
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="https://customers.gitlab.com/trials/new?gl_com=true" target="_blank">
                  <i class="fa fa-cloud" aria-hidden="true"></i>
                  Free trial OpenProject Cloud Edition
                </a>
              </div>
            </div>
            <!-- gitlab-gold-row -->
            <!-- gitlab-ultimate-row -->
            <div class="row" id="sales-row">
              <div class="col-md-8 col-sm-12">
                <p>If you want to <strong>try all premium features</strong> in your <strong>on premise Community installation</strong> 14 days for free
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="https://about.gitlab.com/free-trial/" target="_blank">
                  <i class="fa fa-server" aria-hidden="true"></i>
                  Free trial OpenProject Enterprise Edition (on premise)
                </a>
              </div>
            </div>
            <!-- gitlab-ultimate-row -->
          </div>
          <!-- get-more-features tab -->
        </div>
        <!-- Tab panes -->
      </div>
    </div>
  </div>
<% end %>
