<% unless current_page.data.disable_feedback %>
  <div class="comments">
    <div class="comments-filter">
      <h2 id="help-and-feedback">
        Help and feedback
        <a class="anchor" href="#help-and-feedback"></a>
      </h2>
      <div>
        <!-- Nav tabs -->
        <ul class="feedback-tabs nav nav-tabs" role="tablist">
          <li role="presentation">
            <a class="active" href="#get-help" aria-controls="get-help" role="tab" data-toggle="tab">
              <i class="fa fa-question-circle" aria-hidden="true"></i>
              GET <strong>HELP</strong>
            </a>
          </li>
          <li role="presentation">
            <a href="#docs-feedback" aria-controls="docs-feedback" role="tab" data-toggle="tab">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
              <strong>DOCS</strong> FEEDBACK
            </a>
          </li>
          <li role="presentation">
            <a href="#product-feedback" aria-controls="product-feedback" role="tab" data-toggle="tab">
              <i class="fa fa-commenting" aria-hidden="true"></i>
              <strong>PRODUCT</strong> FEEDBACK
            </a>
          </li>
          <li role="presentation">
            <a href="#get-more-features" aria-controls="get-more-features" role="tab" data-toggle="tab">
              <i class="fa fa-line-chart" aria-hidden="true"></i>
              GET MORE <strong>FEATURES</strong>
            </a>
          </li>
        </ul>
        <!-- Nav tabs -->

        <!-- Tab panes -->
        <div class="tab-content help-and-feedback--tabs">
          <!-- get-help tab -->
          <div role="tabpanel" class="tab-pane active" id="get-help">
            <!-- search-row -->
            <div class="row">
              <div class="col-md-8 col-sm-12">
                <p>If you <strong>did not find</strong> what you were looking for
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="trigger-search-button comments-holder btn btn-default" href="/" target="_blank">
                  <i class="fa fa-search" aria-hidden="true"></i>
                  SEARCH THE DOCS
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-sm-12">
                <p>If you <strong>need help from the community</strong> or want to <strong>support others</strong>
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="https://community.openproject.com/projects/openproject/forums" target="_blank">
                  <i class="fa fa-users" aria-hidden="true"></i>
                  POST ON OPENPROJECT FORUM
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-sm-12">
                <p>If you are eligible for <strong>professional support</strong> and have more questions
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <p>
                  <a role="button" class="comments-holder btn btn-default" href="https://www.openproject.org/contact-us/" target="_blank">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    REQUEST SUPPORT
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="docs-feedback">
            <div class="row">
              <div class="col-md-8 col-sm-12">
                <p>If you find a fixable <strong>error or need for improvement</strong> on this page
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="https://github.com/opf/openproject" target="_blank">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  EDIT THIS PAGE
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-sm-12">
                <p>If you would like to <strong>suggest an update or improvement</strong> to this documentation
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="https://www.openproject.org/development/report-a-bug/" target="_blank">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                  CREATE AN ISSUE
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-sm-12">
                <p>If you want to contribute to <strong>translate this documentation to another language</strong>
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="https://crowdin.com/project/openproject" target="_blank">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                  Translate on Crowdin
                </a>
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="product-feedback">
            <div class="row">
              <div class="col-md-8 col-sm-12">
                <p>If there's something <strong>you don't like or understand</strong> about this feature
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="https://www.openproject.org/development/report-a-bug/" target="_blank">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                  CREATE AN ISSUE
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-sm-12">
                <p>If you want to <strong>propose a new feature</strong> that OpenProject does not offer yet
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="https://www.openproject.org/development/submit-feature-idea/" target="_blank">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                  SUBMIT FEATURE PROPOSAL
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-sm-12">
                <p>To further help OpenProject to <strong>shape and test new features</strong>
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="https://www.openproject.org/first-look/" target="_blank">
                  <i class="fa fa-check-circle" aria-hidden="true"></i>
                  JOIN BETA TESTING
                </a>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="get-more-features">
            <div class="row">
              <div class="col-md-8 col-sm-12">
                <p>To view OpenProject <strong>premium features</strong> and pricing
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="https://www.openproject.org/pricing/" target="_blank">
                  <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                  VIEW PRICING PAGE
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-sm-12">
                <p>If you want to try all <strong>premium features</strong> in the <strong>OpenProject Cloud Edition</strong> 14 days for free
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="https://www.openproject.org/hosting/" target="_blank">
                  <i class="fa fa-cloud" aria-hidden="true"></i>
                  Free trial OpenProject Cloud Edition
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-sm-12">
                <p>If you want to <strong>try all premium features</strong> in your <strong>on premise Community installation</strong> 14 days for free
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="https://www.openproject.org/enterprise-edition/" target="_blank">
                  <i class="fa fa-server" aria-hidden="true"></i>
                  Free trial OpenProject Enterprise Edition (on premise)
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
