<footer class=footer>
  <div class='animated container'>
    <div class="row justify-content-center">
      <div class='col-6 col-md-3 col-lg-2 col-lg-offset-2 footer-link-holder'>
        <h3 class=footer-link-title>Products</h3>
        <ul class='animated footer-links'>
          <li><a href="https://about.gitlab.com/features/" target="_blank">Features</a></li>
          <li><a href="https://about.gitlab.com/install/" target="_blank">Installation</a></li>
          <li><a href="https://about.gitlab.com/pricing/#gitlab-com" target="_blank">GitLab.com</a></li>
          <li><a href="https://about.gitlab.com/pricing/" target="_blank">Pricing</a></li>
          <li><a href="https://about.gitlab.com/releases/" target="_blank">Releases</a></li>
        </ul>
      </div>
      <div class='col-6 col-md-3 col-lg-2 footer-link-holder'>
        <h3 class=footer-link-title>Services</h3>
        <ul class='animated footer-links'>
          <li><a href="https://about.gitlab.com/resellers/" target="_blank">Resellers</a></li>
          <li><a href="https://about.gitlab.com/services/" target="_blank">Services</a></li>
        </ul>
      </div>
      <div class='col-6 col-md-3 col-lg-2 footer-link-holder'>
        <h3 class=footer-link-title>Community</h3>
        <ul class='animated footer-links'>
          <li><a href="https://about.gitlab.com/resources/" target="_blank">Resources</a></li>
          <li><a href="https://about.gitlab.com/events/" target="_blank">Events</a></li>
          <li><a href="https://about.gitlab.com/community/core-team/" target="_blank">Core Team</a></li>
          <li><a href="https://contributors.gitlab.com/" target="_blank">Contributors</a></li>
          <li><a href="https://about.gitlab.com/events/find-a-speaker/" target="_blank">Find a Speaker</a></li>
          <li><a href="/">Documentation</a></li>
          <li><a href="https://about.gitlab.com/get-help/" target="_blank">Getting Help</a></li>
          <li><a href="https://about.gitlab.com/community/contribute/" target="_blank">Contributing</a></li>
          <li><a href="https://about.gitlab.com/partners/" target="_blank">Technology Partners</a></li>
          <li><a href="https://about.gitlab.com/community/mvp/" target="_blank">Hall of Fame</a></li>
        </ul>
      </div>
      <div class='col-6 col-md-3 col-lg-2 footer-link-holder'>
        <h3 class=footer-link-title>Company</h3>
        <ul class='animated footer-links'>
          <li><a href="https://gitlab.com/groups/gitlab-org" target="_blank">Source Code</a></li>
          <li><a href="https://about.gitlab.com/blog/" target="_blank">Blog</a></li>
          <li><a href="https://about.gitlab.com/customers/" target="_blank">Customers</a></li>
          <li><a href="https://about.gitlab.com/press/" target="_blank">Press and Logos</a></li>
          <li><a href="https://shop.gitlab.com/" target="_blank">Shop</a></li>
          <li><a href="https://about.gitlab.com/company/" target="_blank">About Us</a></li>
          <li><a href="https://about.gitlab.com/company/team/" target="_blank">Team</a></li>
          <li><a href="https://about.gitlab.com/direction/" target="_blank">Direction</a></li>
          <li><a href="https://about.gitlab.com/handbook/" target="_blank">Handbook</a></li>
          <li><a href="https://about.gitlab.com/jobs/" target="_blank">Jobs</a></li>
          <li><a href="https://about.gitlab.com/terms/" target="_blank">Terms</a></li>
          <li><a href="https://about.gitlab.com/privacy/" target="_blank">Privacy Policy</a></li>
          <li><a href="https://about.gitlab.com/company/contact/" target="_blank">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer--separator"></div>

  <div class="footer--generic-line-container">
    <div>
      <a class="generic-link" href="https://www.openproject.org/contact-us/" target="_blank"> Contact Us </a>
      <a class="generic-link" href="https://www.openproject.org/legal-notice/" target="_blank"> Legal Notice </a>
      <a class="generic-link" href="https://www.openproject.org/terms-of-service/" target="_blank"> Terms of Service </a>
      <a class="generic-link" href="https://www.openproject.org/data-privacy-and-security/" target="_blank"> Data privacy </a>
    </div>
    <div class="footer-social-media">
      <a class="social-media-link"  href="https://twitter.com/openproject" target="_blank">
        <%= image_tag "social-media/twitter_logo_white.png" %>
      </a>
      <a class="social-media-link"  href="https://www.facebook.com/openprojectfoundation" target="_blank">
        <%= image_tag "social-media/facebook_logo.png" %>
      </a>
      <a class="social-media-link"  href="https://github.com/opf/openproject" target="_blank">
        <%= image_tag "social-media/github_logo.png" %>
      </a>
      <a class="social-media-link"  href="https://www.youtube.com/c/OpenProjectCommunity" target="_blank">
        <%= image_tag "social-media/youtube_logo.png" %>
      </a>
    </div>
    <div class="footer-copyright">
      © 2019 - OpenProject. All rights reserved.
    </div>
  </div>

</footer>
