<% if data.languages.length > 1 %>
<div class="dropdown lang-dropdown">
  <a role="button"
     class="header-link dropdown-toggle"
     data-toggle="dropdown"
     aria-haspopup="true"
     aria-expanded="false"
     id="languages"
     href="#">
     <%= I18n.locale.to_s %>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu versions-menu" aria-labelledby="languages">
    <% data.languages.each do |locale, name| %>
      <% if locale != I18n.locale.to_s %>
      <li>
        <a href="<%= switch_language_path(locale) %>">
          <%= locale %>
        </a>
      </li>
      <% end %>
    <% end %>
  </ul>
</div>
<% end %>
