<% wrap_layout :base do %>
  <%#= TODO partial 'layouts/gtm' %>
  <%= partial 'layouts/header' %>
  <div class="wrapper">
    <%= yield %>
  </div>
  <%= partial 'layouts/docsearch' %>
  <%#= TODO mermaid.js support ? partial 'layouts/mermaid' %>
  <%#= TODO analytics partial 'layouts/analytics' %>
<% end %>
