<div id="cookie-warning">
  <%= I18n.t('cookies.info') %>
  <a href="https://www.openproject.org/data-privacy-and-security/" target="_blank"><%= I18n.t('cookies.more') %></a>.
  <a class="cookie-warning--submit"><%= I18n.t('cookies.ok') %></a>
</div>