#cookie-warning {
   background-color: #006080;
   color: #FFFFFF;
   min-height: 26px;
   font-size: 14px;
   line-height: 26px;
   text-align: center;
   padding: 8px 0 8px 30px;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   display: none;
   z-index: 9999;
 }
#cookie-warning a {
  color: #4B8EE7;
  text-decoration: none;
}

#cookie-warning a.cookie-warning--submit {
  color: #FFFFFF;
  padding: 0 20px;
  cursor: pointer;
}
