@import "variables";

.footer {
  position: relative;
  padding-top: 50px;
  padding-bottom: 80px;
  background: $footer-bg;
  color: $footer-font-color;
  z-index: 9;

  @media (max-width: 989px) {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  a {
    color: inherit;
  }

  a:hover,
  a:visited,
  a:visited:hover {
    color: $footer-font-color;
  }
  a::after {
    content: none;
  }

  ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
}

.footer-logo {
  position: absolute;
  top: -36px;
  left: 50%;
  margin-left: -32.5px;
}

.footer-social {
  padding-bottom: 40px;

  li {
    display: inline-block;
    width: 45px;
    font-size: 26px;
  }
}

.footer-link-title {
  margin-top: 0;
  margin-bottom: 15px;
  border-bottom: 0;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
}

.footer-links {
  font-size: 16px;

  li:not(:last-child) {
    padding-bottom: 2px;
  }

  a {
    text-transform: none;
    font-weight: 300;
    font-size: .8rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 989px) {
  .footer-link-holder {
    margin-bottom: 15px;
  }
}

.text-center {
  text-align: center;
}

.animated, .animated a {
  transition: all .2s linear;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
