@import "variables";

.footer {
  position: relative;
  padding: 50px 0 20px 0;
  background: $footer-bg;
  color: $footer-font-color;
  z-index: 9;

  @media (max-width: 989px) {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  a {
    color: inherit;
  }

  a:hover,
  a:visited,
  a:visited:hover {
    color: $footer-font-color;
  }
  a::after {
    content: none;
  }

  ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
}

.footer-link-title {
  color: $color-white;
  margin-top: 0;
  margin-bottom: 15px;
  border-bottom: 0;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
}

.footer-links {
  font-size: 16px;

  li:not(:last-child) {
    padding-bottom: 2px;
  }

  a {
    text-transform: none;
    font-weight: 300;
    font-size: .8rem;
    line-height: 1.5rem;
  }
}

.footer--separator {
  height: 1px;
  background: $footer-separator-color;
  margin: 20px 130px;
  width: calc(100% - 260px);
}

.footer--generic-line-container {
  display: grid;
  grid-template-columns: 3fr 120px 1fr;
  padding: 0 130px;
}

.generic-link {
  margin-right: 10px;
}

.footer-copyright {
  text-align: right;
}

.social-media-link {
  &:hover {
    text-decoration: none;
  }

  img {
    height: 20px;
    margin-right: 5px;
    border-radius: 3px;
  }
}

@media (max-width: 989px) {
  .footer-link-holder {
    margin-bottom: 15px;
  }
}

.animated, .animated a {
  transition: all .2s linear;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
