@import "variables";

.footer--container {
  background: $footer-bg;
  color: $footer-font-color;
  z-index: 9;
}

.footer {
  max-width: $content-width;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0 20px;

  @media (max-width: $mobile-width) {
    padding: 40px 15px 30px 15px;
  }

  .row {
    margin: 0;
  }

  a {
    color: inherit;
  }

  a:hover,
  a:visited,
  a:visited:hover {
    color: $footer-font-color;
  }
  a::after {
    content: none;
  }

  ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
}

.footer-link-title {
  color: $color-white;
  margin-top: 0;
  margin-bottom: 15px;
  border-bottom: 0;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
}

.footer-links {
  font-size: 16px;

  li:not(:last-child) {
    padding-bottom: 2px;
  }

  a {
    text-transform: none;
    font-weight: 300;
    font-size: .8rem;
    line-height: 1.5rem;
  }
}

.footer--separator {
  height: 1px;
  background: $footer-separator-color;
  margin: 20px 0px;
  width: 100%
}

.footer--generic-line-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 0 15px;
}

.generic-link {
  margin-right: 10px;
}

.footer-copyright {
  text-align: right;
}

.social-media-link {
  &:hover {
    text-decoration: none;
  }

  img {
    height: 20px;
    margin-right: 5px;
    border-radius: 3px;
  }
}

@media (max-width: $mobile-width) {
  .footer--links-container {
    padding: 0;
  }

  .footer-link-holder {
    margin-bottom: 30px;
  }

  .footer--separator {
    margin: 20px 0px;
  }

  .footer--generic-line-container {
    padding: 0px;
    grid-template-columns: 1fr;
  }

  .footer-social-media {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
  }

  .footer-copyright {
    font-size: 10px;
    text-align: center;
  }

  .link-container {
    display: flex;
    justify-content: space-around;
  }

  .footer .generic-link {
    white-space: nowrap;
  }
}

.animated, .animated a {
  transition: all .2s linear;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
