.header {
  z-index: 10;
  background: $header-background-color;
  position: fixed;
  width: 100%;
  padding: 6px 24px;
  border-bottom: 1px solid $border-color;
  text-align: left;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;

  .logo-container {
    margin-right: 24px;
  }

  @media all and (max-width: $mobile-width) {
    height: 50px;
    padding-left: 15px;

    .logo {
      height: 30px;
    }
  }

  img {
    height: 40px;
  }

  p {
    font-size: 16px;
    color: $header-color;
    display: inline-block;
    margin: 0 0 0 4px;
  }

  ul {
    text-align: right;
    list-style-type: none;

    @media all and (max-width: $mobile-width) {
      display: none;
    }
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  .header-link:hover {
    text-decoration: none;
  }

  @media (max-width: $mobile-width) {
    .header--element-container {
      justify-content: space-between;
      width: 100%;
    }

    .fa {
      color: white;
    }
  }

  .btn-versions {
    color: $black;
    font-size: 16px;
    border: 1px solid $color-tanuki-medium;

    &:hover {
      opacity: .8;
    }

    &:active {
      opacity: .8;
      box-shadow: none;
    }
  }

  .versions-menu {
    padding: 0;

    li {
      display: block;
      margin: 5px 0;

      a {
        color: $versions-link-color;
        padding: 3px 20px;
        font-size: 14px;
        display: block;
        line-height: 1.4;

        &:hover {
          color: $versions-link-color-hover;
          background-color: $versions-link-color-bg-hover;
          text-decoration: none;
        }

        &.active {
          background-color: $versions-active-bg-color;
          font-weight: 600;
          color: $link-color-nav;
        }
      }

      &.divider {
        margin: 0;
      }

      i {
        padding-left: 5px;
        opacity: .5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  input {
    box-sizing: content-box;
    border: 1px solid $search-border;
    border-radius: $border-radius;
    -webkit-appearance: none;
    padding: 7px 11px 7px 28px;
    width: 260px;
    background: $white url("<%= @items['/assets/images/icon_search.svg'].path %>") 9px 12px / 14px no-repeat;
    outline: 0;

    @media(max-width:$medium-width) {
      width: 210px;
    }
  }

  input:focus {
    border: 1px solid $search-border-dark;
  }

  input:visited {
    outline: 0;
    border: 0;
  }

  // Override bootstrap
  .nav > li > a {
    text-decoration: none;
    color: $black;
    padding: 10px;
    font-size: 16px;
  }

  // Override bootstrap
  .nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
    opacity: .8;
  }

  #search-form .docsearch {
    border-color: $header-color;
    background: transparent;

    &:focus {
      background: white !important;
    }

    &::placeholder {
      color: $header-color;
    }
  }

  /* Search bar on mobile */
  @media (max-width: $mobile-width) {
    .header--element-container {
      &.active {
        .fa-search,
        .logo-container,
        .nav-toggle {
          display: none;
        }

        .fa {
          position: relative;
          top: 7px;
          left: -5px;
        }

        #search-form {
          width: 100%;
        }
      }

      &:not(.active) {
        .fa-arrow-left,
        input {
          display: none;
        }
      }
    }
  }
}
