.header {
  z-index: 10;
  background: $header-background-color;
  position: fixed;
  top: 0;
  height: $header-height;
  width: 100%;
  padding: 6px 24px;
  border-bottom: 1px solid $border-color;
  text-align: left;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  transition: top 0.5s;

  .-header-scrolled & {
    top: - $header-height;
  }

  .logo-container {

    .header--help-text {
      font-size: 24px;
      color: $header-color;
    }

    .header--separator {
      height: 30px;
    }
  }

  @media all and (max-width: $mobile-width) {
    padding: 6px 15px;

    .logo {
      height: 30px;
    }
  }

  img {
    height: 30px;
  }

  p {
    font-size: 16px;
    color: $header-color;
    display: inline-block;
    margin: 0 0 0 4px;
  }

  ul {
    text-align: right;
    list-style-type: none;

    @media all and (max-width: $mobile-width) {
      display: none;
    }
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  .header-link:hover {
    text-decoration: none;
  }

  @media (max-width: $mobile-width) {
    .header--element-container {
      justify-content: space-between;
      width: 100%;
    }

    .fa {
      color: white;
    }

    .nav-toggle {
      cursor: pointer;
      // fixed width prevents openproject logo to jump
      width: 13px;
    }

    .fa-times,
    .nav-open .fa-bars {
      display: none;
    }

    .nav-open .fa-times {
      display: block;
    }
  }

  .btn-versions {
    color: $black;
    font-size: 16px;
    border: 1px solid $color-tanuki-medium;

    &:hover {
      opacity: .8;
    }

    &:active {
      opacity: .8;
      box-shadow: none;
    }
  }

  .versions-menu {
    padding: 0;

    li {
      display: block;
      margin: 5px 0;

      a {
        color: $versions-link-color;
        padding: 3px 20px;
        font-size: 14px;
        display: block;
        line-height: 1.4;

        &:hover {
          color: $versions-link-color-hover;
          background-color: $versions-link-color-bg-hover;
          text-decoration: none;
        }

        &.active {
          background-color: $versions-active-bg-color;
          font-weight: 600;
          color: $link-color-nav;
        }
      }

      &.divider {
        margin: 0;
      }

      i {
        padding-left: 5px;
        opacity: .5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  input {
    box-sizing: content-box;
    border: 1px solid $search-border;
    border-radius: $border-radius;
    -webkit-appearance: none;
    padding: 0px 11px;
    height: $search-form-height;
    width: 260px;
    background: $white url("../images/icon_search.svg") 9px 12px / 14px no-repeat;
    outline: 0;
    // The font-size is necessary to avoid iOS to zoom in when being focused
    font-size: 16px;

    @media(max-width: $mobile-width) {
      width: calc(100% - 15px) !important;
    }
  }

  input:focus {
    border: 1px solid $search-border-dark;
  }

  input:visited {
    outline: 0;
    border: 0;
  }

  // Override bootstrap
  .nav > li > a {
    text-decoration: none;
    color: $black;
    padding: 10px;
    font-size: 16px;
  }

  // Override bootstrap
  .nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
    opacity: .8;
  }

  #search-form .docsearch {
    height: $search-form-height;
    border-color: $header-color;
    background: transparent;
    color: white;
    margin-left: 30px;

    &:focus {
      background: white !important;
      color: $black;
    }

    &::placeholder {
      color: $header-color;
    }
  }

  .header-link:visited {
    color: $color-white;
  }

  /* Search bar on mobile */
  @media (max-width: $mobile-width) {
    .header--element-container {
      &.active {
        .fa-search,
        .logo-container,
        .nav-toggle {
          display: none;
        }

        .fa {
          position: relative;
          top: 5px;
          left: -5px;
        }

        #search-form {
          width: 100%;

          .docsearch {
            height: $search-form-height-mobile;
            padding: 7px 11px;
            background: white !important;
            color: $black;

            &::placeholder {
              color: $black;
            }
          }
        }
      }

      &:not(.active) {
        .fa-arrow-left,
        input {
          display: none;
        }
      }
    }
  }
}
