@import "variables";
@import "~bootstrap/scss/bootstrap";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

@import "docsearch";

@import 'font';
@import 'generic';
@import 'footer';
@import 'header';
@import 'navigation';
@import 'highlight';
@import 'comments';
@import 'badge';
@import 'alert';
@import 'instantsearch';
@import 'toc';
@import 'landing_header';
@import 'topics';
@import 'api';
@import 'permalinks';
@import 'feedback';
@import 'cookie_warning';

.main {
  margin: 0px;
  padding: $header-height 48px 0;
  position: relative;
  width: auto;
  max-width: 80%;
  background: $main-background-color;
  z-index: 1;

  @media (max-width: $mobile-width) {
    padding: 45px 15px 5px 15px;
  }

  @media(min-width:1601px) {
    margin: 0 220px;
    max-width: 65%;
  }

  &:not(.has-toc) {
    > .doc-nav {
      display: none;
    }
  }

  p {
    margin: 7px 0;
    line-height: 22px;
  }

  ul, ol {
    margin: 20px 0;
  }

  li {
    line-height: 22px;

    > ul, > ol {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  img {
    max-width: calc(100% - 10px);
    max-height: 100vh;
    box-shadow: 0 4px 18px 0 rgba($color-dark, .1), 0 6px 20px 0 rgba($color-dark, .09);
    margin: 40px auto;
    display: block;
  }

  footer {
    padding: 10px 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

  }

  code {
    word-break: normal;
    padding: 2px 4px;
  }

  .input-group-text {
    background-color: transparent;
    display: flex;
  }

  // Center YT embed iframes
  iframe {
    margin: 40px auto;
    display: block;
    box-shadow: 0 4px 18px 0 rgba($color-dark, .1), 0 6px 20px 0 rgba($color-dark, .09);
    max-width: calc(100vw - 30px);
  }
}
//
// Algolia search override
// https://community.algolia.com/docsearch/styling.html
//
.algolia-autocomplete {
  // Scrollable search results box
  .ds-dropdown-menu [class^=ds-dataset-] {
    max-height: 85vh;
    overflow-x: hidden;
  }
}
