// original CSS: https://github.com/algolia/examples/blob/master/instant-search/instantsearch.js/assets/style.css
// original CSS customized and converted to SCSS with http://sebastianpontow.de/css2compass/

//colors
$color0: rgba(180, 162, 231, .1);
$color1: rgba(180, 162, 231, .2);
$color2: rgba(180, 162, 231, .1);
$color3: rgba(79, 171, 225, .2);
$color4: #eee;
$color5: #ed5565;
$color6: #999;
$color7: #868686;
$color8: #fff;
$color9: #383838;
$color10: rgb(117, 117, 117);
$color11: transparent;
// link-color: rgb(32, 139, 196);
$color12: rgba(32, 139, 196, .2); //link color lighter


.search-input {
  border-radius: 2px;
}

.algolia-docsearch-suggestion--highlight {
  background-color: $color3;
}

.algolia-autocomplete .ds-dropdown-menu {
  width: 558px;
}

@media (max-width: $mobile-width) {
  .search--container,
  .algolia-autocomplete,
  .docsearch {
    width: 100% !important;
    box-sizing: border-box !important;
  }

  .algolia-autocomplete .ds-dropdown-menu {
    min-width: 200px !important;
    // Extend input by the headers padding --> Span complete screen width
    width: calc(100% + 32px);

    .landing-header & {
      width: 100%;
    }
  }
}
