.main-topics {
  position: relative;
  top: -80px;
  max-width: $content-width;
  margin: auto;
  padding: 0 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);

  @media all and (max-width: $mobile-width) {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  li {
    display: block;
    background-color: $white;
    border-radius: 3px;

    box-shadow: 1px 3px 5px 2px $main-box-shadow;
    flex: 1 0 270px;
    min-width: 270px;

    @media all and (max-width: $mobile-width) {
      width: 100%;
      min-width: auto;
      flex: initial;
      margin: 20px 0 0;
    }

    a p, a:visited p {
      color: $black;
      vertical-align: bottom;
    }

    .wrapper {
      padding: 40px 30px;
      max-width: 320px;

      img {
        height: 110px;
        margin: 20px auto 5px;
        transition: .2s cubic-bezier(0, 0, 0, 1);
      }

      h2 {
        border-bottom: none
      }

      .topic-info {
        transition: .2s cubic-bezier(0, 0, 0, 1);
      }

      @media all and (max-width: $mobile-width) {
        padding: 30px;
        max-width: initial;
      }
    }

    h2 {
      text-align: center;
      font-weight: 400;
    }

    a, a:visited {
      text-decoration: none;

      h2 {
        font-weight: bold;
        margin-top: 20px;
      }
    }
  }
}

.topic--background {
  background: white;
}

.topic--wrapper {
  position: relative;
}

.topic--header {
  color: #444;
  font-size: 1.2rem;
}

.topic--badge {
  position: absolute;
  top: 10px;
  left: 0;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: 400;
  text-transform: uppercase;

  &.-gray {
    background: #EEE;
    color: white;
  }

  &.-red {
    background: #CA6784;
    color: white;
  }

  &.-green {
    background: #69CA95;
    color: white;
  }
}

.popular-topics--container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.popular-topics {
  width: 100%;
  max-width: $content-width;
  margin: auto;
  padding: 0 30px 160px;

  h1 {
    text-align: center;
    color: $topic-ee-header-color;
  }

  @media all and (max-width: $mobile-width) {
    flex-wrap: wrap;
    padding-bottom: 80px;
    overflow: auto;
  }
}

.popular-topics--item {
  a {
    color: #333;

    &:hover {
      text-decoration: none;
    }
  }

  header {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
}
