---
source_path: docs/api/apiv3/endpoints/custom-actions.apib
---
<div><div class="description"></div><h1>Custom actions</h1><div class="panel panel-default"><div class="panel-body"><p>Custom actions are a preconfigured set of changes that are applied to a work package.</p>
<p>Currently, this resource is a stub. The conditions and changes defined for the custom action are not yet present in the resource.</p>
<h2 id="header-actions-1">Actions <a class="permalink" href="#header-actions-1" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Link</th>
<th>Description</th>
<th>Condition</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">executeImmediately</td>
<td>Apply the action to a work package</td>
<td></td>
</tr>
</tbody>
</table>
<h2 id="header-linked-properties-1">Linked Properties <a class="permalink" href="#header-linked-properties-1" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Property</th>
<th>Description</th>
<th>Type</th>
<th>Constraints</th>
<th>Supported operations</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">self</td>
<td>This custom action</td>
<td>CustomAction</td>
<td>not null</td>
<td>READ</td>
</tr>
</tbody>
</table>
<h2 id="header-local-properties-1">Local Properties <a class="permalink" href="#header-local-properties-1" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Property</th>
<th>Description</th>
<th>Type</th>
<th>Constraints</th>
<th>Supported operations</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">id</td>
<td>Custom action id</td>
<td>Integer</td>
<td>x &gt; 0</td>
<td>READ</td>
</tr>
<tr>
<td style="text-align:center">name</td>
<td>The user selected name of the custom action</td>
<td>String</td>
<td></td>
<td>READ</td>
</tr>
<tr>
<td style="text-align:center">description</td>
<td>A text describing the custom action</td>
<td>String</td>
<td></td>
<td>READ</td>
</tr>
</tbody>
</table>
<h2 id="custom-actions-custom-action">Custom Action&nbsp;<a href="#custom-actions-custom-action" class="permalink"><i class="fa fa-link"></i></a></h2><section id="custom-actions-custom-action-get" class="panel panel-info"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">View custom action</span></div><div style="float:left"><a href="#custom-actions-custom-action-get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/custom_actions/{custom_action_id}</code></div></div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>custom_action_id</dt><dd><code>integer</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>1</span></span><p>The id of the custom action to fetch</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-3e4d46df62511d8703ed8277f02d068c" class="pull-right collapsed">Toggle details</a></li><li id="collapse-3e4d46df62511d8703ed8277f02d068c" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"CustomAction"</span></span>,
  "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Change project and type"</span></span>,
  "<span class="hljs-attribute">description</span>": <span class="hljs-value"><span class="hljs-string">"Changes project and type in one go"</span></span>,
  "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">executeImmediately</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/apiChanges project and type in one go"</span></span>,
      "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Execute Change project and type"</span></span>,
      "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"post"</span>
    </span>}</span>,
    "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/custom_actions/2"</span></span>,
      "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Change project and type"</span>
    </span>}
  </span>}
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-9bc52eb192c94b7d711a3e0fe15ed57e" class="pull-right collapsed">Toggle details</a></li><li id="collapse-9bc52eb192c94b7d711a3e0fe15ed57e" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client does not have sufficient permissions.</p>
<p><strong>Required permission:</strong> edit work packages in any project</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not authorized to access this resource."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>404</code></strong><a data-toggle="collapse" data-target="#collapse-a530afe9b9938c4cff8dc131c7c02344" class="pull-right collapsed">Toggle details</a></li><li id="collapse-a530afe9b9938c4cff8dc131c7c02344" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the custom action does not exist.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:NotFound"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The requested resource could not be found."</span>
</span>}</code></pre></li></ul></section><h2 id="custom-actions-execute-custom-action">Execute custom action&nbsp;<a href="#custom-actions-execute-custom-action" class="permalink"><i class="fa fa-link"></i></a></h2><section id="custom-actions-execute-custom-action-post" class="panel panel-success"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">Execute custom action</span></div><div style="float:left"><a href="#custom-actions-execute-custom-action-post" class="btn btn-xs btn-success">POST</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/custom_actions/{custom_action_id}/execute</code></div></div><div class="panel-body"><p>A POST to this end point executes the custom action on the work package provided in the payload. The altered work package will be returned. In order to avoid executing
the custom action unbeknown to a change that has already taken place, the client has to provide the work package’s current lockVersion.</p>
</div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>custom_action_id</dt><dd><code>integer</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>1</span></span><p>The id of the custom action to execute</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Request&nbsp;&nbsp;<code>Execute custom action</code></strong><a data-toggle="collapse" data-target="#collapse-34fd737a39a1663e28dc6bba3d0dcf22" class="pull-right collapsed">Toggle details</a></li><li id="collapse-34fd737a39a1663e28dc6bba3d0dcf22" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">lockVersion</span>": <span class="hljs-value"><span class="hljs-string">"3"</span></span>,
  "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">workPackage</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/work_packages/42"</span>
    </span>}
  </span>}
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-b11987110ba36c16de6d81ef151f9a81" class="pull-right collapsed">Toggle details</a></li><li id="collapse-b11987110ba36c16de6d81ef151f9a81" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>Returns the work package resource that was updated. See [<span class="hljs-link_label">Work packages</span>](<span class="hljs-link_url">work-packages</span>) section for details.</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>400</code></strong><a data-toggle="collapse" data-target="#collapse-7617c9c6fa3109d5189635b404f19fad" class="pull-right collapsed">Toggle details</a></li><li id="collapse-7617c9c6fa3109d5189635b404f19fad" class="list-group-item panel-collapse collapse"><div class="description"><p>Occurs when the client did not send a valid JSON object in the request body.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:InvalidRequestBody"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The request body was not a single JSON object."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-06b1ed8613e3d7937abba8a6f844b413" class="pull-right collapsed">Toggle details</a></li><li id="collapse-06b1ed8613e3d7937abba8a6f844b413" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client does not have sufficient permissions.</p>
<p><strong>Required permission:</strong> edit work packages - Additional permissions might be required based on the custom action.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not authorized to access this resource."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>404</code></strong><a data-toggle="collapse" data-target="#collapse-3f431fd85b987a6784a4644dd933f93c" class="pull-right collapsed">Toggle details</a></li><li id="collapse-3f431fd85b987a6784a4644dd933f93c" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the custom action does not exist.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:NotFound"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The requested resource could not be found."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>409</code></strong><a data-toggle="collapse" data-target="#collapse-9e20a455450227a81ba0ae230a4e67c0" class="pull-right collapsed">Toggle details</a></li><li id="collapse-9e20a455450227a81ba0ae230a4e67c0" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client provided an outdated lockVersion or no lockVersion at all.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:UpdateConflict"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"Couldn't update the resource because of conflicting modifications."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>422</code></strong><a data-toggle="collapse" data-target="#collapse-c85c02ba9998200e0f3e525090e8d2be" class="pull-right collapsed">Toggle details</a></li><li id="collapse-c85c02ba9998200e0f3e525090e8d2be" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the custom action was not executed successfully e.g. when a constraint on a work package property was violated.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:PropertyConstraintViolation"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"Delay must be a number greater than or equal to 0"</span></span>,
  "<span class="hljs-attribute">_embedded</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">details</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">attribute</span>": <span class="hljs-value"><span class="hljs-string">"delay"</span>
    </span>}
  </span>}
</span>}</code></pre></li></ul></section></div></div></div>
