---
source_path: docs/api/apiv3/endpoints/documents.apib
---
<div><div class="description"></div><h1>Documents</h1><div class="panel panel-default"><div class="panel-body"><p>A document is a file containing a list of attachments.</p>
<p><em>Please note, that the endpoint is only a stub for now.</em></p>
<h2 id="header-actions-1">Actions <a class="permalink" href="#header-actions-1" aria-hidden="true">¶</a></h2>
<p>None yet</p>
<h2 id="header-linked-properties-1">Linked Properties <a class="permalink" href="#header-linked-properties-1" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Link</th>
<th>Description</th>
<th>Type</th>
<th>Constraints</th>
<th>Supported operations</th>
<th>Condition</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">self</td>
<td>This document</td>
<td>Document</td>
<td>not null</td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">project</td>
<td>The project the document is in</td>
<td>Project</td>
<td>not null</td>
<td>READ / WRITE</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">attachments</td>
<td>The attachments belonging to the document</td>
<td>[]Attachment</td>
<td>not null</td>
<td>READ / WRITE</td>
<td></td>
</tr>
</tbody>
</table>
<h2 id="header-local-properties-1">Local Properties <a class="permalink" href="#header-local-properties-1" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Property</th>
<th>Description</th>
<th>Type</th>
<th>Constraints</th>
<th>Supported operations</th>
<th>Condition</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">id</td>
<td>Document’s id</td>
<td>Integer</td>
<td>x &gt; 0</td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">title</td>
<td>The title chosen for the collection of documents</td>
<td>String</td>
<td>max 60 characters</td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">description</td>
<td>A text describing the documents</td>
<td>String</td>
<td></td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">createdAt</td>
<td>The time the document was created at</td>
<td>DateTime</td>
<td></td>
<td>READ</td>
<td></td>
</tr>
</tbody>
</table>
<h2 id="documents-document">Document&nbsp;<a href="#documents-document" class="permalink"><i class="fa fa-link"></i></a></h2><section id="documents-document-get" class="panel panel-info"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">View document</span></div><div style="float:left"><a href="#documents-document-get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/documents/{id}</code></div></div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>id</dt><dd><code>integer</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>1</span></span><p>document id</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-ca056799e0f9776ab16d46f179c4fff4" class="pull-right collapsed">Toggle details</a></li><li id="collapse-ca056799e0f9776ab16d46f179c4fff4" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code><span class="hljs-collection">{
    <span class="hljs-string">"_type"</span>: <span class="hljs-string">"Document"</span>,
    <span class="hljs-string">"id"</span>: <span class="hljs-number">1</span>,
    <span class="hljs-string">"title"</span>: <span class="hljs-string">"Some other document"</span>,
    <span class="hljs-string">"description"</span>: <span class="hljs-collection">{
        <span class="hljs-string">"format"</span>: <span class="hljs-string">"markdown"</span>,
        <span class="hljs-string">"raw"</span>: <span class="hljs-string">"Videlicet deserunt aequitas cognatus. Concedo quia est quia pariatur vorago vallum. Calco autem atavus accusamus conscendo cornu ulterius. Tam patria ago consectetur ventito sustineo nihil caecus. Supra officiis eos velociter somniculosus tonsor qui. Suffragium aduro arguo angustus cogito quia tolero vulnus. Supplanto sortitus cresco apud vestrum qui."</span>,
        <span class="hljs-string">"html"</span>: <span class="hljs-string">"&lt;p&gt;Videlicet deserunt aequitas cognatus. Concedo quia est quia pariatur vorago vallum. Calco autem atavus accusamus conscendo cornu ulterius. Tam patria ago consectetur ventito sustineo nihil caecus. Supra officiis eos velociter somniculosus tonsor qui. Suffragium aduro arguo angustus cogito quia tolero vulnus. Supplanto sortitus cresco apud vestrum qui.&lt;/p&gt;"</span>
    }</span>,
    <span class="hljs-string">"createdAt"</span>: <span class="hljs-string">"2018-12-10T20:53:39Z"</span>,
    <span class="hljs-string">"_links"</span>: <span class="hljs-collection">{
        <span class="hljs-string">"attachments"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/documents/1/attachments"</span>
        }</span>,
        <span class="hljs-string">"addAttachment"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/documents/1/attachments"</span>,
            <span class="hljs-string">"method"</span>: <span class="hljs-string">"post"</span>
        }</span>,
        <span class="hljs-string">"self"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/documents/1"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"Some document"</span>,
        }</span>,
        <span class="hljs-string">"project"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/projects/19"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"Some project"</span>
        }</span>
    }</span>,
    <span class="hljs-string">"_embedded"</span>: <span class="hljs-collection">{
        <span class="hljs-string">"project"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"_type"</span>: <span class="hljs-string">"Project"</span>,
            &lt;-- omitted for brevity --&gt;
            }</span>
        }</span>,
        attachments<span class="hljs-string">": {
            "</span>_type<span class="hljs-string">": "</span>Collection<span class="hljs-string">",
            "</span>total<span class="hljs-string">": 2,
            "</span>count<span class="hljs-string">": 2,
            "</span>_embedded<span class="hljs-string">": {
                &lt;-- omitted for brevity --&gt;
            },
            "</span>_links<span class="hljs-string">": {
                "</span>self<span class="hljs-string">": {
                    "</span>href<span class="hljs-string">": "</span>/api/v3/documents/1/attachments<span class="hljs-string">"
                }
            }
        },
    }
}
</span></span></code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>404</code></strong><a data-toggle="collapse" data-target="#collapse-624ad8bc5cb25747460a628a2dab6413" class="pull-right collapsed">Toggle details</a></li><li id="collapse-624ad8bc5cb25747460a628a2dab6413" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the document does not exist or if the user does not have permission to view it.</p>
<p><strong>Required permission</strong> <code>view documents</code> in the project the document belongs to</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:NotFound"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The requested resource could not be found."</span>
</span>}</code></pre></li></ul></section><h2 id="documents-documents">Documents&nbsp;<a href="#documents-documents" class="permalink"><i class="fa fa-link"></i></a></h2><section id="documents-documents-get" class="panel panel-info"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">List Documents</span></div><div style="float:left"><a href="#documents-documents-get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/documents{?offset,pageSize,sortBy}</code></div></div><div class="panel-body"><p>The documents returned depend on the provided parameters and also on the requesting user’s permissions.</p>
</div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>offset</dt><dd><code>integer</code>&nbsp;<span>(optional)</span>&nbsp;<span class="text-info default"><strong>Default:&nbsp;</strong><span>1</span></span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>25</span></span><p>Page number inside the requested collection.</p>
</dd><dt>pageSize</dt><dd><code>integer</code>&nbsp;<span>(optional)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>25</span></span><p>Number of elements to display per page.</p>
</dd><dt>sortBy</dt><dd><code>string</code>&nbsp;<span>(optional)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>[[&quot;created_at&quot;, &quot;asc&quot;]]</span></span><p>JSON specifying sort criteria.
Accepts the same format as returned by the <a href="#queries">queries</a> endpoint. Currently supported sorts are:</p>
<ul>
<li>
<p>id: Sort by primary key</p>
</li>
<li>
<p>created_on: Sort by document creation datetime</p>
</li>
</ul>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-dcfbb5fd40fbf1507ceadd44b93dfe2b" class="pull-right collapsed">Toggle details</a></li><li id="collapse-dcfbb5fd40fbf1507ceadd44b93dfe2b" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
    "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Collection"</span></span>,
    "<span class="hljs-attribute">total</span>": <span class="hljs-value"><span class="hljs-number">2</span></span>,
    "<span class="hljs-attribute">count</span>": <span class="hljs-value"><span class="hljs-number">2</span></span>,
    "<span class="hljs-attribute">pageSize</span>": <span class="hljs-value"><span class="hljs-number">30</span></span>,
    "<span class="hljs-attribute">offset</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
    "<span class="hljs-attribute">_embedded</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">elements</span>": <span class="hljs-value">[
            {
                "<span class="hljs-attribute">description</span>": <span class="hljs-value">{
                    "<span class="hljs-attribute">format</span>": <span class="hljs-value"><span class="hljs-string">"markdown"</span></span>,
                    "<span class="hljs-attribute">raw</span>": <span class="hljs-value"><span class="hljs-string">"Videlicet deserunt aequitas cognatus. Concedo quia est quia pariatur vorago vallum. Calco autem atavus accusamus conscendo cornu ulterius. Tam patria ago consectetur ventito sustineo nihil caecus. Supra officiis eos velociter somniculosus tonsor qui. Suffragium aduro arguo angustus cogito quia tolero vulnus. Supplanto sortitus cresco apud vestrum qui."</span></span>,
                    "<span class="hljs-attribute">html</span>": <span class="hljs-value"><span class="hljs-string">"&lt;p&gt;Videlicet deserunt aequitas cognatus. Concedo quia est quia pariatur vorago vallum. Calco autem atavus accusamus conscendo cornu ulterius. Tam patria ago consectetur ventito sustineo nihil caecus. Supra officiis eos velociter somniculosus tonsor qui. Suffragium aduro arguo angustus cogito quia tolero vulnus. Supplanto sortitus cresco apud vestrum qui.&lt;/p&gt;"</span>
                </span>}</span>,
                "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Document"</span></span>,
                "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
                "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Some other document"</span></span>,
                "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value"><span class="hljs-string">"2018-12-10T20:53:39Z"</span></span>,
                "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
                    "<span class="hljs-attribute">attachments</span>": <span class="hljs-value">{
                        "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/documents/1/attachments"</span>
                    </span>}</span>,
                    "<span class="hljs-attribute">addAttachment</span>": <span class="hljs-value">{
                        "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/documents/1/attachments"</span></span>,
                        "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"post"</span>
                    </span>}</span>,
                    "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
                        "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/documents/1"</span></span>,
                        "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Some document"</span></span>,
                    }</span>,
                    "<span class="hljs-attribute">project</span>": <span class="hljs-value">{
                        "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/projects/19"</span></span>,
                        "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Some project"</span>
                    </span>}
                </span>}
            </span>},
            {
                "<span class="hljs-attribute">description</span>": <span class="hljs-value">{
                    "<span class="hljs-attribute">format</span>": <span class="hljs-value"><span class="hljs-string">"markdown"</span></span>,
                    "<span class="hljs-attribute">raw</span>": <span class="hljs-value"><span class="hljs-string">"Videlicet deserunt aequitas cognatus. Concedo quia est quia pariatur vorago vallum. Calco autem atavus accusamus conscendo cornu ulterius. Tam patria ago consectetur ventito sustineo nihil caecus. Supra officiis eos velociter somniculosus tonsor qui. Suffragium aduro arguo angustus cogito quia tolero vulnus. Supplanto sortitus cresco apud vestrum qui."</span></span>,
                    "<span class="hljs-attribute">html</span>": <span class="hljs-value"><span class="hljs-string">"&lt;p&gt;Videlicet deserunt aequitas cognatus. Concedo quia est quia pariatur vorago vallum. Calco autem atavus accusamus conscendo cornu ulterius. Tam patria ago consectetur ventito sustineo nihil caecus. Supra officiis eos velociter somniculosus tonsor qui. Suffragium aduro arguo angustus cogito quia tolero vulnus. Supplanto sortitus cresco apud vestrum qui.&lt;/p&gt;"</span>
                </span>}</span>,
                "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Document"</span></span>,
                "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">2</span></span>,
                "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Some other document"</span></span>,
                "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value"><span class="hljs-string">"2018-12-10T20:55:54Z"</span></span>,
                "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
                    "<span class="hljs-attribute">attachments</span>": <span class="hljs-value">{
                        "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/documents/2/attachments"</span>
                    </span>}</span>,
                    "<span class="hljs-attribute">addAttachment</span>": <span class="hljs-value">{
                        "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/documents/2/attachments"</span></span>,
                        "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"post"</span>
                    </span>}</span>,
                    "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
                        "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/documents/2"</span></span>,
                        "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Some other document"</span>
                    </span>}</span>,
                    "<span class="hljs-attribute">project</span>": <span class="hljs-value">{
                        "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/projects/29"</span></span>,
                        "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Some other project"</span>
                    </span>}
                </span>}
            </span>}
        ]
    </span>}</span>,
    "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/documents?offset=1&amp;pageSize=30"</span>
        </span>}</span>,
        "<span class="hljs-attribute">jumpTo</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/documents?offset=%7Boffset%7D&amp;pageSize=30"</span></span>,
            "<span class="hljs-attribute">templated</span>": <span class="hljs-value"><span class="hljs-literal">true</span>
        </span>}</span>,
        "<span class="hljs-attribute">changeSize</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/documents?offset=1&amp;pageSize=%7Bsize%7D"</span></span>,
            "<span class="hljs-attribute">templated</span>": <span class="hljs-value"><span class="hljs-literal">true</span>
        </span>}
    </span>}
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>400</code></strong><a data-toggle="collapse" data-target="#collapse-f1a2fcf55ab0d80eb1018c9d8fca4b21" class="pull-right collapsed">Toggle details</a></li><li id="collapse-f1a2fcf55ab0d80eb1018c9d8fca4b21" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client sends invalid request parameters e.g. filters</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:InvalidQuery"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value">[
    <span class="hljs-string">"Filters Invalid filter does not exist."</span>
  ]
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-88f41e00790767f7a8ac569bd383e7ac" class="pull-right collapsed">Toggle details</a></li><li id="collapse-88f41e00790767f7a8ac569bd383e7ac" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client is not logged in and login is required.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not authorized to view this resource."</span>
</span>}</code></pre></li></ul></section></div></div></div>
