<div><div class="description"></div><h1>Grids</h1><div class="panel panel-default"><div class="panel-body"><p>A grid is a layout for a page or a part of the page of the OpenProject application. It defines the structure (number of rows and number of columns) as well as the contents of the page.</p>
<p>The contents is defined by <code>GridWidget</code>s. While a <code>GridWidget</code> is it’s own type, it is not a resource in it’s own right as it is an intrinsic part of a <code>Grid</code>.</p>
<p>Depending on what page a grid is defined for, different widgets may be eligible to be placed on the grid. The page might also define the permissions needed for accessing, creating or modifiying the grid.</p>
<p>Currently, the following pages employ grids:</p>
<ul>
<li>/my/page: The my page every user has. Only a user can access or modify their “my page”.</li>
</ul>
<p><em>The delete action is not yet supported</em></p>
<h2 id="header-actions-1">Actions <a class="permalink" href="#header-actions-1" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Link</th>
<th>Description</th>
<th>Condition</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">updateImmediately</td>
<td>Directly perform edits on this grid</td>
<td><strong>Permission</strong>: depends on the page the grid is defined for</td>
</tr>
<tr>
<td style="text-align:center">update</td>
<td>Validate edits on the grid via a form resource before commiting</td>
<td><strong>Permission</strong>: depends on the page the grid is defined for</td>
</tr>
</tbody>
</table>
<h2 id="header-linked-properties-1">Linked Properties <a class="permalink" href="#header-linked-properties-1" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Link</th>
<th>Description</th>
<th>Type</th>
<th>Constraints</th>
<th>Supported operations</th>
<th>Condition</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">self</td>
<td>This grid</td>
<td>Grid</td>
<td>not null</td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">page</td>
<td>The url of the page the grid is defined for</td>
<td>url</td>
<td>not null</td>
<td>READ / WRITE</td>
<td>The page cannot be changed after the creation</td>
</tr>
</tbody>
</table>
<h2 id="header-local-properties-1">Local Properties <a class="permalink" href="#header-local-properties-1" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Property</th>
<th>Description</th>
<th>Type</th>
<th>Constraints</th>
<th>Supported operations</th>
<th>Condition</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">id</td>
<td>Grid’s id</td>
<td>Integer</td>
<td>x &gt; 0</td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">rowCount</td>
<td>The number of rows the grid has</td>
<td>Integer</td>
<td>x &gt; 0</td>
<td>READ/WRITE</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">columnCount</td>
<td>The number of columns the grid has</td>
<td>Integer</td>
<td>x &gt; 0</td>
<td>READ/WRITE</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">widgets</td>
<td>The set of <code>GridWidget</code>s selected for the grid</td>
<td>[]GridWidget</td>
<td></td>
<td>READ/WRITE</td>
<td>The widgets cannot overlap</td>
</tr>
<tr>
<td style="text-align:center">createdAt</td>
<td>The time the grid was created</td>
<td>DateTime</td>
<td></td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">updatedAt</td>
<td>The time the grid was last updated</td>
<td>DateTime</td>
<td></td>
<td>READ</td>
<td></td>
</tr>
</tbody>
</table>
<h2 id="header-gridwidget-properties-1">GridWidget Properties <a class="permalink" href="#header-gridwidget-properties-1" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Property</th>
<th>Description</th>
<th>Type</th>
<th>Constraints</th>
<th>Supported operations</th>
<th>Condition</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">identifier</td>
<td>The kind of widget</td>
<td>String</td>
<td>not null</td>
<td>READ/WRITE</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">startRow</td>
<td>The row the widget starts at (1 based)</td>
<td>Integer</td>
<td>x &gt; 0, x &lt; rowCount of the grid, x &lt; endRow</td>
<td>READ/WRITE</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">endRow</td>
<td>The row the widget ends. The widget’s area does not include the row itself.</td>
<td>Integer</td>
<td>x &gt; 0, x &lt;= rowCount of the grid, x &gt; startRow</td>
<td>READ/WRITE</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">startColumn</td>
<td>The column the widget starts at (1 based)</td>
<td>Integer</td>
<td>x &gt; 0, x &lt; columnCount of the grid, x &lt; endColumn</td>
<td>READ/WRITE</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">endColumn</td>
<td>The column the widget ends. The widget’s area does not include the column itself.</td>
<td>Integer</td>
<td>x &gt; 0, x &lt;= columnCount of the grid, x &gt; startColumn</td>
<td>READ/WRITE</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">options</td>
<td>An options hash of values customizable by the widget</td>
<td>JSON</td>
<td></td>
<td>READ/WRITE</td>
<td></td>
</tr>
</tbody>
</table>
<h2 id="grids-grid">Grid&nbsp;<a href="#grids-grid" class="permalink"><i class="fa fa-link"></i></a></h2><section id="grids-grid-get" class="panel panel-info"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">View grid</span></div><div style="float:left"><a href="#grids-grid-get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/grids/{id}</code></div></div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>id</dt><dd><code>integer</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>1</span></span><p>grid id</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-dc64441a3b535290fa9913f7ee2b2f79" class="pull-right collapsed">Toggle details</a></li><li id="collapse-dc64441a3b535290fa9913f7ee2b2f79" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Grid"</span></span>,
  "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">2</span></span>,
  "<span class="hljs-attribute">rowCount</span>": <span class="hljs-value"><span class="hljs-number">8</span></span>,
  "<span class="hljs-attribute">columnCount</span>": <span class="hljs-value"><span class="hljs-number">5</span></span>,
  "<span class="hljs-attribute">widgets</span>": <span class="hljs-value">[
    {
      "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"GridWidget"</span></span>,
      "<span class="hljs-attribute">identifier</span>": <span class="hljs-value"><span class="hljs-string">"time_entries_current_user"</span></span>,
      "<span class="hljs-attribute">startRow</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">endRow</span>": <span class="hljs-value"><span class="hljs-number">8</span></span>,
      "<span class="hljs-attribute">startColumn</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">endColumn</span>": <span class="hljs-value"><span class="hljs-number">3</span>
    </span>},
    {
      "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"GridWidget"</span></span>,
      "<span class="hljs-attribute">identifier</span>": <span class="hljs-value"><span class="hljs-string">"news"</span></span>,
      "<span class="hljs-attribute">startRow</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
      "<span class="hljs-attribute">endRow</span>": <span class="hljs-value"><span class="hljs-number">8</span></span>,
      "<span class="hljs-attribute">startColumn</span>": <span class="hljs-value"><span class="hljs-number">4</span></span>,
      "<span class="hljs-attribute">endColumn</span>": <span class="hljs-value"><span class="hljs-number">5</span>
    </span>},
    {
      "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"GridWidget"</span></span>,
      "<span class="hljs-attribute">identifier</span>": <span class="hljs-value"><span class="hljs-string">"documents"</span></span>,
      "<span class="hljs-attribute">startRow</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">endRow</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
      "<span class="hljs-attribute">startColumn</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
      "<span class="hljs-attribute">endColumn</span>": <span class="hljs-value"><span class="hljs-number">6</span>
    </span>}
  ]</span>,
  "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value"><span class="hljs-string">"2018-12-03T16:58:30Z"</span></span>,
  "<span class="hljs-attribute">updatedAt</span>": <span class="hljs-value"><span class="hljs-string">"2018-12-13T19:36:40Z"</span></span>,
  "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">scope</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/my/page"</span></span>,
      "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"text/html"</span>
    </span>}</span>,
    "<span class="hljs-attribute">updateImmediately</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/grids/2"</span></span>,
      "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"patch"</span>
    </span>}</span>,
    "<span class="hljs-attribute">update</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/grids/2/form"</span></span>,
      "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"post"</span>
    </span>}</span>,
    "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/grids/2"</span>
    </span>}
  </span>}
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>404</code></strong><a data-toggle="collapse" data-target="#collapse-a6c8f7e2853eaf75b607aa489fe6dc37" class="pull-right collapsed">Toggle details</a></li><li id="collapse-a6c8f7e2853eaf75b607aa489fe6dc37" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the Grid does not exist or if the user does not have permission to view it.</p>
<p><strong>Required permission</strong> depends on the page the grid is defined for</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:NotFound"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The requested resource could not be found."</span>
</span>}</code></pre></li></ul></section><h2 id="grids-grids">Grids&nbsp;<a href="#grids-grids" class="permalink"><i class="fa fa-link"></i></a></h2><section id="grids-grids-get" class="panel panel-info"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">List Grids</span></div><div style="float:left"><a href="#grids-grids-get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/grids{?offset,pageSize,filters,sortBy}</code></div></div><div class="panel-body"><p>Lists all grids matching the provided filters and being part of the selected query page. The grids returned will also depend on the permissions of the requesting user.</p>
</div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>offset</dt><dd><code>integer</code>&nbsp;<span>(optional)</span>&nbsp;<span class="text-info default"><strong>Default:&nbsp;</strong><span>1</span></span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>25</span></span><p>Page number inside the requested collection.</p>
</dd><dt>pageSize</dt><dd><code>integer</code>&nbsp;<span>(optional)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>25</span></span><p>Number of elements to display per page.</p>
</dd><dt>filters</dt><dd><code>string</code>&nbsp;<span>(optional)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>[{ &quot;page&quot;: { &quot;operator&quot;: &quot;=&quot;, &quot;values&quot;: [&quot;/my/page&quot;] } }]</span></span><p>JSON specifying filter conditions.
Accepts the same format as returned by the <a href="#queries">queries</a> endpoint. Currently supported filters are:</p>
<ul>
<li>page: Filter grid by work package</li>
</ul>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-a8c136419c1c5ac77d5abddc690c27a7" class="pull-right collapsed">Toggle details</a></li><li id="collapse-a8c136419c1c5ac77d5abddc690c27a7" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Grid"</span></span>,
  "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">2</span></span>,
  "<span class="hljs-attribute">rowCount</span>": <span class="hljs-value"><span class="hljs-number">8</span></span>,
  "<span class="hljs-attribute">columnCount</span>": <span class="hljs-value"><span class="hljs-number">5</span></span>,
  "<span class="hljs-attribute">widgets</span>": <span class="hljs-value">[
    {
      "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"GridWidget"</span></span>,
      "<span class="hljs-attribute">identifier</span>": <span class="hljs-value"><span class="hljs-string">"time_entries_current_user"</span></span>,
      "<span class="hljs-attribute">startRow</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">endRow</span>": <span class="hljs-value"><span class="hljs-number">8</span></span>,
      "<span class="hljs-attribute">startColumn</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">endColumn</span>": <span class="hljs-value"><span class="hljs-number">3</span>
    </span>},
    {
      "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"GridWidget"</span></span>,
      "<span class="hljs-attribute">identifier</span>": <span class="hljs-value"><span class="hljs-string">"news"</span></span>,
      "<span class="hljs-attribute">startRow</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
      "<span class="hljs-attribute">endRow</span>": <span class="hljs-value"><span class="hljs-number">8</span></span>,
      "<span class="hljs-attribute">startColumn</span>": <span class="hljs-value"><span class="hljs-number">4</span></span>,
      "<span class="hljs-attribute">endColumn</span>": <span class="hljs-value"><span class="hljs-number">5</span>
    </span>},
    {
      "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"GridWidget"</span></span>,
      "<span class="hljs-attribute">identifier</span>": <span class="hljs-value"><span class="hljs-string">"documents"</span></span>,
      "<span class="hljs-attribute">startRow</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">endRow</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
      "<span class="hljs-attribute">startColumn</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
      "<span class="hljs-attribute">endColumn</span>": <span class="hljs-value"><span class="hljs-number">6</span>
    </span>}
  ]</span>,
  "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value"><span class="hljs-string">"2018-12-03T16:58:30Z"</span></span>,
  "<span class="hljs-attribute">updatedAt</span>": <span class="hljs-value"><span class="hljs-string">"2018-12-13T19:36:40Z"</span></span>,
  "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">scope</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/my/page"</span></span>,
      "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"text/html"</span>
    </span>}</span>,
    "<span class="hljs-attribute">updateImmediately</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/grids/2"</span></span>,
      "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"patch"</span>
    </span>}</span>,
    "<span class="hljs-attribute">update</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/grids/2/form"</span></span>,
      "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"post"</span>
    </span>}</span>,
    "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/grids/2"</span>
    </span>}
  </span>}
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>400</code></strong><a data-toggle="collapse" data-target="#collapse-4311938b40c1ce825f954b17d990ff5e" class="pull-right collapsed">Toggle details</a></li><li id="collapse-4311938b40c1ce825f954b17d990ff5e" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client sends invalid request parameters e.g. filters</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:InvalidQuery"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value">[
    <span class="hljs-string">"Filters Invalid filter does not exist."</span>
  ]
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-d349884dfc69a7e994abb5fbe8e0a65c" class="pull-right collapsed">Toggle details</a></li><li id="collapse-d349884dfc69a7e994abb5fbe8e0a65c" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client is not logged in and login is required.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not authorized to view this resource."</span>
</span>}</code></pre></li></ul></section><section id="grids-grids-post" class="panel panel-success"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">Create Grid</span></div><div style="float:left"><a href="#grids-grids-post" class="btn btn-xs btn-success">POST</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/grids{?offset,pageSize,filters,sortBy}</code></div></div><div class="panel-body"><p>Creates a new grid applying the attributes provided in the body. The constraints applied to the grid depend on the page the grid is placed in which is why the create form end point should be used to be guided when wanting to create a grid.</p>
</div><ul class="list-group"><li class="list-group-item"><strong>Request&nbsp;&nbsp;<code>Create grid</code></strong><a data-toggle="collapse" data-target="#collapse-f3d395571e356b1fcab2753f81d7caf6" class="pull-right collapsed">Toggle details</a></li><li id="collapse-f3d395571e356b1fcab2753f81d7caf6" class="list-group-item panel-collapse collapse"><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">rowCount</span>": <span class="hljs-value"><span class="hljs-number">8</span></span>,
  "<span class="hljs-attribute">columnCount</span>": <span class="hljs-value"><span class="hljs-number">5</span></span>,
  "<span class="hljs-attribute">widgets</span>": <span class="hljs-value">[
    {
      "<span class="hljs-attribute">identifier</span>": <span class="hljs-value"><span class="hljs-string">"time_entries_current_user"</span></span>,
      "<span class="hljs-attribute">startRow</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">endRow</span>": <span class="hljs-value"><span class="hljs-number">8</span></span>,
      "<span class="hljs-attribute">startColumn</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">endColumn</span>": <span class="hljs-value"><span class="hljs-number">3</span>
    </span>},
    {
      "<span class="hljs-attribute">identifier</span>": <span class="hljs-value"><span class="hljs-string">"news"</span></span>,
      "<span class="hljs-attribute">startRow</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
      "<span class="hljs-attribute">endRow</span>": <span class="hljs-value"><span class="hljs-number">8</span></span>,
      "<span class="hljs-attribute">startColumn</span>": <span class="hljs-value"><span class="hljs-number">4</span></span>,
      "<span class="hljs-attribute">endColumn</span>": <span class="hljs-value"><span class="hljs-number">5</span>
    </span>},
    {
      "<span class="hljs-attribute">identifier</span>": <span class="hljs-value"><span class="hljs-string">"documents"</span></span>,
      "<span class="hljs-attribute">startRow</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">endRow</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
      "<span class="hljs-attribute">startColumn</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
      "<span class="hljs-attribute">endColumn</span>": <span class="hljs-value"><span class="hljs-number">6</span>
    </span>}
  ]</span>,
  "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">scope</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/my/page"</span>
    </span>}
  </span>}
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>201</code></strong><a data-toggle="collapse" data-target="#collapse-10130a1d0185291115ef15ee778c37c9" class="pull-right collapsed">Toggle details</a></li><li id="collapse-10130a1d0185291115ef15ee778c37c9" class="list-group-item panel-collapse collapse"><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Grid"</span></span>,
  "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">2</span></span>,
  "<span class="hljs-attribute">rowCount</span>": <span class="hljs-value"><span class="hljs-number">8</span></span>,
  "<span class="hljs-attribute">columnCount</span>": <span class="hljs-value"><span class="hljs-number">5</span></span>,
  "<span class="hljs-attribute">widgets</span>": <span class="hljs-value">[
    {
      "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"GridWidget"</span></span>,
      "<span class="hljs-attribute">identifier</span>": <span class="hljs-value"><span class="hljs-string">"time_entries_current_user"</span></span>,
      "<span class="hljs-attribute">startRow</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">endRow</span>": <span class="hljs-value"><span class="hljs-number">8</span></span>,
      "<span class="hljs-attribute">startColumn</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">endColumn</span>": <span class="hljs-value"><span class="hljs-number">3</span>
    </span>},
    {
      "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"GridWidget"</span></span>,
      "<span class="hljs-attribute">identifier</span>": <span class="hljs-value"><span class="hljs-string">"news"</span></span>,
      "<span class="hljs-attribute">startRow</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
      "<span class="hljs-attribute">endRow</span>": <span class="hljs-value"><span class="hljs-number">8</span></span>,
      "<span class="hljs-attribute">startColumn</span>": <span class="hljs-value"><span class="hljs-number">4</span></span>,
      "<span class="hljs-attribute">endColumn</span>": <span class="hljs-value"><span class="hljs-number">5</span>
    </span>},
    {
      "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"GridWidget"</span></span>,
      "<span class="hljs-attribute">identifier</span>": <span class="hljs-value"><span class="hljs-string">"documents"</span></span>,
      "<span class="hljs-attribute">startRow</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">endRow</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
      "<span class="hljs-attribute">startColumn</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
      "<span class="hljs-attribute">endColumn</span>": <span class="hljs-value"><span class="hljs-number">6</span>
    </span>}
  ]</span>,
  "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value"><span class="hljs-string">"2018-12-03T16:58:30Z"</span></span>,
  "<span class="hljs-attribute">updatedAt</span>": <span class="hljs-value"><span class="hljs-string">"2018-12-13T19:36:40Z"</span></span>,
  "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">scope</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/my/page"</span></span>,
      "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"text/html"</span>
    </span>}</span>,
    "<span class="hljs-attribute">updateImmediately</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/grids/2"</span></span>,
      "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"patch"</span>
    </span>}</span>,
    "<span class="hljs-attribute">update</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/grids/2/form"</span></span>,
      "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"post"</span>
    </span>}</span>,
    "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/grids/2"</span>
    </span>}
  </span>}
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>400</code></strong><a data-toggle="collapse" data-target="#collapse-e064c4031ef773b6a72d58b9c5c5baa1" class="pull-right collapsed">Toggle details</a></li><li id="collapse-e064c4031ef773b6a72d58b9c5c5baa1" class="list-group-item panel-collapse collapse"><div class="description"><p>Occurs when the client did not send a valid JSON object in the request body.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:InvalidRequestBody"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The request body was not a single JSON object."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-b3f826415d4ec142dc15161243c19119" class="pull-right collapsed">Toggle details</a></li><li id="collapse-b3f826415d4ec142dc15161243c19119" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client does not have sufficient permissions.</p>
<p><strong>Required permission:</strong> Depends on the page the grid is defined for.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not authorized to access this resource."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>422</code></strong><a data-toggle="collapse" data-target="#collapse-29edf4ad9d1e5a52bf927e5a1f602aac" class="pull-right collapsed">Toggle details</a></li><li id="collapse-29edf4ad9d1e5a52bf927e5a1f602aac" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if:</p>
<ul>
<li>a constraint for a property was violated (<code>PropertyConstraintViolation</code>)</li>
</ul>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code><span class="hljs-collection">{
    <span class="hljs-string">"_type"</span>: <span class="hljs-string">"Error"</span>,
    <span class="hljs-string">"errorIdentifier"</span>: <span class="hljs-string">"urn:openproject-org:api:v3:errors:PropertyConstraintViolation"</span>,
    <span class="hljs-string">"message"</span>: <span class="hljs-string">"Grid is invalid."</span>,
    <span class="hljs-string">"_embedded"</span>: <span class="hljs-collection">{
        <span class="hljs-string">"details"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"attribute"</span>=&gt;<span class="hljs-string">"rowCount"</span>,
            <span class="hljs-string">"message"</span>=&gt;<span class="hljs-string">"Number of rows must be greater than 0."</span>
        }</span>
    }</span>
}</span></code></pre></li></ul></section><section id="grids-grids-patch" class="panel panel-warning"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">Update Grid</span></div><div style="float:left"><a href="#grids-grids-patch" class="btn btn-xs btn-warning">PATCH</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/grids{?offset,pageSize,filters,sortBy}</code></div></div><div class="panel-body"><p>Updates the given grid by applying the attributes provided in the body.  The constraints applied to the grid depend on the page the grid is placed in which is why the create form end point should be used to be guided when wanting to update a grid.</p>
</div><ul class="list-group"><li class="list-group-item"><strong>Request&nbsp;&nbsp;<code>Update grid</code></strong><a data-toggle="collapse" data-target="#collapse-c0755f3a3972be4fc8c9abffaa8af49b" class="pull-right collapsed">Toggle details</a></li><li id="collapse-c0755f3a3972be4fc8c9abffaa8af49b" class="list-group-item panel-collapse collapse"><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">rowCount</span>": <span class="hljs-value"><span class="hljs-number">8</span></span>,
  "<span class="hljs-attribute">columnCount</span>": <span class="hljs-value"><span class="hljs-number">5</span></span>,
  "<span class="hljs-attribute">widgets</span>": <span class="hljs-value">[
    {
      "<span class="hljs-attribute">identifier</span>": <span class="hljs-value"><span class="hljs-string">"time_entries_current_user"</span></span>,
      "<span class="hljs-attribute">startRow</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">endRow</span>": <span class="hljs-value"><span class="hljs-number">8</span></span>,
      "<span class="hljs-attribute">startColumn</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">endColumn</span>": <span class="hljs-value"><span class="hljs-number">3</span>
    </span>},
    {
      "<span class="hljs-attribute">identifier</span>": <span class="hljs-value"><span class="hljs-string">"news"</span></span>,
      "<span class="hljs-attribute">startRow</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
      "<span class="hljs-attribute">endRow</span>": <span class="hljs-value"><span class="hljs-number">8</span></span>,
      "<span class="hljs-attribute">startColumn</span>": <span class="hljs-value"><span class="hljs-number">4</span></span>,
      "<span class="hljs-attribute">endColumn</span>": <span class="hljs-value"><span class="hljs-number">5</span>
    </span>},
    {
      "<span class="hljs-attribute">identifier</span>": <span class="hljs-value"><span class="hljs-string">"documents"</span></span>,
      "<span class="hljs-attribute">startRow</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">endRow</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
      "<span class="hljs-attribute">startColumn</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
      "<span class="hljs-attribute">endColumn</span>": <span class="hljs-value"><span class="hljs-number">6</span>
    </span>}
  ]
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-84e31c63f89463be66324b967509a528" class="pull-right collapsed">Toggle details</a></li><li id="collapse-84e31c63f89463be66324b967509a528" class="list-group-item panel-collapse collapse"><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Grid"</span></span>,
  "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">2</span></span>,
  "<span class="hljs-attribute">rowCount</span>": <span class="hljs-value"><span class="hljs-number">8</span></span>,
  "<span class="hljs-attribute">columnCount</span>": <span class="hljs-value"><span class="hljs-number">5</span></span>,
  "<span class="hljs-attribute">widgets</span>": <span class="hljs-value">[
    {
      "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"GridWidget"</span></span>,
      "<span class="hljs-attribute">identifier</span>": <span class="hljs-value"><span class="hljs-string">"time_entries_current_user"</span></span>,
      "<span class="hljs-attribute">startRow</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">endRow</span>": <span class="hljs-value"><span class="hljs-number">8</span></span>,
      "<span class="hljs-attribute">startColumn</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">endColumn</span>": <span class="hljs-value"><span class="hljs-number">3</span>
    </span>},
    {
      "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"GridWidget"</span></span>,
      "<span class="hljs-attribute">identifier</span>": <span class="hljs-value"><span class="hljs-string">"news"</span></span>,
      "<span class="hljs-attribute">startRow</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
      "<span class="hljs-attribute">endRow</span>": <span class="hljs-value"><span class="hljs-number">8</span></span>,
      "<span class="hljs-attribute">startColumn</span>": <span class="hljs-value"><span class="hljs-number">4</span></span>,
      "<span class="hljs-attribute">endColumn</span>": <span class="hljs-value"><span class="hljs-number">5</span>
    </span>},
    {
      "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"GridWidget"</span></span>,
      "<span class="hljs-attribute">identifier</span>": <span class="hljs-value"><span class="hljs-string">"documents"</span></span>,
      "<span class="hljs-attribute">startRow</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">endRow</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
      "<span class="hljs-attribute">startColumn</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
      "<span class="hljs-attribute">endColumn</span>": <span class="hljs-value"><span class="hljs-number">6</span>
    </span>}
  ]</span>,
  "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value"><span class="hljs-string">"2018-12-03T16:58:30Z"</span></span>,
  "<span class="hljs-attribute">updatedAt</span>": <span class="hljs-value"><span class="hljs-string">"2018-12-13T19:36:40Z"</span></span>,
  "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">scope</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/my/page"</span></span>,
      "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"text/html"</span>
    </span>}</span>,
    "<span class="hljs-attribute">updateImmediately</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/grids/2"</span></span>,
      "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"patch"</span>
    </span>}</span>,
    "<span class="hljs-attribute">update</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/grids/2/form"</span></span>,
      "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"post"</span>
    </span>}</span>,
    "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/grids/2"</span>
    </span>}
  </span>}
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>400</code></strong><a data-toggle="collapse" data-target="#collapse-a63565219121df1d1b5b4412c79c9653" class="pull-right collapsed">Toggle details</a></li><li id="collapse-a63565219121df1d1b5b4412c79c9653" class="list-group-item panel-collapse collapse"><div class="description"><p>Occurs when the client did not send a valid JSON object in the request body.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:InvalidRequestBody"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The request body was not a single JSON object."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-0b42651e7a6c382df3f2a6a3a3ceebb6" class="pull-right collapsed">Toggle details</a></li><li id="collapse-0b42651e7a6c382df3f2a6a3a3ceebb6" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client does not have sufficient permissions.</p>
<p><strong>Required permission:</strong> The permission depends on the page the grid is placed in.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not authorized to access this resource."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>422</code></strong><a data-toggle="collapse" data-target="#collapse-6b5f8de708672c938915726f862e5114" class="pull-right collapsed">Toggle details</a></li><li id="collapse-6b5f8de708672c938915726f862e5114" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if:</p>
<ul>
<li>a constraint for a property was violated (<code>PropertyConstraintViolation</code>)</li>
</ul>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code><span class="hljs-collection">{
    <span class="hljs-string">"_type"</span>: <span class="hljs-string">"Error"</span>,
    <span class="hljs-string">"errorIdentifier"</span>: <span class="hljs-string">"urn:openproject-org:api:v3:errors:PropertyConstraintViolation"</span>,
    <span class="hljs-string">"message"</span>: <span class="hljs-string">"Grid is invalid."</span>,
    <span class="hljs-string">"_embedded"</span>: <span class="hljs-collection">{
        <span class="hljs-string">"details"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"attribute"</span>=&gt;<span class="hljs-string">"rowCount"</span>,
            <span class="hljs-string">"message"</span>=&gt;<span class="hljs-string">"Number of rows must be greater than 0."</span>
        }</span>
    }</span>
}</span></code></pre></li></ul></section><h2 id="grids-grid-create-form">Grid Create Form&nbsp;<a href="#grids-grid-create-form" class="permalink"><i class="fa fa-link"></i></a></h2><p>This endpoint returns a form to allow a guided creation of a new grids.
The returned form will be pre-filled with default values for every property, if available.</p>
<p>For more details and all possible responses see the general specification of <a href="#forms">Forms</a>.
A page link must be provided in the body when calling this end point.</p>
<section id="grids-grid-create-form-post" class="panel panel-success"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">Grid Create Form</span></div><div style="float:left"><a href="#grids-grid-create-form-post" class="btn btn-xs btn-success">POST</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/grids/form</code></div></div><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-fdf874165011881d6cb25edf4736c1e5" class="pull-right collapsed">Toggle details</a></li><li id="collapse-fdf874165011881d6cb25edf4736c1e5" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code><span class="hljs-collection">{
    <span class="hljs-string">"_type"</span>: <span class="hljs-string">"Form"</span>,
    <span class="hljs-string">"_embedded"</span>: <span class="hljs-collection">{
        <span class="hljs-string">"payload"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"rowCount"</span>: <span class="hljs-number">6</span>,
            <span class="hljs-string">"columnCount"</span>: <span class="hljs-number">4</span>,
            <span class="hljs-string">"widgets"</span>: <span class="hljs-collection">[
                <span class="hljs-collection">{
                    <span class="hljs-string">"_type"</span>: <span class="hljs-string">"GridWidget"</span>,
                    <span class="hljs-string">"identifier"</span>: <span class="hljs-string">"work_packages_assigned"</span>,
                    <span class="hljs-string">"startRow"</span>: <span class="hljs-number">1</span>,
                    <span class="hljs-string">"endRow"</span>: <span class="hljs-number">7</span>,
                    <span class="hljs-string">"startColumn"</span>: <span class="hljs-number">1</span>,
                    <span class="hljs-string">"endColumn"</span>: <span class="hljs-number">3</span>
                }</span>,
                <span class="hljs-collection">{
                    <span class="hljs-string">"_type"</span>: <span class="hljs-string">"GridWidget"</span>,
                    <span class="hljs-string">"identifier"</span>: <span class="hljs-string">"work_packages_created"</span>,
                    <span class="hljs-string">"startRow"</span>: <span class="hljs-number">1</span>,
                    <span class="hljs-string">"endRow"</span>: <span class="hljs-number">7</span>,
                    <span class="hljs-string">"startColumn"</span>: <span class="hljs-number">3</span>,
                    <span class="hljs-string">"endColumn"</span>: <span class="hljs-number">5</span>
                }</span>
            ]</span>,
            <span class="hljs-string">"_links"</span>: <span class="hljs-collection">{
                <span class="hljs-string">"scope"</span>: <span class="hljs-collection">{
                    <span class="hljs-string">"href"</span>: <span class="hljs-string">"/my/page"</span>,
                    <span class="hljs-string">"type"</span>: <span class="hljs-string">"text/html"</span>
                }</span>
            }</span>
        }</span>,
        <span class="hljs-string">"schema"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"_type"</span>: <span class="hljs-string">"Schema"</span>,
            <span class="hljs-string">"id"</span>: <span class="hljs-collection">{
                <span class="hljs-string">"type"</span>: <span class="hljs-string">"Integer"</span>,
                <span class="hljs-string">"name"</span>: <span class="hljs-string">"ID"</span>,
                <span class="hljs-string">"required"</span>: <span class="hljs-literal">true</span>,
                <span class="hljs-string">"hasDefault"</span>: <span class="hljs-literal">false</span>,
                <span class="hljs-string">"writable"</span>: <span class="hljs-literal">false</span>
            }</span>,
            <span class="hljs-string">"createdAt"</span>: <span class="hljs-collection">{
                <span class="hljs-string">"type"</span>: <span class="hljs-string">"DateTime"</span>,
                <span class="hljs-string">"name"</span>: <span class="hljs-string">"Created on"</span>,
                <span class="hljs-string">"required"</span>: <span class="hljs-literal">true</span>,
                <span class="hljs-string">"hasDefault"</span>: <span class="hljs-literal">false</span>,
                <span class="hljs-string">"writable"</span>: <span class="hljs-literal">false</span>
            }</span>,
            <span class="hljs-string">"updatedAt"</span>: <span class="hljs-collection">{
                <span class="hljs-string">"type"</span>: <span class="hljs-string">"DateTime"</span>,
                <span class="hljs-string">"name"</span>: <span class="hljs-string">"Updated on"</span>,
                <span class="hljs-string">"required"</span>: <span class="hljs-literal">true</span>,
                <span class="hljs-string">"hasDefault"</span>: <span class="hljs-literal">false</span>,
                <span class="hljs-string">"writable"</span>: <span class="hljs-literal">false</span>
            }</span>,
            <span class="hljs-string">"rowCount"</span>: <span class="hljs-collection">{
                <span class="hljs-string">"type"</span>: <span class="hljs-string">"Integer"</span>,
                <span class="hljs-string">"name"</span>: <span class="hljs-string">"Number of rows"</span>,
                <span class="hljs-string">"required"</span>: <span class="hljs-literal">true</span>,
                <span class="hljs-string">"hasDefault"</span>: <span class="hljs-literal">false</span>,
                <span class="hljs-string">"writable"</span>: <span class="hljs-literal">true</span>
            }</span>,
            <span class="hljs-string">"columnCount"</span>: <span class="hljs-collection">{
                <span class="hljs-string">"type"</span>: <span class="hljs-string">"Integer"</span>,
                <span class="hljs-string">"name"</span>: <span class="hljs-string">"Number of columns"</span>,
                <span class="hljs-string">"required"</span>: <span class="hljs-literal">true</span>,
                <span class="hljs-string">"hasDefault"</span>: <span class="hljs-literal">false</span>,
                <span class="hljs-string">"writable"</span>: <span class="hljs-literal">true</span>
            }</span>,
            <span class="hljs-string">"scope"</span>: <span class="hljs-collection">{
                <span class="hljs-string">"type"</span>: <span class="hljs-string">"Href"</span>,
                <span class="hljs-string">"name"</span>: <span class="hljs-string">"Page"</span>,
                <span class="hljs-string">"required"</span>: <span class="hljs-literal">true</span>,
                <span class="hljs-string">"hasDefault"</span>: <span class="hljs-literal">false</span>,
                <span class="hljs-string">"writable"</span>: <span class="hljs-literal">true</span>,
                <span class="hljs-string">"_links"</span>: <span class="hljs-collection">{
                    <span class="hljs-string">"allowedValues"</span>: <span class="hljs-collection">[
                        <span class="hljs-collection">{
                            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/my/page"</span>,
                            <span class="hljs-string">"title"</span>: <span class="hljs-string">"My page"</span>
                        }</span>
                    ]</span>
                }</span>
            }</span>,
            <span class="hljs-string">"widgets"</span>: <span class="hljs-collection">{
                <span class="hljs-string">"type"</span>: <span class="hljs-string">"[]GridWidget"</span>,
                <span class="hljs-string">"name"</span>: <span class="hljs-string">"Widgets"</span>,
                <span class="hljs-string">"required"</span>: <span class="hljs-literal">true</span>,
                <span class="hljs-string">"hasDefault"</span>: <span class="hljs-literal">false</span>,
                <span class="hljs-string">"writable"</span>: <span class="hljs-literal">true</span>,
                <span class="hljs-string">"_embedded"</span>: <span class="hljs-collection">{
                    allowedValues: <span class="hljs-collection">[
                        <span class="hljs-collection">{
                            <span class="hljs-string">"_type"</span>: <span class="hljs-string">"GridWidget"</span>,
                            <span class="hljs-string">"identifier"</span>: <span class="hljs-string">"work_packages_assigned"</span>
                        }</span>,
                        <span class="hljs-collection">{
                            <span class="hljs-string">"_type"</span>: <span class="hljs-string">"GridWidget"</span>,
                            <span class="hljs-string">"identifier"</span>: <span class="hljs-string">"news"</span>
                        }</span>
                    ]</span>
                }</span>,
                <span class="hljs-string">"_links"</span>: <span class="hljs-collection">{}</span>
            }</span>,
            <span class="hljs-string">"_links"</span>: <span class="hljs-collection">{}</span>
        }</span>,
        <span class="hljs-string">"validationErrors"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"widgets"</span>: <span class="hljs-collection">{
                <span class="hljs-string">"_type"</span>: <span class="hljs-string">"Error"</span>,
                <span class="hljs-string">"errorIdentifier"</span>: <span class="hljs-string">"urn:openproject-org:api:v3:errors:MultipleErrors"</span>,
                <span class="hljs-string">"message"</span>: <span class="hljs-string">"Multiple field constraints have been violated."</span>,
                <span class="hljs-string">"_embedded"</span>: <span class="hljs-collection">{
                    <span class="hljs-string">"errors"</span>: <span class="hljs-collection">[
                        <span class="hljs-collection">{
                            <span class="hljs-string">"_type"</span>: <span class="hljs-string">"Error"</span>,
                            <span class="hljs-string">"errorIdentifier"</span>: <span class="hljs-string">"urn:openproject-org:api:v3:errors:PropertyConstraintViolation"</span>,
                            <span class="hljs-string">"message"</span>: <span class="hljs-string">"Widgets is outside of the grid."</span>,
                            <span class="hljs-string">"_embedded"</span>: <span class="hljs-collection">{
                                <span class="hljs-string">"details"</span>: <span class="hljs-collection">{
                                    <span class="hljs-string">"attribute"</span>: <span class="hljs-string">"widgets"</span>
                                }</span>
                            }</span>
                        }</span>,
                        <span class="hljs-collection">{
                            <span class="hljs-string">"_type"</span>: <span class="hljs-string">"Error"</span>,
                            <span class="hljs-string">"errorIdentifier"</span>: <span class="hljs-string">"urn:openproject-org:api:v3:errors:PropertyConstraintViolation"</span>,
                            <span class="hljs-string">"message"</span>: <span class="hljs-string">"Widgets is outside of the grid."</span>,
                            <span class="hljs-string">"_embedded"</span>: <span class="hljs-collection">{
                                <span class="hljs-string">"details"</span>: <span class="hljs-collection">{
                                    <span class="hljs-string">"attribute"</span>: <span class="hljs-string">"widgets"</span>
                                }</span>
                            }</span>
                        }</span>
                    ]</span>
                }</span>
            }</span>,
            <span class="hljs-string">"rowCount"</span>: <span class="hljs-collection">{
                <span class="hljs-string">"_type"</span>: <span class="hljs-string">"Error"</span>,
                <span class="hljs-string">"errorIdentifier"</span>: <span class="hljs-string">"urn:openproject-org:api:v3:errors:PropertyConstraintViolation"</span>,
                <span class="hljs-string">"message"</span>: <span class="hljs-string">"Number of rows must be greater than 0."</span>,
                <span class="hljs-string">"_embedded"</span>: <span class="hljs-collection">{
                    <span class="hljs-string">"details"</span>: <span class="hljs-collection">{
                        <span class="hljs-string">"attribute"</span>: <span class="hljs-string">"rowCount"</span>
                    }</span>
                }</span>
            }</span>
        }</span>
    }</span>,
    <span class="hljs-string">"_links"</span>: <span class="hljs-collection">{
        <span class="hljs-string">"self"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/grids/form"</span>,
            <span class="hljs-string">"method"</span>: <span class="hljs-string">"post"</span>
        }</span>,
        <span class="hljs-string">"validate"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/grids/form"</span>,
            <span class="hljs-string">"method"</span>: <span class="hljs-string">"post"</span>
        }</span>
    }</span>
}</span></code></pre></li></ul></section><h2 id="grids-grid-update-form">Grid Update Form&nbsp;<a href="#grids-grid-update-form" class="permalink"><i class="fa fa-link"></i></a></h2><p>This endpoint returns a form to allow a guided modification of an existing grid.</p>
<p>For more details and all possible responses see the general specification of <a href="#forms">Forms</a>.</p>
<section id="grids-grid-update-form-post" class="panel panel-success"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">Grid Update Form</span></div><div style="float:left"><a href="#grids-grid-update-form-post" class="btn btn-xs btn-success">POST</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/grids/{id}/form</code></div></div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>id</dt><dd><code>integer</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>1</span></span><p>ID of the grid being modified</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Request&nbsp;&nbsp;<code>Update grid form</code></strong><a data-toggle="collapse" data-target="#collapse-3c5e93c2df4ba9ac75d3a1816943fbd4" class="pull-right collapsed">Toggle details</a></li><li id="collapse-3c5e93c2df4ba9ac75d3a1816943fbd4" class="list-group-item panel-collapse collapse"><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">rowCount</span>": <span class="hljs-value"><span class="hljs-number">8</span></span>,
  "<span class="hljs-attribute">columnCount</span>": <span class="hljs-value"><span class="hljs-number">5</span></span>,
  "<span class="hljs-attribute">widgets</span>": <span class="hljs-value">[
    {
      "<span class="hljs-attribute">identifier</span>": <span class="hljs-value"><span class="hljs-string">"time_entries_current_user"</span></span>,
      "<span class="hljs-attribute">startRow</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">endRow</span>": <span class="hljs-value"><span class="hljs-number">8</span></span>,
      "<span class="hljs-attribute">startColumn</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">endColumn</span>": <span class="hljs-value"><span class="hljs-number">3</span>
    </span>},
    {
      "<span class="hljs-attribute">identifier</span>": <span class="hljs-value"><span class="hljs-string">"news"</span></span>,
      "<span class="hljs-attribute">startRow</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
      "<span class="hljs-attribute">endRow</span>": <span class="hljs-value"><span class="hljs-number">8</span></span>,
      "<span class="hljs-attribute">startColumn</span>": <span class="hljs-value"><span class="hljs-number">4</span></span>,
      "<span class="hljs-attribute">endColumn</span>": <span class="hljs-value"><span class="hljs-number">5</span>
    </span>},
    {
      "<span class="hljs-attribute">identifier</span>": <span class="hljs-value"><span class="hljs-string">"documents"</span></span>,
      "<span class="hljs-attribute">startRow</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">endRow</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
      "<span class="hljs-attribute">startColumn</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
      "<span class="hljs-attribute">endColumn</span>": <span class="hljs-value"><span class="hljs-number">6</span>
    </span>}
  ]
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-4a812ce4b976a3e6a4da0d51620e1cfa" class="pull-right collapsed">Toggle details</a></li><li id="collapse-4a812ce4b976a3e6a4da0d51620e1cfa" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Form"</span></span>,
  "<span class="hljs-attribute">_embedded</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">payload</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">rowCount</span>": <span class="hljs-value"><span class="hljs-number">6</span></span>,
      "<span class="hljs-attribute">columnCount</span>": <span class="hljs-value"><span class="hljs-number">5</span></span>,
      "<span class="hljs-attribute">widgets</span>": <span class="hljs-value">[
        {
          "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"GridWidget"</span></span>,
          "<span class="hljs-attribute">identifier</span>": <span class="hljs-value"><span class="hljs-string">"time_entries_current_user"</span></span>,
          "<span class="hljs-attribute">startRow</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
          "<span class="hljs-attribute">endRow</span>": <span class="hljs-value"><span class="hljs-number">8</span></span>,
          "<span class="hljs-attribute">startColumn</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
          "<span class="hljs-attribute">endColumn</span>": <span class="hljs-value"><span class="hljs-number">3</span>
        </span>},
        {
          "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"GridWidget"</span></span>,
          "<span class="hljs-attribute">identifier</span>": <span class="hljs-value"><span class="hljs-string">"news"</span></span>,
          "<span class="hljs-attribute">startRow</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
          "<span class="hljs-attribute">endRow</span>": <span class="hljs-value"><span class="hljs-number">8</span></span>,
          "<span class="hljs-attribute">startColumn</span>": <span class="hljs-value"><span class="hljs-number">4</span></span>,
          "<span class="hljs-attribute">endColumn</span>": <span class="hljs-value"><span class="hljs-number">5</span>
        </span>},
        {
          "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"GridWidget"</span></span>,
          "<span class="hljs-attribute">identifier</span>": <span class="hljs-value"><span class="hljs-string">"documents"</span></span>,
          "<span class="hljs-attribute">startRow</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
          "<span class="hljs-attribute">endRow</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
          "<span class="hljs-attribute">startColumn</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
          "<span class="hljs-attribute">endColumn</span>": <span class="hljs-value"><span class="hljs-number">6</span>
        </span>}
      ]
    </span>}</span>,
    "<span class="hljs-attribute">schema</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Schema"</span></span>,
      "<span class="hljs-attribute">id</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"Integer"</span></span>,
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"ID"</span></span>,
        "<span class="hljs-attribute">required</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
        "<span class="hljs-attribute">hasDefault</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
        "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">false</span>
      </span>}</span>,
      "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"DateTime"</span></span>,
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Created on"</span></span>,
        "<span class="hljs-attribute">required</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
        "<span class="hljs-attribute">hasDefault</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
        "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">false</span>
      </span>}</span>,
      "<span class="hljs-attribute">updatedAt</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"DateTime"</span></span>,
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Updated on"</span></span>,
        "<span class="hljs-attribute">required</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
        "<span class="hljs-attribute">hasDefault</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
        "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">false</span>
      </span>}</span>,
      "<span class="hljs-attribute">rowCount</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"Integer"</span></span>,
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Number of rows"</span></span>,
        "<span class="hljs-attribute">required</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
        "<span class="hljs-attribute">hasDefault</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
        "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">true</span>
      </span>}</span>,
      "<span class="hljs-attribute">columnCount</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"Integer"</span></span>,
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Number of columns"</span></span>,
        "<span class="hljs-attribute">required</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
        "<span class="hljs-attribute">hasDefault</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
        "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">true</span>
      </span>}</span>,
      "<span class="hljs-attribute">scope</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"Href"</span></span>,
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Page"</span></span>,
        "<span class="hljs-attribute">required</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
        "<span class="hljs-attribute">hasDefault</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
        "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
        "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{}
      </span>}</span>,
      "<span class="hljs-attribute">widgets</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"[]GridWidget"</span></span>,
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Widgets"</span></span>,
        "<span class="hljs-attribute">required</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
        "<span class="hljs-attribute">hasDefault</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
        "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
        "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{}
      </span>}</span>,
      "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{}
    </span>}</span>,
    "<span class="hljs-attribute">validationErrors</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">widgets</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
        "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MultipleErrors"</span></span>,
        "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"Multiple field constraints have been violated."</span></span>,
        "<span class="hljs-attribute">_embedded</span>": <span class="hljs-value">{
          "<span class="hljs-attribute">errors</span>": <span class="hljs-value">[
            {
              "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
              "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:PropertyConstraintViolation"</span></span>,
              "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"Widgets is outside of the grid."</span></span>,
              "<span class="hljs-attribute">_embedded</span>": <span class="hljs-value">{
                "<span class="hljs-attribute">details</span>": <span class="hljs-value">{
                  "<span class="hljs-attribute">attribute</span>": <span class="hljs-value"><span class="hljs-string">"widgets"</span>
                </span>}
              </span>}
            </span>},
            {
              "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
              "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:PropertyConstraintViolation"</span></span>,
              "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"Widgets is outside of the grid."</span></span>,
              "<span class="hljs-attribute">_embedded</span>": <span class="hljs-value">{
                "<span class="hljs-attribute">details</span>": <span class="hljs-value">{
                  "<span class="hljs-attribute">attribute</span>": <span class="hljs-value"><span class="hljs-string">"widgets"</span>
                </span>}
              </span>}
            </span>}
          ]
        </span>}
      </span>}
    </span>}
  </span>}</span>,
  "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/grids/2/form"</span></span>,
      "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"post"</span>
    </span>}</span>,
    "<span class="hljs-attribute">validate</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/grids/2/form"</span></span>,
      "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"post"</span>
    </span>}
  </span>}
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-0b76ccc83c25ee02b26ee0dd3954c51b" class="pull-right collapsed">Toggle details</a></li><li id="collapse-0b76ccc83c25ee02b26ee0dd3954c51b" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client does not have sufficient permissions.</p>
<p><strong>Required permission:</strong> depends on the page the grid is defined for.</p>
<p><em>Note that you will only receive this error, if you are at least allowed to see the corresponding grid.</em></p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not authorized to access this resource."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>404</code></strong><a data-toggle="collapse" data-target="#collapse-3ed58966c56c980dda04f01c6971aa30" class="pull-right collapsed">Toggle details</a></li><li id="collapse-3ed58966c56c980dda04f01c6971aa30" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the grid does not exist or the client does not have sufficient permissions to see it.</p>
<p><strong>Required permission:</strong> view work package</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:NotFound"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The requested resource could not be found."</span>
</span>}</code></pre></li></ul></section></div></div></div>