<div><div class="description"></div><h1>Memberships</h1><div class="panel panel-default"><div class="panel-body"><p>Users and groups can become members of a project. Such a membership will also have one or more roles assigned to it. By that, memberships control the permissions a user has within a project.</p>
<h2 id="header-linked-properties-1">Linked Properties <a class="permalink" href="#header-linked-properties-1" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Link</th>
<th>Description</th>
<th>Type</th>
<th>Constraints</th>
<th>Supported operations</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">self</td>
<td>This membership</td>
<td>Membership</td>
<td>not null</td>
<td>READ</td>
</tr>
<tr>
<td style="text-align:center">project</td>
<td>The project for which the membership is granted</td>
<td>Project</td>
<td>not null</td>
<td>READ</td>
</tr>
<tr>
<td style="text-align:center">roles</td>
<td>The list of roles the user or group is granted in the project</td>
<td>RoleCollection</td>
<td>not null</td>
<td>READ</td>
</tr>
<tr>
<td style="text-align:center">principal</td>
<td>The user or group that was granted membership</td>
<td>User or Group</td>
<td>not null</td>
<td>READ</td>
</tr>
</tbody>
</table>
<h2 id="header-local-properties-1">Local Properties <a class="permalink" href="#header-local-properties-1" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Property</th>
<th>Description</th>
<th>Type</th>
<th>Constraints</th>
<th>Supported operations</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">id</td>
<td>Membership id</td>
<td>Integer</td>
<td>x &gt; 0</td>
<td>READ</td>
</tr>
<tr>
<td style="text-align:center">createdAt</td>
<td>Time of creation</td>
<td>DateTime</td>
<td>not null</td>
<td>READ</td>
</tr>
</tbody>
</table>
<h2 id="memberships-membership">Membership&nbsp;<a href="#memberships-membership" class="permalink"><i class="fa fa-link"></i></a></h2><section id="memberships-membership-get" class="panel panel-info"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">View membership</span></div><div style="float:left"><a href="#memberships-membership-get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/memberships/{id}</code></div></div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>id</dt><dd><code>integer</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>1</span></span><p>membership id</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-591bccecb235127045f1b78806ebfbea" class="pull-right collapsed">Toggle details</a></li><li id="collapse-591bccecb235127045f1b78806ebfbea" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
    <span class="hljs-string">"_links"</span>:
        <span class="hljs-string">"self"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/memberships/11"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"Some user"</span>
        },
        <span class="hljs-string">"schema"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/memberships/schema"</span>
        },
        <span class="hljs-string">"update"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/memberships/11/form"</span>,
            <span class="hljs-string">"method"</span>: <span class="hljs-string">"post"</span>
        },
        <span class="hljs-string">"updateImmediately"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/memberships/11"</span>,
            <span class="hljs-string">"method"</span>: <span class="hljs-string">"patch"</span>
        },
        <span class="hljs-string">"project"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/projects/3"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"A project"</span>
        },
        <span class="hljs-string">"principal"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/users/4"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"Some user"</span>
        },
        <span class="hljs-string">"roles"</span>: [
            {
                <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/roles/5"</span>,
                <span class="hljs-string">"title"</span>: <span class="hljs-string">"Member"</span>
            },
            {
                <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/roles/4"</span>,
                <span class="hljs-string">"title"</span>: <span class="hljs-string">"Reader"</span>
            }
        ]
    },
    <span class="hljs-string">"_type"</span>: <span class="hljs-string">"Membership"</span>,
    <span class="hljs-string">"id"</span>: <span class="hljs-number">11</span>,
    <span class="hljs-string">"createdAt"</span>: <span class="hljs-string">"2015-03-20T12:56:56Z"</span>,
    <span class="hljs-string">"_embedded"</span>: {
        <span class="hljs-string">"project"</span>: <span class="hljs-string">"&lt;-- omitted for brevity --&gt;"</span>,
        <span class="hljs-string">"principal"</span>: <span class="hljs-string">"&lt;-- omitted for brevity --&gt;"</span>,
        <span class="hljs-string">"roles"</span>: [
            <span class="hljs-string">"&lt;-- omitted for brevity --&gt;"</span>
        ]
    }
}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>404</code></strong><a data-toggle="collapse" data-target="#collapse-898853404564522067a519581ea934b8" class="pull-right collapsed">Toggle details</a></li><li id="collapse-898853404564522067a519581ea934b8" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the membership does not exist or the client does not have sufficient permissions
to see it.</p>
<p><strong>Required permission:</strong> view members <strong>or</strong> manage members</p>
<p><em>Note: A client without sufficient permissions shall not be able to test for the existence of
a membership. That’s why a 404 is returned here, even if a 403 might be more appropriate.</em></p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:NotFound"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The requested resource could not be found."</span>
</span>}</code></pre></li></ul></section><section id="memberships-membership-patch" class="panel panel-warning"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">Update Membership</span></div><div style="float:left"><a href="#memberships-membership-patch" class="btn btn-xs btn-warning">PATCH</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/memberships/{id}</code></div></div><div class="panel-body"><p>Updates the given membership by applying the attributes provided in the body.</p>
</div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>id</dt><dd><code>integer</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>1</span></span><p>Membership id</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Request&nbsp;&nbsp;<code>Update membership</code></strong><a data-toggle="collapse" data-target="#collapse-ff323adbb919a2997352e11b31b26f47" class="pull-right collapsed">Toggle details</a></li><li id="collapse-ff323adbb919a2997352e11b31b26f47" class="list-group-item panel-collapse collapse"><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">roles</span>": <span class="hljs-value">[
      {
        "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/roles/3"</span>
      </span>},
      {
        "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/roles/8"</span>
      </span>}
    ]
  </span>}
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-65b2c093f43174db7eb2023b10e54c34" class="pull-right collapsed">Toggle details</a></li><li id="collapse-65b2c093f43174db7eb2023b10e54c34" class="list-group-item panel-collapse collapse"><h5>Body</h5><pre><code>{
    <span class="hljs-string">"_links"</span>:
        <span class="hljs-string">"self"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/memberships/11"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"Some user"</span>
        },
        <span class="hljs-string">"schema"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/memberships/schema"</span>
        },
        <span class="hljs-string">"update"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/memberships/11/form"</span>,
            <span class="hljs-string">"method"</span>: <span class="hljs-string">"post"</span>
        },
        <span class="hljs-string">"updateImmediately"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/memberships/11"</span>,
            <span class="hljs-string">"method"</span>: <span class="hljs-string">"patch"</span>
        },
        <span class="hljs-string">"project"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/projects/3"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"A project"</span>
        },
        <span class="hljs-string">"principal"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/users/4"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"Some user"</span>
        },
        <span class="hljs-string">"roles"</span>: [
            {
                <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/roles/5"</span>,
                <span class="hljs-string">"title"</span>: <span class="hljs-string">"Member"</span>
            },
            {
                <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/roles/4"</span>,
                <span class="hljs-string">"title"</span>: <span class="hljs-string">"Reader"</span>
            }
        ]
    },
    <span class="hljs-string">"_type"</span>: <span class="hljs-string">"Membership"</span>,
    <span class="hljs-string">"id"</span>: <span class="hljs-number">11</span>,
    <span class="hljs-string">"createdAt"</span>: <span class="hljs-string">"2015-03-20T12:56:56Z"</span>,
    <span class="hljs-string">"_embedded"</span>: {
        <span class="hljs-string">"project"</span>: <span class="hljs-string">"&lt;-- omitted for brevity --&gt;"</span>,
        <span class="hljs-string">"principal"</span>: <span class="hljs-string">"&lt;-- omitted for brevity --&gt;"</span>,
        <span class="hljs-string">"roles"</span>: [
            <span class="hljs-string">"&lt;-- omitted for brevity --&gt;"</span>
        ]
    }
}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>400</code></strong><a data-toggle="collapse" data-target="#collapse-8c286bf4f982807e7502c02e26e70809" class="pull-right collapsed">Toggle details</a></li><li id="collapse-8c286bf4f982807e7502c02e26e70809" class="list-group-item panel-collapse collapse"><div class="description"><p>Occurs when the client did not send a valid JSON object in the request body.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:InvalidRequestBody"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The request body was not a single JSON object."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-4f6a8f1abef1781bb00ec4fce15b3603" class="pull-right collapsed">Toggle details</a></li><li id="collapse-4f6a8f1abef1781bb00ec4fce15b3603" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client does not have sufficient permissions.</p>
<p><strong>Required permission:</strong> Manage members in the membership’s project.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not authorized to access this resource."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>404</code></strong><a data-toggle="collapse" data-target="#collapse-d65829c0a9ae7f097ae6c95393a8f2f3" class="pull-right collapsed">Toggle details</a></li><li id="collapse-d65829c0a9ae7f097ae6c95393a8f2f3" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the membership does not exist or the client does not have sufficient permissions
to see it.</p>
<p><strong>Required permission:</strong> view member</p>
<p><em>Note: A client without sufficient permissions shall not be able to test for the existence of
a version. That’s why a 404 is returned here, even if a 403 might be more appropriate.</em></p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:NotFound"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The requested resource could not be found."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>422</code></strong><a data-toggle="collapse" data-target="#collapse-d744359dd88b8fa1a729ee2c1ac798ca" class="pull-right collapsed">Toggle details</a></li><li id="collapse-d744359dd88b8fa1a729ee2c1ac798ca" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if:</p>
<ul>
<li>a constraint for a property was violated (<code>PropertyConstraintViolation</code>)</li>
</ul>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:PropertyConstraintViolation"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"Roles has an unassignable role."</span></span>,
  "<span class="hljs-attribute">_embedded</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">details</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">attribute</span>": <span class="hljs-value"><span class="hljs-string">"roles"</span>
    </span>}
  </span>}
</span>}</code></pre></li></ul></section><section id="memberships-membership-delete" class="panel panel-danger"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">Delete Membership</span></div><div style="float:left"><a href="#memberships-membership-delete" class="btn btn-xs btn-danger">DELETE</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/memberships/{id}</code></div></div><div class="panel-body"><p>Deletes the membership.</p>
</div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>id</dt><dd><code>integer</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>1</span></span><p>Membership id</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>204</code></strong><a data-toggle="collapse" data-target="#collapse-a5d6138b50b9c3177c7003ec960ab9a2" class="pull-right collapsed">Toggle details</a></li><li id="collapse-a5d6138b50b9c3177c7003ec960ab9a2" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the membership was successfully deleted</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-0524a05b82577406c2084758558d4750" class="pull-right collapsed">Toggle details</a></li><li id="collapse-0524a05b82577406c2084758558d4750" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client does not have sufficient permissions.</p>
<p><strong>Required permission:</strong> manage members</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not authorized to access this resource."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>404</code></strong><a data-toggle="collapse" data-target="#collapse-23cf73b027e39d35b56b813bad45c6bb" class="pull-right collapsed">Toggle details</a></li><li id="collapse-23cf73b027e39d35b56b813bad45c6bb" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the membership does not exist or the client does not have sufficient permissions
to see it.</p>
<p><strong>Required permission:</strong> view members</p>
<p><em>Note: A client without sufficient permissions shall not be able to test for the existence of
a version. That’s why a 404 is returned here, even if a 403 might be more appropriate.</em></p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:NotFound"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The requested resource could not be found."</span>
</span>}</code></pre></li></ul></section><h2 id="memberships-memberships">Memberships&nbsp;<a href="#memberships-memberships" class="permalink"><i class="fa fa-link"></i></a></h2><section id="memberships-memberships-get" class="panel panel-info"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">List memberships</span></div><div style="float:left"><a href="#memberships-memberships-get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/memberships{?filters}</code></div></div><div class="panel-body"><p>Returns a collection of memberships. The client can choose to filter the memberships similar to how work packages are filtered. In addition to the provided filters, the server will reduce the result set to only contain memberships, for which the requesting client has sufficient permissions (<em>view_members</em>, <em>manage_members</em>).</p>
</div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>filters</dt><dd><code>string</code>&nbsp;<span>(optional)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>[{ &quot;name&quot;: { &quot;operator&quot;: &quot;=&quot;, &quot;values&quot;: [&quot;A User&quot;] }&quot; }]</span></span><p>JSON specifying filter conditions.
Accepts the same format as returned by the <a href="#queries">queries</a> endpoint.
Currently supported filters are:</p>
<ul>
<li>
<p>any_name_attribute: filters memberships based on the name of the principal. All possible name variants (and also email and login) are searched.</p>
</li>
<li>
<p>blocked: reduces the result set to all memberships that are temporarily blocked or that are not blocked temporarily.</p>
</li>
<li>
<p>group: filters memberships based on the name of a group. The group however is not the principal used for filtering. Rather, the memberships of the group are used as the filter values.</p>
</li>
<li>
<p>name: filters memberships based on the name of the principal. Note that only the name is used which depends on a setting in the OpenProject instance.</p>
</li>
<li>
<p>principal: filters memberships based on the id of the principal.</p>
</li>
<li>
<p>project: filters memberships based on the id of the project.</p>
</li>
<li>
<p>role: filters memberships based on the id of any role assigned to the membership.</p>
</li>
<li>
<p>status: filters memberships based on the status of the principal.</p>
</li>
</ul>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-842b282fe9014111f9bef53be4f11216" class="pull-right collapsed">Toggle details</a></li><li id="collapse-842b282fe9014111f9bef53be4f11216" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/memberships"</span>
    </span>}
  </span>}</span>,
  "<span class="hljs-attribute">total</span>": <span class="hljs-value"><span class="hljs-number">2</span></span>,
  "<span class="hljs-attribute">count</span>": <span class="hljs-value"><span class="hljs-number">2</span></span>,
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Collection"</span></span>,
  "<span class="hljs-attribute">_embedded</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">elements</span>": <span class="hljs-value">[
      {
        "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
          "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/memberships/11"</span>
          </span>}</span>,
          "<span class="hljs-attribute">schema</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/memberships/schema"</span>
          </span>}</span>,
          "<span class="hljs-attribute">project</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/projects/3"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"A Project"</span>
          </span>}</span>,
          "<span class="hljs-attribute">principal</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/5"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"A user"</span>
          </span>}</span>,
          "<span class="hljs-attribute">roles</span>": <span class="hljs-value">[
            {
              "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/roles/4"</span></span>,
              "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Reader"</span>
            </span>}
          ]
        </span>}</span>,
        "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Membership"</span></span>,
        "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">11</span></span>,
        "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value"><span class="hljs-string">"2015-03-20T12:56:56Z"</span>
      </span>},
      {
        "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
          "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/memberships/41"</span>
          </span>}</span>,
          "<span class="hljs-attribute">schema</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/memberships/schema"</span>
          </span>}</span>,
          "<span class="hljs-attribute">project</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/projects/6"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Another Project"</span>
          </span>}</span>,
          "<span class="hljs-attribute">principal</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/groups/5"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"A group"</span>
          </span>}</span>,
          "<span class="hljs-attribute">roles</span>": <span class="hljs-value">[
            {
              "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/roles/8"</span></span>,
              "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Project admin"</span>
            </span>}
          ]
        </span>}</span>,
        "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Membership"</span></span>,
        "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">41</span></span>,
        "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value"><span class="hljs-string">"2019-12-22T12:56:06Z"</span>
      </span>}
    ]
  </span>}
</span>}</code></pre></li></ul></section><section id="memberships-memberships-post" class="panel panel-success"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">Create membership</span></div><div style="float:left"><a href="#memberships-memberships-post" class="btn btn-xs btn-success">POST</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/memberships{?filters}</code></div></div><div class="panel-body"><p>Creates a new membership applying the attributes provided in the body.</p>
<p>You can use the form and schema to be retrieve the valid attribute values and by that be guided towards successful creation.</p>
</div><ul class="list-group"><li class="list-group-item"><strong>Request&nbsp;&nbsp;<code>Create memberships</code></strong><a data-toggle="collapse" data-target="#collapse-f68de3dbe00c6b293a6a8f82355e2401" class="pull-right collapsed">Toggle details</a></li><li id="collapse-f68de3dbe00c6b293a6a8f82355e2401" class="list-group-item panel-collapse collapse"><h5>Body</h5><pre><code><span class="hljs-collection">{
  project: <span class="hljs-collection">{
    href: <span class="hljs-string">"/api/v3/projects/1"</span>
  }</span>,
  principal: <span class="hljs-collection">{
    href: <span class="hljs-string">"/api/v3/users/5"</span>
  }</span>,
  roles: <span class="hljs-collection">[
    <span class="hljs-collection">{
      href: <span class="hljs-string">"/api/v3/roles/5"</span>
    }</span>,
    <span class="hljs-collection">{
      href: <span class="hljs-string">"/api/v3/roles/8"</span>
    }</span>
  ]</span>
}</span></code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>201</code></strong><a data-toggle="collapse" data-target="#collapse-d695081e9b511669300f9dd8077c2d22" class="pull-right collapsed">Toggle details</a></li><li id="collapse-d695081e9b511669300f9dd8077c2d22" class="list-group-item panel-collapse collapse"><h5>Body</h5><pre><code>{
    <span class="hljs-string">"_links"</span>:
        <span class="hljs-string">"self"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/memberships/11"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"Some user"</span>
        },
        <span class="hljs-string">"schema"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/memberships/schema"</span>
        },
        <span class="hljs-string">"update"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/memberships/11/form"</span>,
            <span class="hljs-string">"method"</span>: <span class="hljs-string">"post"</span>
        },
        <span class="hljs-string">"updateImmediately"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/memberships/11"</span>,
            <span class="hljs-string">"method"</span>: <span class="hljs-string">"patch"</span>
        },
        <span class="hljs-string">"project"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/projects/3"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"A project"</span>
        },
        <span class="hljs-string">"principal"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/users/4"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"Some user"</span>
        },
        <span class="hljs-string">"roles"</span>: [
            {
                <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/roles/5"</span>,
                <span class="hljs-string">"title"</span>: <span class="hljs-string">"Member"</span>
            },
            {
                <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/roles/4"</span>,
                <span class="hljs-string">"title"</span>: <span class="hljs-string">"Reader"</span>
            }
        ]
    },
    <span class="hljs-string">"_type"</span>: <span class="hljs-string">"Membership"</span>,
    <span class="hljs-string">"id"</span>: <span class="hljs-number">11</span>,
    <span class="hljs-string">"createdAt"</span>: <span class="hljs-string">"2015-03-20T12:56:56Z"</span>,
    <span class="hljs-string">"_embedded"</span>: {
        <span class="hljs-string">"project"</span>: <span class="hljs-string">"&lt;-- omitted for brevity --&gt;"</span>,
        <span class="hljs-string">"principal"</span>: <span class="hljs-string">"&lt;-- omitted for brevity --&gt;"</span>,
        <span class="hljs-string">"roles"</span>: [
            <span class="hljs-string">"&lt;-- omitted for brevity --&gt;"</span>
        ]
    }
}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>400</code></strong><a data-toggle="collapse" data-target="#collapse-3cddc69ed3be55c107c5e9de80ec1ca8" class="pull-right collapsed">Toggle details</a></li><li id="collapse-3cddc69ed3be55c107c5e9de80ec1ca8" class="list-group-item panel-collapse collapse"><div class="description"><p>Occurs when the client did not send a valid JSON object in the request body.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:InvalidRequestBody"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The request body was not a single JSON object."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-a19f7db4091081f449b1b03d4639c3c4" class="pull-right collapsed">Toggle details</a></li><li id="collapse-a19f7db4091081f449b1b03d4639c3c4" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client does not have sufficient permissions.</p>
<p><strong>Required permission:</strong> Manage members</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not authorized to access this resource."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>422</code></strong><a data-toggle="collapse" data-target="#collapse-863e78498dac9e7b68326da873f9c2aa" class="pull-right collapsed">Toggle details</a></li><li id="collapse-863e78498dac9e7b68326da873f9c2aa" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if:</p>
<ul>
<li>a constraint for a property was violated (<code>PropertyConstraintViolation</code>)</li>
</ul>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:PropertyConstraintViolation"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"Project can't be blank."</span></span>,
  "<span class="hljs-attribute">_embedded</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">details</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">attribute</span>": <span class="hljs-value"><span class="hljs-string">"project"</span>
    </span>}
  </span>}
</span>}</code></pre></li></ul></section><h2 id="memberships-membership-schema">Membership schema&nbsp;<a href="#memberships-membership-schema" class="permalink"><i class="fa fa-link"></i></a></h2><section id="memberships-membership-schema-get" class="panel panel-info"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">View membership schema</span></div><div style="float:left"><a href="#memberships-membership-schema-get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/memberships/schemas</code></div></div><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-5e0d695d13dcf2a6bab6d2de7e0cf043" class="pull-right collapsed">Toggle details</a></li><li id="collapse-5e0d695d13dcf2a6bab6d2de7e0cf043" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Schema"</span></span>,
  "<span class="hljs-attribute">_dependencies</span>": <span class="hljs-value">[]</span>,
  "<span class="hljs-attribute">id</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"Integer"</span></span>,
    "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"ID"</span></span>,
    "<span class="hljs-attribute">required</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
    "<span class="hljs-attribute">hasDefault</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
    "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">false</span>
  </span>}</span>,
  "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"DateTime"</span></span>,
    "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Created on"</span></span>,
    "<span class="hljs-attribute">required</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
    "<span class="hljs-attribute">hasDefault</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
    "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">false</span>
  </span>}</span>,
  "<span class="hljs-attribute">project</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"Project"</span></span>,
    "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Project"</span></span>,
    "<span class="hljs-attribute">required</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
    "<span class="hljs-attribute">hasDefault</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
    "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
    "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{}
  </span>}</span>,
  "<span class="hljs-attribute">principal</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"Principal"</span></span>,
    "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Principal"</span></span>,
    "<span class="hljs-attribute">required</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
    "<span class="hljs-attribute">hasDefault</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
    "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
    "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{}
  </span>}</span>,
  "<span class="hljs-attribute">roles</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"[]Role"</span></span>,
    "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Role"</span></span>,
    "<span class="hljs-attribute">required</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
    "<span class="hljs-attribute">hasDefault</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
    "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
    "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{}
  </span>}</span>,
  "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/memberships/schema"</span>
    </span>}
  </span>}
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-b7e96a28ec955bfe017606e04687c5b6" class="pull-right collapsed">Toggle details</a></li><li id="collapse-b7e96a28ec955bfe017606e04687c5b6" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client does not have sufficient permissions to see the schema.</p>
<p><strong>Required permission:</strong> manage members or view memberships on any project</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not authorized to access this resource."</span>
</span>}</code></pre></li></ul></section><h2 id="memberships-membership-create-form">Membership create form&nbsp;<a href="#memberships-membership-create-form" class="permalink"><i class="fa fa-link"></i></a></h2><p>This endpoint returns a form allowing a guided creation of new memberships.</p>
<p>For more details and all possible responses see the general specification of <a href="#forms">Forms</a>.</p>
<section id="memberships-membership-create-form-post" class="panel panel-success"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">Membership create form</span></div><div style="float:left"><a href="#memberships-membership-create-form-post" class="btn btn-xs btn-success">POST</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/memberships/form</code></div></div><ul class="list-group"><li class="list-group-item"><strong>Request&nbsp;&nbsp;<code>Create membership form</code></strong><a data-toggle="collapse" data-target="#collapse-450c2817777c20aed2d4eac09c2c4cdd" class="pull-right collapsed">Toggle details</a></li><li id="collapse-450c2817777c20aed2d4eac09c2c4cdd" class="list-group-item panel-collapse collapse"><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">project</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/projects/1"</span>
  </span>}</span>,
  "<span class="hljs-attribute">principal</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/5"</span>
  </span>}</span>,
  "<span class="hljs-attribute">roles</span>": <span class="hljs-value">[
    {
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/roles/2"</span>
    </span>}
  ]
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-2552787868b047ef0ef8df348a9924d0" class="pull-right collapsed">Toggle details</a></li><li id="collapse-2552787868b047ef0ef8df348a9924d0" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Form"</span></span>,
  "<span class="hljs-attribute">_embedded</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">payload</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">project</span>": <span class="hljs-value">{
          "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/projects/1"</span></span>,
          "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"A project"</span>
        </span>}</span>,
        "<span class="hljs-attribute">principal</span>": <span class="hljs-value">{
          "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/5"</span></span>,
          "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"A User"</span>
        </span>}</span>,
        "<span class="hljs-attribute">roles</span>": <span class="hljs-value">[
          {
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/roles/2"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Manager"</span>
          </span>}
        ]
      </span>}
    </span>}</span>,
    "<span class="hljs-attribute">schema</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Schema"</span></span>,
      "<span class="hljs-attribute">_dependencies</span>": <span class="hljs-value">[]</span>,
      "<span class="hljs-attribute">id</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"Integer"</span></span>,
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"ID"</span></span>,
        "<span class="hljs-attribute">required</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
        "<span class="hljs-attribute">hasDefault</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
        "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">false</span>
      </span>}</span>,
      "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"DateTime"</span></span>,
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Created on"</span></span>,
        "<span class="hljs-attribute">required</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
        "<span class="hljs-attribute">hasDefault</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
        "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">false</span>
      </span>}</span>,
      "<span class="hljs-attribute">project</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"Project"</span></span>,
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Project"</span></span>,
        "<span class="hljs-attribute">required</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
        "<span class="hljs-attribute">hasDefault</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
        "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
        "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
          "<span class="hljs-attribute">allowedValues</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/memberships/available_projects?filters=%5B%7B%22principal%22%3A%7B%22operator%22%3A%22%21%22%2C%22values%22%3A%5B%225%22%5D%7D%7D%5D"</span>
          </span>}
        </span>}
      </span>}</span>,
      "<span class="hljs-attribute">principal</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"Principal"</span></span>,
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Principal"</span></span>,
        "<span class="hljs-attribute">required</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
        "<span class="hljs-attribute">hasDefault</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
        "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
        "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
          "<span class="hljs-attribute">allowedValues</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/principals?filters=%5B%7B%22status%22%3A%7B%22operator%22%3A%22%21%22%2C%22values%22%3A%5B%220%22%2C%223%22%5D%7D%7D%2C%7B%22member%22%3A%7B%22operator%22%3A%22%21%22%2C%22values%22%3A%5B%221%22%5D%7D%7D%5D"</span>
          </span>}
        </span>}
      </span>}</span>,
      "<span class="hljs-attribute">roles</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"[]Role"</span></span>,
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Role"</span></span>,
        "<span class="hljs-attribute">required</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
        "<span class="hljs-attribute">hasDefault</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
        "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
        "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
          "<span class="hljs-attribute">allowedValues</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/roles?filters=%5B%7B%22unit%22%3A%7B%22operator%22%3A%22%3D%22%2C%22values%22%3A%5B%22project%22%5D%7D%7D%5D"</span>
          </span>}
        </span>}
      </span>}</span>,
      "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{}
    </span>}</span>,
    "<span class="hljs-attribute">validationErrors</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">user</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
        "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:PropertyConstraintViolation"</span></span>,
        "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"User has already been taken."</span></span>,
        "<span class="hljs-attribute">_embedded</span>": <span class="hljs-value">{
          "<span class="hljs-attribute">details</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">attribute</span>": <span class="hljs-value"><span class="hljs-string">"user"</span>
          </span>}
        </span>}
      </span>}
    </span>}
  </span>}</span>,
  "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/memberships/form"</span></span>,
      "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"post"</span>
    </span>}</span>,
    "<span class="hljs-attribute">validate</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/memberships/form"</span></span>,
      "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"post"</span>
    </span>}
  </span>}
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>400</code></strong><a data-toggle="collapse" data-target="#collapse-9ad5868a3f3a9b9ba924380c13e321f6" class="pull-right collapsed">Toggle details</a></li><li id="collapse-9ad5868a3f3a9b9ba924380c13e321f6" class="list-group-item panel-collapse collapse"><div class="description"><p>Occurs when the client did not send a valid JSON object in the request body.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:InvalidRequestBody"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The request body was not a single JSON object."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-ce942a445559ce32bf5121bd1f18696a" class="pull-right collapsed">Toggle details</a></li><li id="collapse-ce942a445559ce32bf5121bd1f18696a" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client does not have sufficient permissions.</p>
<p><strong>Required permission:</strong> manage memberships in any project</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not authorized to access this resource."</span>
</span>}</code></pre></li></ul></section><h2 id="memberships-membership-update-form">Membership update form&nbsp;<a href="#memberships-membership-update-form" class="permalink"><i class="fa fa-link"></i></a></h2><p>This endpoint returns a form allowing a guided modification of existing memberships.
The returned payload part of the form will be contain a merge between the already existing properties’ values (as long as they are writeable) and the provided values with the later having precedence.</p>
<p>For more details and all possible responses see the general specification of <a href="#forms">Forms</a>.</p>
<section id="memberships-membership-update-form-post" class="panel panel-success"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">Membership update form</span></div><div style="float:left"><a href="#memberships-membership-update-form-post" class="btn btn-xs btn-success">POST</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/memberships/{id}/form</code></div></div><ul class="list-group"><li class="list-group-item"><strong>Request&nbsp;&nbsp;<code>Update membership form</code></strong><a data-toggle="collapse" data-target="#collapse-28234c810217a06e2465a6713366fb21" class="pull-right collapsed">Toggle details</a></li><li id="collapse-28234c810217a06e2465a6713366fb21" class="list-group-item panel-collapse collapse"><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_links</span>": <span class="hljs-value">[
    {
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/roles/4"</span>
    </span>}
  ]
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-ca59b21b9432886b2d53eae015893f0e" class="pull-right collapsed">Toggle details</a></li><li id="collapse-ca59b21b9432886b2d53eae015893f0e" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Form"</span></span>,
  "<span class="hljs-attribute">_embedded</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">payload</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">roles</span>": <span class="hljs-value">[
          {
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/roles/4"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"A role"</span>
          </span>}
        ]
      </span>}
    </span>}</span>,
    "<span class="hljs-attribute">schema</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Schema"</span></span>,
      "<span class="hljs-attribute">_dependencies</span>": <span class="hljs-value">[]</span>,
      "<span class="hljs-attribute">id</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"Integer"</span></span>,
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"ID"</span></span>,
        "<span class="hljs-attribute">required</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
        "<span class="hljs-attribute">hasDefault</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
        "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">false</span>
      </span>}</span>,
      "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"DateTime"</span></span>,
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Created on"</span></span>,
        "<span class="hljs-attribute">required</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
        "<span class="hljs-attribute">hasDefault</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
        "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">false</span>
      </span>}</span>,
      "<span class="hljs-attribute">project</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"Project"</span></span>,
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Project"</span></span>,
        "<span class="hljs-attribute">required</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
        "<span class="hljs-attribute">hasDefault</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
        "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
        "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{}
      </span>}</span>,
      "<span class="hljs-attribute">principal</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"Principal"</span></span>,
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Principal"</span></span>,
        "<span class="hljs-attribute">required</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
        "<span class="hljs-attribute">hasDefault</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
        "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
        "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{}
      </span>}</span>,
      "<span class="hljs-attribute">roles</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"[]Role"</span></span>,
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Role"</span></span>,
        "<span class="hljs-attribute">required</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
        "<span class="hljs-attribute">hasDefault</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
        "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
        "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
          "<span class="hljs-attribute">allowedValues</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/roles?filters=%5B%7B%22unit%22%3A%7B%22operator%22%3A%22%3D%22%2C%22values%22%3A%5B%22project%22%5D%7D%7D%5D"</span>
          </span>}
        </span>}
      </span>}</span>,
      "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{}
    </span>}</span>,
    "<span class="hljs-attribute">validationErrors</span>": <span class="hljs-value">{}
  </span>}</span>,
  "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/memberships/5/form"</span></span>,
      "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"post"</span>
    </span>}</span>,
    "<span class="hljs-attribute">validate</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/memberships/5/form"</span></span>,
      "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"post"</span>
    </span>}</span>,
    "<span class="hljs-attribute">commit</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/memberships/5"</span></span>,
      "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"patch"</span>
    </span>}
  </span>}
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>400</code></strong><a data-toggle="collapse" data-target="#collapse-9832d3b3e3c04290c91920c50186e42e" class="pull-right collapsed">Toggle details</a></li><li id="collapse-9832d3b3e3c04290c91920c50186e42e" class="list-group-item panel-collapse collapse"><div class="description"><p>Occurs when the client did not send a valid JSON object in the request body.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:InvalidRequestBody"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The request body was not a single JSON object."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-26947f285a660a5213264fd450786b04" class="pull-right collapsed">Toggle details</a></li><li id="collapse-26947f285a660a5213264fd450786b04" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client does not have sufficient permissions.</p>
<p><strong>Required permission:</strong> manage versions in the version’s project</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not authorized to access this resource."</span>
</span>}</code></pre></li></ul></section><h2 id="memberships-available-projects-for-memberships">Available projects for memberships&nbsp;<a href="#memberships-available-projects-for-memberships" class="permalink"><i class="fa fa-link"></i></a></h2><section id="memberships-available-projects-for-memberships-get" class="panel panel-info"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">Available projects for memberships</span></div><div style="float:left"><a href="#memberships-available-projects-for-memberships-get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/memberships/available_projects</code></div></div><div class="panel-body"><p>Gets a list of projects in which a membership can be created in. The list contains all projects in which the user issuing the request has the manage members permissions.</p>
</div><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-2eb34d706858bcf8a4fdd3bd9928877e" class="pull-right collapsed">Toggle details</a></li><li id="collapse-2eb34d706858bcf8a4fdd3bd9928877e" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  <span class="hljs-string">"_links"</span>: {
    <span class="hljs-string">"self"</span>: {
      <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/memberships/available_projects"</span>
    }
  },
  <span class="hljs-string">"_type"</span>: <span class="hljs-string">"Collection"</span>,
  <span class="hljs-string">"total"</span>: <span class="hljs-number">2</span>,
  <span class="hljs-string">"count"</span>: <span class="hljs-number">2</span>,
  <span class="hljs-string">"_embedded"</span>: {
    <span class="hljs-string">"elements"</span>: [
      {
        <span class="hljs-string">"_type"</span>: <span class="hljs-string">"Project"</span>,
        <span class="hljs-string">"_links"</span>: {
          <span class="hljs-string">"self"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/projects/6"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"A project"</span>
          },
          <span class="hljs-string">"editWorkPackage"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3//work_packages/{work_package_id}/form"</span>,
            <span class="hljs-string">"templated"</span>: true,
            <span class="hljs-string">"method"</span>: <span class="hljs-string">"post"</span>
          },
          <span class="hljs-string">"createWorkPackage"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/projects/6/work_packages/form"</span>,
            <span class="hljs-string">"method"</span>: <span class="hljs-string">"post"</span>
          },
          <span class="hljs-string">"createWorkPackageImmediate"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/projects/6/work_packages"</span>,
            <span class="hljs-string">"method"</span>: <span class="hljs-string">"post"</span>
          },
          <span class="hljs-string">"categories"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/projects/6/categories"</span>
          },
          <span class="hljs-string">"memberships"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/projects/6/memberships"</span>
          }
        },
        <span class="hljs-string">"id"</span>: <span class="hljs-number">6</span>,
        <span class="hljs-string">"identifier"</span>: <span class="hljs-string">"a_project"</span>,
        <span class="hljs-string">"name"</span>: <span class="hljs-string">"A project"</span>,
        <span class="hljs-string">"description"</span>: <span class="hljs-string">"Eveniet molestias omnis quis aut qui eum adipisci. Atque aut aut in exercitationem adipisci amet. Nisi asperiores quia ratione veritatis enim exercitationem magnam. Aut fuga architecto adipisci nihil. Et repellat pariatur. Aliquam et sed perferendis nostrum quaerat. Fugit doloremque voluptatem."</span>,
        <span class="hljs-string">"createdAt"</span>: <span class="hljs-string">"2015-07-06T13:28:14+00:00"</span>,
        <span class="hljs-string">"updatedAt"</span>: <span class="hljs-string">"2015-10-01T09:55:02+00:00"</span>,
        <span class="hljs-string">"type"</span>: <span class="hljs-string">"Customer Project"</span>
      },
      {
        <span class="hljs-string">"_type"</span>: <span class="hljs-string">"Project"</span>,
        <span class="hljs-string">"_links"</span>: {
          <span class="hljs-string">"self"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/projects/14"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"Another project"</span>
          },
          <span class="hljs-string">"createWorkPackage"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/projects/14/work_packages/form"</span>,
            <span class="hljs-string">"method"</span>: <span class="hljs-string">"post"</span>
          },
          <span class="hljs-string">"createWorkPackageImmediate"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/projects/14/work_packages"</span>,
            <span class="hljs-string">"method"</span>: <span class="hljs-string">"post"</span>
          },
          <span class="hljs-string">"categories"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/projects/14/categories"</span>
          },
          <span class="hljs-string">"memberships"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/projects/14/memberships"</span>
          }
        },
        <span class="hljs-string">"id"</span>: <span class="hljs-number">14</span>,
        <span class="hljs-string">"identifier"</span>: <span class="hljs-string">"another_project"</span>,
        <span class="hljs-string">"name"</span>: <span class="hljs-string">"Another project"</span>,
        <span class="hljs-string">"description"</span>: <span class="hljs-string">""</span>,
        <span class="hljs-string">"createdAt"</span>: <span class="hljs-string">"2016-02-29T12:50:20+00:00"</span>,
        <span class="hljs-string">"updatedAt"</span>: <span class="hljs-string">"2016-02-29T12:50:20+00:00"</span>,
        <span class="hljs-string">"type"</span>: null
      }]
    }
  }
}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-03cb0c170adfd8871ada73f71e05b70c" class="pull-right collapsed">Toggle details</a></li><li id="collapse-03cb0c170adfd8871ada73f71e05b70c" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client does not have sufficient permissions.</p>
<p><strong>Required permission:</strong> manage members</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not authorized to access this resource."</span>
</span>}</code></pre></li></ul></section></div></div></div>