---
source_path: docs/api/apiv3/endpoints/news.apib
---
<div><div class="description"></div><h1>News</h1><div class="panel panel-default"><div class="panel-body"><p>News are articles written by users in order to inform other users of important information.</p>
<h2 id="header-actions-1">Actions <a class="permalink" href="#header-actions-1" aria-hidden="true">¶</a></h2>
<p>None yet</p>
<h2 id="header-linked-properties-1">Linked Properties <a class="permalink" href="#header-linked-properties-1" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Link</th>
<th>Description</th>
<th>Type</th>
<th>Constraints</th>
<th>Supported operations</th>
<th>Condition</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">self</td>
<td>This news</td>
<td>News</td>
<td>not null</td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">project</td>
<td>The project the news is situated in</td>
<td>Project</td>
<td>not null</td>
<td>READ / WRITE</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">author</td>
<td>The user having created the news</td>
<td>User</td>
<td>not null</td>
<td>READ</td>
<td></td>
</tr>
</tbody>
</table>
<h2 id="header-local-properties-1">Local Properties <a class="permalink" href="#header-local-properties-1" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Property</th>
<th>Description</th>
<th>Type</th>
<th>Constraints</th>
<th>Supported operations</th>
<th>Condition</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">id</td>
<td>News’ id</td>
<td>Integer</td>
<td>x &gt; 0</td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">title</td>
<td>The headline of the news</td>
<td>String</td>
<td>max 60 characters</td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">summary</td>
<td>A short summary</td>
<td>String</td>
<td>max 255 characters</td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">description</td>
<td>The main body of the news with all the details</td>
<td>String</td>
<td></td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">createdAt</td>
<td>The time the news was created at</td>
<td>DateTime</td>
<td></td>
<td>READ</td>
<td></td>
</tr>
</tbody>
</table>
<h2 id="news-news">News&nbsp;<a href="#news-news" class="permalink"><i class="fa fa-link"></i></a></h2><section id="news-news-get" class="panel panel-info"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">View news</span></div><div style="float:left"><a href="#news-news-get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/news/{id}</code></div></div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>id</dt><dd><code>integer</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>1</span></span><p>news id</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-7ab7b9370d67117d98c2179a331c8b10" class="pull-right collapsed">Toggle details</a></li><li id="collapse-7ab7b9370d67117d98c2179a331c8b10" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
    <span class="hljs-string">"_type"</span>: <span class="hljs-string">"News"</span>,
    <span class="hljs-string">"id"</span>: <span class="hljs-number">1</span>,
    <span class="hljs-string">"title"</span>: <span class="hljs-string">"asperiores possimus nam doloribus ab"</span>,
    <span class="hljs-string">"summary"</span>: <span class="hljs-string">"Celebrer spiculum colo viscus claustrum atque. Id nulla culpa sumptus. Comparo crapula depopulo demonstro."</span>,
    <span class="hljs-string">"description"</span>: {
        <span class="hljs-string">"format"</span>: <span class="hljs-string">"markdown"</span>,
        <span class="hljs-string">"raw"</span>: <span class="hljs-string">"Videlicet deserunt aequitas cognatus. Concedo quia est quia pariatur vorago vallum. Calco autem atavus accusamus conscendo cornu ulterius. Tam patria ago consectetur ventito sustineo nihil caecus. Supra officiis eos velociter somniculosus tonsor qui. Suffragium aduro arguo angustus cogito quia tolero vulnus. Supplanto sortitus cresco apud vestrum qui."</span>,
        <span class="hljs-string">"html"</span>: <span class="hljs-string">"&lt;p&gt;Videlicet deserunt aequitas cognatus. Concedo quia est quia pariatur vorago vallum. Calco autem atavus accusamus conscendo cornu ulterius. Tam patria ago consectetur ventito sustineo nihil caecus. Supra officiis eos velociter somniculosus tonsor qui. Suffragium aduro arguo angustus cogito quia tolero vulnus. Supplanto sortitus cresco apud vestrum qui.&lt;/p&gt;"</span>
    },
    <span class="hljs-string">"createdAt"</span>: <span class="hljs-string">"2015-03-20T12:57:01Z"</span>,
    <span class="hljs-string">"_links"</span>: {
        <span class="hljs-string">"self"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/news/1"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"asperiores possimus nam doloribus ab"</span>
        },
        <span class="hljs-string">"project"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/projects/1"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"A project"</span>
        },
        <span class="hljs-string">"author"</span>: {
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/users/2"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"Peggie Feeney"</span>
        }
    },
    <span class="hljs-string">"_embedded"</span>: {
        <span class="hljs-string">"project"</span>: {
            <span class="hljs-string">"_type"</span>: <span class="hljs-string">"Project"</span>,
            &lt;-- omitted for brevity --&gt;
            }
        },
        <span class="hljs-string">"author"</span>: {
            <span class="hljs-string">"_type"</span>: <span class="hljs-string">"User"</span>,
            &lt;-- omitted for brevity --&gt;
        }
    }
}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>404</code></strong><a data-toggle="collapse" data-target="#collapse-2899aed398c3730fa9ca220a374200c4" class="pull-right collapsed">Toggle details</a></li><li id="collapse-2899aed398c3730fa9ca220a374200c4" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the news does not exist or if the user does not have permission to view it.</p>
<p><strong>Required permission</strong> being member of the project the news belongs to</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:NotFound"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The requested resource could not be found."</span>
</span>}</code></pre></li></ul></section><h2 id="news-list-of-news">List of News&nbsp;<a href="#news-list-of-news" class="permalink"><i class="fa fa-link"></i></a></h2><section id="news-list-of-news-get" class="panel panel-info"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">List News</span></div><div style="float:left"><a href="#news-list-of-news-get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/news{?offset,pageSize,filters,sortBy}</code></div></div><div class="panel-body"><p>Lists news. The news returned depend on the provided parameters and also on the requesting user’s permissions.</p>
</div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>offset</dt><dd><code>integer</code>&nbsp;<span>(optional)</span>&nbsp;<span class="text-info default"><strong>Default:&nbsp;</strong><span>1</span></span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>25</span></span><p>Page number inside the requested collection.</p>
</dd><dt>pageSize</dt><dd><code>integer</code>&nbsp;<span>(optional)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>25</span></span><p>Number of elements to display per page.</p>
</dd><dt>sortBy</dt><dd><code>string</code>&nbsp;<span>(optional)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>[[&quot;created_at&quot;, &quot;asc&quot;]]</span></span><p>JSON specifying sort criteria.
Accepts the same format as returned by the <a href="#queries">queries</a> endpoint. Currently supported sorts are:</p>
<ul>
<li>
<p>id: Sort by primary key</p>
</li>
<li>
<p>created_on: Sort by news creation datetime</p>
</li>
</ul>
</dd><dt>filters</dt><dd><code>string</code>&nbsp;<span>(optional)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>[{ &quot;project_id&quot;: { &quot;operator&quot;: &quot;=&quot;, &quot;values&quot;: [&quot;1&quot;, &quot;2&quot;] } }]</span></span><p>JSON specifying filter conditions.
Accepts the same format as returned by the <a href="#queries">queries</a> endpoint. Currently supported filters are:</p>
<ul>
<li>project_id: Filter news by project</li>
</ul>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-ae1a39272378d4a13b2f9fa4fb3bb91b" class="pull-right collapsed">Toggle details</a></li><li id="collapse-ae1a39272378d4a13b2f9fa4fb3bb91b" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Collection"</span></span>,
  "<span class="hljs-attribute">total</span>": <span class="hljs-value"><span class="hljs-number">78</span></span>,
  "<span class="hljs-attribute">count</span>": <span class="hljs-value"><span class="hljs-number">2</span></span>,
  "<span class="hljs-attribute">pageSize</span>": <span class="hljs-value"><span class="hljs-number">2</span></span>,
  "<span class="hljs-attribute">offset</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">_embedded</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">elements</span>": <span class="hljs-value">[
      {
        "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"News"</span></span>,
        "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
        "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"asperiores possimus nam doloribus ab"</span></span>,
        "<span class="hljs-attribute">summary</span>": <span class="hljs-value"><span class="hljs-string">"Celebrer spiculum colo viscus claustrum atque. Id nulla culpa sumptus. Comparo crapula depopulo demonstro."</span></span>,
        "<span class="hljs-attribute">description</span>": <span class="hljs-value">{
          "<span class="hljs-attribute">format</span>": <span class="hljs-value"><span class="hljs-string">"markdown"</span></span>,
          "<span class="hljs-attribute">raw</span>": <span class="hljs-value"><span class="hljs-string">"Videlicet deserunt aequitas cognatus. Concedo quia est quia pariatur vorago vallum. Calco autem atavus accusamus conscendo cornu ulterius. Tam patria ago consectetur ventito sustineo nihil caecus. Supra officiis eos velociter somniculosus tonsor qui. Suffragium aduro arguo angustus cogito quia tolero vulnus. Supplanto sortitus cresco apud vestrum qui."</span></span>,
          "<span class="hljs-attribute">html</span>": <span class="hljs-value"><span class="hljs-string">"&lt;p&gt;Videlicet deserunt aequitas cognatus. Concedo quia est quia pariatur vorago vallum. Calco autem atavus accusamus conscendo cornu ulterius. Tam patria ago consectetur ventito sustineo nihil caecus. Supra officiis eos velociter somniculosus tonsor qui. Suffragium aduro arguo angustus cogito quia tolero vulnus. Supplanto sortitus cresco apud vestrum qui.&lt;/p&gt;"</span>
        </span>}</span>,
        "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value"><span class="hljs-string">"2015-03-20T12:57:01Z"</span></span>,
        "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
          "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/news/1"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"asperiores possimus nam doloribus ab"</span>
          </span>}</span>,
          "<span class="hljs-attribute">project</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/projects/1"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Seeded Project"</span>
          </span>}</span>,
          "<span class="hljs-attribute">author</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/2"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Peggie Feeney"</span>
          </span>}
        </span>}
      </span>},
      {
        "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"News"</span></span>,
        "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">2</span></span>,
        "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"terminatio tutamen. Officia adeptio sp"</span></span>,
        "<span class="hljs-attribute">summary</span>": <span class="hljs-value"><span class="hljs-string">"Consequatur sequi surculus creo tui aequitas."</span></span>,
        "<span class="hljs-attribute">description</span>": <span class="hljs-value">{
          "<span class="hljs-attribute">format</span>": <span class="hljs-value"><span class="hljs-string">"markdown"</span></span>,
          "<span class="hljs-attribute">raw</span>": <span class="hljs-value"><span class="hljs-string">"Amicitia alius cattus voluntarius. Virgo viduo terminatio tutamen. Officia adeptio spectaculum atavus nisi cum concido bis. Harum caecus auxilium sol theatrum eaque consequatur. Omnis aeger suus adipisci cicuta. Cur delicate alias curto cursim atqui talio fugiat."</span></span>,
          "<span class="hljs-attribute">html</span>": <span class="hljs-value"><span class="hljs-string">"&lt;p&gt;Amicitia alius cattus voluntarius. Virgo viduo terminatio tutamen. Officia adeptio spectaculum atavus nisi cum concido bis. Harum caecus auxilium sol theatrum eaque consequatur. Omnis aeger suus adipisci cicuta. Cur delicate alias curto cursim atqui talio fugiat.&lt;/p&gt;"</span>
        </span>}</span>,
        "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value"><span class="hljs-string">"2015-03-20T12:57:01Z"</span></span>,
        "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
          "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/news/2"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"terminatio tutamen. Officia adeptio sp"</span>
          </span>}</span>,
          "<span class="hljs-attribute">project</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/projects/1"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Seeded Project"</span>
          </span>}</span>,
          "<span class="hljs-attribute">author</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/2"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Peggie Feeney"</span>
          </span>}
        </span>}
      </span>}
    ]
  </span>}</span>,
  "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/news?offset=1&amp;pageSize=2"</span>
    </span>}</span>,
    "<span class="hljs-attribute">jumpTo</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/news?offset=%7Boffset%7D&amp;pageSize=2"</span></span>,
      "<span class="hljs-attribute">templated</span>": <span class="hljs-value"><span class="hljs-literal">true</span>
    </span>}</span>,
    "<span class="hljs-attribute">changeSize</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/news?offset=1&amp;pageSize=%7Bsize%7D"</span></span>,
      "<span class="hljs-attribute">templated</span>": <span class="hljs-value"><span class="hljs-literal">true</span>
    </span>}</span>,
    "<span class="hljs-attribute">nextByOffset</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/news?offset=2&amp;pageSize=2"</span>
    </span>}
  </span>}
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>400</code></strong><a data-toggle="collapse" data-target="#collapse-2f39359ed57c726f0ee72ef3d8a728f2" class="pull-right collapsed">Toggle details</a></li><li id="collapse-2f39359ed57c726f0ee72ef3d8a728f2" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client sends invalid request parameters e.g. filters</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:InvalidQuery"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value">[
    <span class="hljs-string">"Filters Invalid filter does not exist."</span>
  ]
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-ea2d15dd0a033644bd9831c1af5cb656" class="pull-right collapsed">Toggle details</a></li><li id="collapse-ea2d15dd0a033644bd9831c1af5cb656" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client is not logged in and login is required.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not authorized to view this resource."</span>
</span>}</code></pre></li></ul></section></div></div></div>
