---
source_path: docs/api/apiv3/endpoints/relations.apib
---
<div><div class="description"></div><h1>Relations</h1><div class="panel panel-default"><div class="panel-body"><p>Work packages may be related to each other in different ways.</p>
<pre><code>+--------------+                            +--------------+
|<span class="hljs-string">              </span>|<span class="hljs-string"> 1                        1 </span>|<span class="hljs-string">              </span>|
|<span class="hljs-string"> Work package +-------------+--------------+ Work package </span>|
|<span class="hljs-string">              </span>|<span class="hljs-string"> from        </span>|<span class="hljs-string">           to </span>|<span class="hljs-string">              </span>|
+--------------+             |<span class="hljs-string">              +--------------+
                      +------+-------+
                      </span>|<span class="hljs-string">   Relation   </span>|
                      +--------------+
                      |<span class="hljs-string"> type         </span>|
                      |<span class="hljs-string"> reverseType  </span>|
                      |<span class="hljs-string"> description  </span>|
                      |<span class="hljs-string"> delay        </span>|
                      +--------------+</code></pre>
<h2 id="header-actions-1">Actions <a class="permalink" href="#header-actions-1" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Link</th>
<th>Description</th>
<th>Condition</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">update</td>
<td>Updates the relation between two work packages via a form</td>
<td><strong>Permission</strong>: manage work package relations</td>
</tr>
<tr>
<td style="text-align:center">updateImmediately</td>
<td>Updates the relation between two work packages</td>
<td><strong>Permission</strong>: manage work package relations</td>
</tr>
<tr>
<td style="text-align:center">delete</td>
<td>Destroys the relation between the two work packages</td>
<td><strong>Permission</strong>: manage work package relations</td>
</tr>
</tbody>
</table>
<h2 id="header-linked-properties-1">Linked Properties <a class="permalink" href="#header-linked-properties-1" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Link</th>
<th>Description</th>
<th>Type</th>
<th>Constraints</th>
<th>Supported operations</th>
<th>Condition</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">self</td>
<td>This relation</td>
<td>Relation</td>
<td>not null</td>
<td>READ</td>
<td><strong>Permission</strong>: view work packages</td>
</tr>
<tr>
<td style="text-align:center">schema</td>
<td>The schema of this relation</td>
<td>Schema</td>
<td>not null</td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">from</td>
<td>The emanating work package</td>
<td>WorkPackage</td>
<td>not null</td>
<td>READ</td>
<td><strong>Permission</strong>: view work packages</td>
</tr>
<tr>
<td style="text-align:center">to</td>
<td>The work package the relation ends in</td>
<td>WorkPackage</td>
<td>not null</td>
<td>READ</td>
<td><strong>Permission</strong>: view work packages</td>
</tr>
</tbody>
</table>
<h2 id="header-local-properties-1">Local Properties <a class="permalink" href="#header-local-properties-1" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Property</th>
<th>Description</th>
<th>Type</th>
<th>Constraints</th>
<th>Supported operations</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">id</td>
<td>Relation ID</td>
<td>Integer</td>
<td>x &gt; 0</td>
<td>READ</td>
</tr>
<tr>
<td style="text-align:center">name</td>
<td>The internationalized name of this kind of relation</td>
<td>String</td>
<td></td>
<td>READ</td>
</tr>
<tr>
<td style="text-align:center">type</td>
<td>Which kind of relation (blocks, precedes, etc.)</td>
<td>String</td>
<td>in: relates, duplicates, duplicated, blocks, blocked, precedes, follows, includes, partof, requires, required</td>
<td>READ / WRITE</td>
</tr>
<tr>
<td style="text-align:center">reverseType</td>
<td>The kind of relation from the other WP’s perspective</td>
<td>String</td>
<td>in: relates, duplicates, duplicated, blocks, blocked, precedes, follows, includes, partof, requires, required</td>
<td>READ</td>
</tr>
<tr>
<td style="text-align:center">description</td>
<td>Short text further describing the relation</td>
<td>String</td>
<td></td>
<td>READ / WRITE</td>
</tr>
<tr>
<td style="text-align:center">delay*</td>
<td>The delay in days between closing of <code>from</code> and start of <code>to</code></td>
<td>Integer</td>
<td>x &gt;= 0</td>
<td>READ / WRITE</td>
</tr>
</tbody>
</table>
<p>* Only applicable for some relation types such as “follows”. You can check using the relation by schema
endpoint at <code>/api/v3/relations/schema/{type}</code>.</p>
<h2 id="relations-relation">Relation&nbsp;<a href="#relations-relation" class="permalink"><i class="fa fa-link"></i></a></h2><section id="relations-relation-get" class="panel panel-info"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">View Relation</span></div><div style="float:left"><a href="#relations-relation-get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/relations/{id}</code></div></div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>id</dt><dd><code>integer</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>1</span></span><p>Relation id</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-235fdb502470e073fc9db41a8fe20a67" class="pull-right collapsed">Toggle details</a></li><li id="collapse-235fdb502470e073fc9db41a8fe20a67" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/relations/1"</span>
    </span>}</span>,
    "<span class="hljs-attribute">update</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/relations/1/form"</span></span>,
      "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"POST"</span>
    </span>}</span>,
    "<span class="hljs-attribute">updateImmediately</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/relations/1"</span></span>,
      "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"PATCH"</span>
    </span>}</span>,
    "<span class="hljs-attribute">delete</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/relations/1"</span></span>,
      "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"DELETE"</span>
    </span>}</span>,
    "<span class="hljs-attribute">from</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/work_packages/42"</span></span>,
      "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Steel Delivery"</span>
    </span>}</span>,
    "<span class="hljs-attribute">to</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/work_packages/84"</span></span>,
      "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Bending the steel"</span>
    </span>}
  </span>}</span>,
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Relation"</span></span>,
  "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"precedes"</span></span>,
  "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"precedes"</span></span>,
  "<span class="hljs-attribute">reverseType</span>": <span class="hljs-value"><span class="hljs-string">"follows"</span></span>,
  "<span class="hljs-attribute">description</span>": <span class="hljs-value"><span class="hljs-string">"We can't bend the steel before it's been delivered!"</span></span>,
  "<span class="hljs-attribute">delay</span>": <span class="hljs-value"><span class="hljs-number">0</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>404</code></strong><a data-toggle="collapse" data-target="#collapse-ae6f9b728f8102604c9191305c572664" class="pull-right collapsed">Toggle details</a></li><li id="collapse-ae6f9b728f8102604c9191305c572664" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the relation does not exist or the client does not have sufficient permissions to see it.</p>
<p><strong>Required permission:</strong> view work packages for the involved work packages</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:NotFound"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The specified relation does not exist."</span>
</span>}</code></pre></li></ul></section><section id="relations-relation-patch" class="panel panel-warning"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">Edit Relation</span></div><div style="float:left"><a href="#relations-relation-patch" class="btn btn-xs btn-warning">PATCH</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/relations/{id}</code></div></div><div class="panel-body"><p>When calling this endpoint the client provides a single object, containing the properties and links that it wants to change, in the body.
It is only allowed to provide properties or links supporting the <strong>write</strong> operation.</p>
<p>Note that changing the <code>type</code> of a relation invariably also changes the respective <code>reverseType</code> as well as the “name” of it.
The returned Relation object will reflect that change. For instance if you change a Relation’s
<code>type</code> to “follows” then the <code>reverseType</code> will be changed to <code>precedes</code>.</p>
</div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>id</dt><dd><code>integer</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>1</span></span><p>Relation ID</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Request&nbsp;&nbsp;<code>Update Relation</code></strong><a data-toggle="collapse" data-target="#collapse-b2b3cdd430a5769e40594afa0698cd09" class="pull-right collapsed">Toggle details</a></li><li id="collapse-b2b3cdd430a5769e40594afa0698cd09" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json</span><br/></code></pre><h5>Body</h5><pre><code>{
    "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"blocks"</span></span>,
    "<span class="hljs-attribute">description</span>": <span class="hljs-value"><span class="hljs-string">"Actually the supplier has to bend the steel before they can deliver it."</span>
    <span class="hljs-string">"delay"</span>: <span class="hljs-number">3</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-c5a174faa46a8dc8bed3d90acbc0350b" class="pull-right collapsed">Toggle details</a></li><li id="collapse-c5a174faa46a8dc8bed3d90acbc0350b" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/relations/1"</span>
    </span>}</span>,
    "<span class="hljs-attribute">update</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/relations/1/form"</span></span>,
      "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"POST"</span>
    </span>}</span>,
    "<span class="hljs-attribute">updateImmediately</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/relations/1"</span></span>,
      "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"PATCH"</span>
    </span>}</span>,
    "<span class="hljs-attribute">delete</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/relations/1"</span></span>,
      "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"DELETE"</span>
    </span>}</span>,
    "<span class="hljs-attribute">from</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/work_packages/42"</span></span>,
      "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Steel Delivery"</span>
    </span>}</span>,
    "<span class="hljs-attribute">to</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/work_packages/84"</span></span>,
      "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Bending the steel"</span>
    </span>}
  </span>}</span>,
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Relation"</span></span>,
  "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"precedes"</span></span>,
  "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"precedes"</span></span>,
  "<span class="hljs-attribute">reverseType</span>": <span class="hljs-value"><span class="hljs-string">"follows"</span></span>,
  "<span class="hljs-attribute">description</span>": <span class="hljs-value"><span class="hljs-string">"We can't bend the steel before it's been delivered!"</span></span>,
  "<span class="hljs-attribute">delay</span>": <span class="hljs-value"><span class="hljs-number">0</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>400</code></strong><a data-toggle="collapse" data-target="#collapse-746858afeb4ae69cbd32faa15f82e37f" class="pull-right collapsed">Toggle details</a></li><li id="collapse-746858afeb4ae69cbd32faa15f82e37f" class="list-group-item panel-collapse collapse"><div class="description"><p>Occurs when the client did not send a valid JSON object in the request body.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:InvalidRequestBody"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The request body was not a single JSON object."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>404</code></strong><a data-toggle="collapse" data-target="#collapse-b1e0e341db62db2c1acbe10ee7e110da" class="pull-right collapsed">Toggle details</a></li><li id="collapse-b1e0e341db62db2c1acbe10ee7e110da" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the relation does not exist or the client does not have sufficient permissions to see it.</p>
<p><strong>Required permission:</strong> manage work package relations</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:NotFound"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The specified relation does not exist."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>422</code></strong><a data-toggle="collapse" data-target="#collapse-c147227473a17635972bb63595006184" class="pull-right collapsed">Toggle details</a></li><li id="collapse-c147227473a17635972bb63595006184" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if:</p>
<ul>
<li>
<p>the client tries to modify a read-only property (<code>PropertyIsReadOnly</code>)</p>
</li>
<li>
<p>a constraint for a property was violated (<code>PropertyConstraintViolation</code>)</p>
</li>
<li>
<p>the client provides a link to an invalid resource (<code>ResourceTypeMismatch</code>) or a
work package that does not exist or for which the client does not have sufficient permissions
to see it (<strong>required permissions</strong>: <code>view work packages</code> for the involved work packages).</p>
</li>
</ul>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:PropertyConstraintViolation"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"Delay must be a number greater than or equal to 0"</span></span>,
  "<span class="hljs-attribute">_embedded</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">details</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">attribute</span>": <span class="hljs-value"><span class="hljs-string">"delay"</span>
    </span>}
  </span>}
</span>}</code></pre></li></ul></section><section id="relations-relation-delete" class="panel panel-danger"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">Delete Relation</span></div><div style="float:left"><a href="#relations-relation-delete" class="btn btn-xs btn-danger">DELETE</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/relations/{id}</code></div></div><div class="panel-body"><p>Deletes the relation.</p>
</div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>id</dt><dd><code>integer</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>1</span></span><p>Relation ID</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>204</code></strong><a data-toggle="collapse" data-target="#collapse-3ab8ef321a53217f3f6292f5afd5b108" class="pull-right collapsed">Toggle details</a></li><li id="collapse-3ab8ef321a53217f3f6292f5afd5b108" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the relation was deleted successfully.
The response body is empty.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-e53812ac528b8f9f071d94d7cda44705" class="pull-right collapsed">Toggle details</a></li><li id="collapse-e53812ac528b8f9f071d94d7cda44705" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client does not have sufficient permissions.</p>
<p><strong>Required permission:</strong> manage work package relations</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not allowed to delete this relation."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>404</code></strong><a data-toggle="collapse" data-target="#collapse-cc7fd3bfed7e1fb941bac390747935ae" class="pull-right collapsed">Toggle details</a></li><li id="collapse-cc7fd3bfed7e1fb941bac390747935ae" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the relation does not exist or the client does not have sufficient permissions to see it.</p>
<p><strong>Required permission:</strong> manage work package relations</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:NotFound"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The specified relation does not exist."</span>
</span>}</code></pre></li></ul></section><h2 id="relations-relation-schema">Relation schema&nbsp;<a href="#relations-relation-schema" class="permalink"><i class="fa fa-link"></i></a></h2><section id="relations-relation-schema-get" class="panel panel-info"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">View relation schema</span></div><div style="float:left"><a href="#relations-relation-schema-get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/relations/schema</code></div></div><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-900b9755bedec724d5a5b61ef7a26ad0" class="pull-right collapsed">Toggle details</a></li><li id="collapse-900b9755bedec724d5a5b61ef7a26ad0" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Schema"</span></span>,
  "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/relations/schema"</span>
    </span>}
  </span>}</span>,
  "<span class="hljs-attribute">id</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"ID"</span></span>,
    "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"Integer"</span></span>,
    "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">false</span>
  </span>}</span>,
  "<span class="hljs-attribute">type</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Type"</span></span>,
    "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"String"</span></span>,
    "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">true</span>
  </span>}</span>,
  "<span class="hljs-attribute">reverseType</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Reverse Type"</span></span>,
    "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"String"</span></span>,
    "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">false</span>
  </span>}</span>,
  "<span class="hljs-attribute">description</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Description"</span></span>,
    "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"String"</span></span>,
    "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">true</span>
  </span>}</span>,
  "<span class="hljs-attribute">from</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"From work package"</span></span>,
    "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"WorkPackage"</span></span>,
    "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">false</span>
  </span>}</span>,
  "<span class="hljs-attribute">to</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"To work package"</span></span>,
    "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"WorkPackage"</span></span>,
    "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">false</span>
  </span>}</span>,
  "<span class="hljs-attribute">delay</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Delay"</span></span>,
    "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"Integer"</span></span>,
    "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">true</span>
  </span>}
</span>}</code></pre></li></ul></section><h2 id="relations-relation-schema-for-type">Relation schema for type&nbsp;<a href="#relations-relation-schema-for-type" class="permalink"><i class="fa fa-link"></i></a></h2><p>The exact schema for a relation may depend on it’s type.
For instance the “follows” relation has an additional “delay” field which is not
applicable for the other relations.</p>
<section id="relations-relation-schema-for-type-get" class="panel panel-info"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">View relation schema for type</span></div><div style="float:left"><a href="#relations-relation-schema-for-type-get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/relations/schema/{type}</code></div></div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>type</dt><dd><code>string</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>follows</span></span><p>Type of the schema</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-0ef7e5e60f6d705059a158a5c7ffda2b" class="pull-right collapsed">Toggle details</a></li><li id="collapse-0ef7e5e60f6d705059a158a5c7ffda2b" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Schema"</span></span>,
  "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/relations/schema"</span>
    </span>}
  </span>}</span>,
  "<span class="hljs-attribute">id</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"ID"</span></span>,
    "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"Integer"</span></span>,
    "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">false</span>
  </span>}</span>,
  "<span class="hljs-attribute">type</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Type"</span></span>,
    "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"String"</span></span>,
    "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">true</span>
  </span>}</span>,
  "<span class="hljs-attribute">reverseType</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Reverse Type"</span></span>,
    "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"String"</span></span>,
    "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">false</span>
  </span>}</span>,
  "<span class="hljs-attribute">description</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Description"</span></span>,
    "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"String"</span></span>,
    "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">true</span>
  </span>}</span>,
  "<span class="hljs-attribute">from</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"From work package"</span></span>,
    "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"WorkPackage"</span></span>,
    "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">false</span>
  </span>}</span>,
  "<span class="hljs-attribute">to</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"To work package"</span></span>,
    "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"WorkPackage"</span></span>,
    "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">false</span>
  </span>}</span>,
  "<span class="hljs-attribute">delay</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Delay"</span></span>,
    "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"Integer"</span></span>,
    "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">true</span>
  </span>}
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>404</code></strong><a data-toggle="collapse" data-target="#collapse-e07d485052a4be747888d0f3f4ed5551" class="pull-right collapsed">Toggle details</a></li><li id="collapse-e07d485052a4be747888d0f3f4ed5551" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the relation type does not exist or the client does not have sufficient permissions to see it.</p>
<p><strong>Required permission:</strong> manage work package relations</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:NotFound"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The specified relation type does not exist."</span>
</span>}</code></pre></li></ul></section><h2 id="relations-relations">Relations&nbsp;<a href="#relations-relations" class="permalink"><i class="fa fa-link"></i></a></h2><section id="relations-relations-get" class="panel panel-info"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">List Relations</span></div><div style="float:left"><a href="#relations-relations-get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/relations{?filters,sortBy}</code></div></div><div class="panel-body"><p>Lists all relations according to the given (optional, logically conjunctive) filters and ordered by ID.
The response only includes relations between work packages which the user is allowed to see.</p>
</div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>filters</dt><dd><code>string</code>&nbsp;<span>(optional)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>[{ &quot;from&quot;: { &quot;operator&quot;: &quot;=&quot;, &quot;values&quot;: 42 }&quot; }]</span></span><p>JSON specifying filter conditions.
Accepts the same format as returned by the <a href="#queries">queries</a> endpoint. Valid fields to filter by are:</p>
<ul>
<li>
<p>id - ID of relation</p>
</li>
<li>
<p>from - ID of work package from which the filtered relations emanates.</p>
</li>
<li>
<p>to - ID of work package to which this related points.</p>
</li>
<li>
<p>involved - ID of either the <code>from</code> or the <code>to</code> work package.</p>
</li>
<li>
<p>type - The type of relation to filter by, e.g. “follows”.</p>
</li>
</ul>
</dd><dt>sortBy</dt><dd><code>string</code>&nbsp;<span>(optional)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>[[&quot;type&quot;, &quot;asc&quot;]]</span></span><p>JSON specifying sort criteria.
Accepts the same format as returned by the <a href="#queries">queries</a> endpoint.</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-8b370d32ac67901d421c2439eab8bf36" class="pull-right collapsed">Toggle details</a></li><li id="collapse-8b370d32ac67901d421c2439eab8bf36" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/relations"</span>
    </span>}
  </span>}</span>,
  "<span class="hljs-attribute">total</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
  "<span class="hljs-attribute">count</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Collection"</span></span>,
  "<span class="hljs-attribute">_embedded</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">elements</span>": <span class="hljs-value">[
      {
        "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
          "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/relations/1"</span>
          </span>}</span>,
          "<span class="hljs-attribute">update</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/relations/1/form"</span></span>,
            "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"POST"</span>
          </span>}</span>,
          "<span class="hljs-attribute">updateImmediately</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/relations/1"</span></span>,
            "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"PATCH"</span>
          </span>}</span>,
          "<span class="hljs-attribute">delete</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/relations/1"</span></span>,
            "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"DELETE"</span>
          </span>}</span>,
          "<span class="hljs-attribute">from</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/work_packages/42"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Steel Delivery"</span>
          </span>}</span>,
          "<span class="hljs-attribute">to</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/work_packages/84"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Bending the steel"</span>
          </span>}
        </span>}</span>,
        "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Relation"</span></span>,
        "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"precedes"</span></span>,
        "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"precedes"</span></span>,
        "<span class="hljs-attribute">reverseType</span>": <span class="hljs-value"><span class="hljs-string">"follows"</span></span>,
        "<span class="hljs-attribute">description</span>": <span class="hljs-value"><span class="hljs-string">"We can't bend the steel before it's been delivered!"</span></span>,
        "<span class="hljs-attribute">delay</span>": <span class="hljs-value"><span class="hljs-number">0</span>
      </span>}
    ]
  </span>}
</span>}</code></pre></li></ul></section><h2 id="relations-relation-edit-form">Relation edit form&nbsp;<a href="#relations-relation-edit-form" class="permalink"><i class="fa fa-link"></i></a></h2><p>This endpoint returns a form to allow a guided creation of a new work package relation.
The returned form will be pre-filled with default values for every property, if available.</p>
<p>For more details and all possible responses see the general specification of <a href="/api/forms">Forms</a>.</p>
<section id="relations-relation-edit-form-post" class="panel panel-success"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">Relation edit form</span></div><div style="float:left"><a href="#relations-relation-edit-form-post" class="btn btn-xs btn-success">POST</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/relations/{id}/form</code></div></div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>id</dt><dd><code>integer</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>1</span></span><p>ID of the relation being modified</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Request</strong><a data-toggle="collapse" data-target="#collapse-3fe0da6db14b3c2a30e34f2507ec8586" class="pull-right collapsed">Toggle details</a></li><li id="collapse-3fe0da6db14b3c2a30e34f2507ec8586" class="list-group-item panel-collapse collapse"><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Relation"</span></span>,
  "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"follows"</span></span>,
  "<span class="hljs-attribute">description</span>": <span class="hljs-value"><span class="hljs-string">"let it rest for 3 days"</span></span>,
  "<span class="hljs-attribute">delay</span>": <span class="hljs-value"><span class="hljs-number">3</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-41fa363e0e042612e558fd92eb10eab6" class="pull-right collapsed">Toggle details</a></li><li id="collapse-41fa363e0e042612e558fd92eb10eab6" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/relations/form"</span>
    </span>}</span>,
    "<span class="hljs-attribute">validate</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/relations/form"</span></span>,
      "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"POST"</span>
    </span>}</span>,
    "<span class="hljs-attribute">commit</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/relations"</span></span>,
      "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"PATCH"</span>
    </span>}
  </span>}</span>,
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Form"</span></span>,
  "<span class="hljs-attribute">_embedded</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">payload</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">from</span>": <span class="hljs-value">{
          "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/work_packages/4534"</span>
        </span>}</span>,
        "<span class="hljs-attribute">to</span>": <span class="hljs-value">{
          "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/work_packages/3857"</span>
        </span>}
      </span>}</span>,
      "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"WorkPackage"</span></span>,
      "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"follows"</span></span>,
      "<span class="hljs-attribute">delay</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
      "<span class="hljs-attribute">description</span>": <span class="hljs-value"><span class="hljs-string">"let it rest for 3 days"</span>
    </span>}</span>,
    "<span class="hljs-attribute">schema</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Schema"</span></span>,
      "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
          "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/relations/schema"</span>
        </span>}
      </span>}</span>,
      "<span class="hljs-attribute">id</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"ID"</span></span>,
        "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"Integer"</span></span>,
        "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">false</span>
      </span>}</span>,
      "<span class="hljs-attribute">type</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Type"</span></span>,
        "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"String"</span></span>,
        "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
        "<span class="hljs-attribute">allowedValues</span>": <span class="hljs-value">[
          <span class="hljs-string">"relates"</span>,
          <span class="hljs-string">"duplicates"</span>,
          <span class="hljs-string">"duplicated"</span>,
          <span class="hljs-string">"blocks"</span>,
          <span class="hljs-string">"blocked"</span>,
          <span class="hljs-string">"precedes"</span>,
          <span class="hljs-string">"follows"</span>,
          <span class="hljs-string">"includes"</span>,
          <span class="hljs-string">"partof"</span>,
          <span class="hljs-string">"requires"</span>,
          <span class="hljs-string">"required"</span>
        ]
      </span>}</span>,
      "<span class="hljs-attribute">reverseType</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Reverse Type"</span></span>,
        "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"String"</span></span>,
        "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">false</span>
      </span>}</span>,
      "<span class="hljs-attribute">description</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Description"</span></span>,
        "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"String"</span></span>,
        "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">true</span>
      </span>}</span>,
      "<span class="hljs-attribute">from</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"From work package"</span></span>,
        "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"WorkPackage"</span></span>,
        "<span class="hljs-attribute">writeable</span>": <span class="hljs-value"><span class="hljs-literal">false</span>
      </span>}</span>,
      "<span class="hljs-attribute">to</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"To work package"</span></span>,
        "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"WorkPackage"</span></span>,
        "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">false</span>
      </span>}</span>,
      "<span class="hljs-attribute">delay</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Delay"</span></span>,
        "<span class="hljs-attribute">type</span>": <span class="hljs-value"><span class="hljs-string">"Integer"</span></span>,
        "<span class="hljs-attribute">writable</span>": <span class="hljs-value"><span class="hljs-literal">true</span>
      </span>}
    </span>}</span>,
    "<span class="hljs-attribute">validationErrors</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">from</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
        "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:BadExampleError"</span></span>,
        "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"For the purpose of this example we need a validation error. The remainder of the response pretends there were no errors."</span>
      </span>}
    </span>}
  </span>}
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-eafba90ec1bceb174ae5677359332ca1" class="pull-right collapsed">Toggle details</a></li><li id="collapse-eafba90ec1bceb174ae5677359332ca1" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client does not have sufficient permissions.</p>
<p><strong>Required permission:</strong> manage work package relations</p>
<p><em>Note that you will only receive this error, if you are at least allowed to see the involved work packages.</em></p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not allowed to edit the specified relation."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>404</code></strong><a data-toggle="collapse" data-target="#collapse-a5417cc64e918e57017e3d220ec28470" class="pull-right collapsed">Toggle details</a></li><li id="collapse-a5417cc64e918e57017e3d220ec28470" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the relation does not exist or the client does not have sufficient permissions to see it.</p>
<p><strong>Required permission:</strong> view (involved) work package(s), manage work package relations</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:NotFound"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The specified relation does not exist."</span>
</span>}</code></pre></li></ul></section></div></div></div>
