<div><div class="description"></div><h1>Revisions</h1><div class="panel panel-default"><div class="panel-body"><p>Revisions are sets of updates to files in the context of repositories linked in OpenProject.</p>
<h2 id="header-linked-properties-1">Linked Properties <a class="permalink" href="#header-linked-properties-1" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Link</th>
<th>Description</th>
<th>Type</th>
<th>Constraints</th>
<th>Supported operations</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">self</td>
<td>This revision</td>
<td>Revision</td>
<td>not null</td>
<td>READ</td>
</tr>
<tr>
<td style="text-align:center">project</td>
<td>The project to which the revision belongs</td>
<td>Project</td>
<td>not null</td>
<td>READ</td>
</tr>
<tr>
<td style="text-align:center">author</td>
<td>The user that added this revision, if the authorName was mapped to a user in OpenProject</td>
<td>User</td>
<td></td>
<td>READ</td>
</tr>
<tr>
<td style="text-align:center">showRevision</td>
<td>A URL to the repository view (outside APIv3) showing this revision</td>
<td>-</td>
<td>not null</td>
<td>READ</td>
</tr>
</tbody>
</table>
<h2 id="header-local-properties-1">Local Properties <a class="permalink" href="#header-local-properties-1" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Property</th>
<th>Description</th>
<th>Type</th>
<th>Constraints</th>
<th>Supported operations</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">id</td>
<td>Revision’s id, assigned by OpenProject</td>
<td>Integer</td>
<td>x &gt; 0</td>
<td>READ</td>
</tr>
<tr>
<td style="text-align:center">identifier</td>
<td>The raw SCM identifier of the revision (e.g. full SHA hash)</td>
<td>String</td>
<td>not null</td>
<td>READ</td>
</tr>
<tr>
<td style="text-align:center">formattedIdentifier</td>
<td>The SCM identifier of the revision, formatted (e.g. shortened unambiguous SHA hash). May be identical to identifier in many cases</td>
<td>String</td>
<td>not null</td>
<td>READ</td>
</tr>
<tr>
<td style="text-align:center">authorName</td>
<td>The name of the author that committed this revision. Note that this name is retrieved from the repository and does not identify a user in OpenProject.</td>
<td>String</td>
<td>not null</td>
<td>READ</td>
</tr>
<tr>
<td style="text-align:center">message</td>
<td>The commit message of the revision</td>
<td>Formattable</td>
<td>not null</td>
<td>READ</td>
</tr>
<tr>
<td style="text-align:center">createdAt</td>
<td>The time this revision was committed to the repository</td>
<td>DateTime</td>
<td>not null</td>
<td>READ</td>
</tr>
</tbody>
</table>
<h2 id="revisions-revision">Revision&nbsp;<a href="#revisions-revision" class="permalink"><i class="fa fa-link"></i></a></h2><section id="revisions-revision-get" class="panel panel-info"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">View revision</span></div><div style="float:left"><a href="#revisions-revision-get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/revisions/{id}</code></div></div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>id</dt><dd><code>integer</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>1</span></span><p>Revision id</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-c5215ec0486103b11f9e5f7d473beb0f" class="pull-right collapsed">Toggle details</a></li><li id="collapse-c5215ec0486103b11f9e5f7d473beb0f" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code><span class="hljs-collection">{
    <span class="hljs-string">"_type"</span>: <span class="hljs-string">"Revision"</span>,
    <span class="hljs-string">"_links"</span>: <span class="hljs-collection">{
        <span class="hljs-string">"self"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/revisions/1"</span>
        }</span>,
        <span class="hljs-string">"project"</span> <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/projects/1"</span>
        }</span>,
        <span class="hljs-string">"author"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/users/1"</span>
        }</span>,
        <span class="hljs-string">"showRevision"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/projects/identifier/repository/revision/11f4b07"</span>
        }</span>
    }</span>,
    <span class="hljs-string">"id"</span>: <span class="hljs-number">1</span>,
    <span class="hljs-string">"identifier"</span>: <span class="hljs-string">"11f4b07dff4f4ce9548a52b7d002daca7cd63ec6"</span>,
    <span class="hljs-string">"formattedIdentifier"</span>: <span class="hljs-string">"11f4b07"</span>,
    <span class="hljs-string">"authorName"</span>: <span class="hljs-string">"Some Developer"</span>,
    <span class="hljs-string">"message"</span>: <span class="hljs-collection">{
        <span class="hljs-string">"format"</span>: <span class="hljs-string">"plain"</span>,
        <span class="hljs-string">"raw"</span>: <span class="hljs-string">"This revision provides new features\n\nAn elaborate description"</span>,
        <span class="hljs-string">"html"</span>: <span class="hljs-string">"&lt;p&gt;This revision provides new features&lt;br/&gt;&lt;br/&gt;An elaborate description&lt;/p&gt;"</span>
    }</span>,
    <span class="hljs-string">"createdAt"</span>: <span class="hljs-string">"2015-07-21T13:36:59Z"</span>
}</span></code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>404</code></strong><a data-toggle="collapse" data-target="#collapse-45cd09ee962c6df3ebac79525fee0934" class="pull-right collapsed">Toggle details</a></li><li id="collapse-45cd09ee962c6df3ebac79525fee0934" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the revision does not exist or the client does not have sufficient permissions
to see it.</p>
<p><strong>Required permission:</strong> view changesets for the project the repository is created in.</p>
<p><em>Note: A client without sufficient permissions shall not be able to test for the existence of a revision.
That’s why a 404 is returned here, even if a 403 might be more appropriate.</em></p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:NotFound"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The specified revision does not exist."</span>
</span>}</code></pre></li></ul></section></div></div></div>