---
source_path: docs/api/apiv3/endpoints/root.apib
---
<div><div class="description"></div><h1>Root</h1><div class="panel panel-default"><div class="panel-body"><p>The root resource contains links to available resources in the API. By following these links
a client should be able to discover further resources in the API.</p>
<p><em>Note: Currently there is no list action for projects available.</em>
<em>A client will therefore have to know links to projects and can’t (yet) discover them.</em></p>
<table>
<thead>
<tr>
<th style="text-align:center">Link</th>
<th>Description</th>
<th>Type</th>
<th>Nullable</th>
<th>Supported operations</th>
<th>Condition</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">configuration</td>
<td>The configuration of this OpenProject instance</td>
<td>Configuration</td>
<td></td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">user</td>
<td>The user currently logged-in</td>
<td>User</td>
<td></td>
<td>READ</td>
<td>logged in</td>
</tr>
<tr>
<td style="text-align:center">userPreferences</td>
<td>The preferences of the logged-in user</td>
<td>UserPreference</td>
<td></td>
<td>READ</td>
<td>logged in</td>
</tr>
<tr>
<td style="text-align:center">priorities</td>
<td>List of available priorities</td>
<td>Collection</td>
<td></td>
<td>READ</td>
<td><strong>Permission</strong> View work packages in any project</td>
</tr>
<tr>
<td style="text-align:center">statuses</td>
<td>List of available work package statuses</td>
<td>Collection</td>
<td></td>
<td>READ</td>
<td><strong>Permission</strong> View work packages in any project</td>
</tr>
<tr>
<td style="text-align:center">types</td>
<td>List of available work package types</td>
<td>Collection</td>
<td></td>
<td>READ</td>
<td><strong>Permission</strong> View work packages in any project</td>
</tr>
<tr>
<td style="text-align:center">workPackages</td>
<td>List of all work packages</td>
<td>Collection</td>
<td></td>
<td>READ</td>
<td><strong>Permission</strong> View work packages in any project</td>
</tr>
<tr>
<td style="text-align:center">users</td>
<td>List of all users</td>
<td>Collection</td>
<td></td>
<td>READ</td>
<td><strong>Permission</strong> Administrator</td>
</tr>
</tbody>
</table>
<h2 id="header-local-properties-1">Local Properties <a class="permalink" href="#header-local-properties-1" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Property</th>
<th>Description</th>
<th>Type</th>
<th>Condition</th>
<th>Supported operations</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">instanceName</td>
<td>The name of the OpenProject instance</td>
<td>String</td>
<td></td>
<td>READ</td>
</tr>
<tr>
<td style="text-align:center">coreVersion</td>
<td>The OpenProject core version number for the instance</td>
<td>String</td>
<td></td>
<td>READ</td>
</tr>
</tbody>
</table>
<h2 id="root-root">Root&nbsp;<a href="#root-root" class="permalink"><i class="fa fa-link"></i></a></h2><section id="root-root-get" class="panel panel-info"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">View root</span></div><div style="float:left"><a href="#root-root-get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3</code></div></div><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-3169feedf87feea43e8b7ea73993bb6e" class="pull-right collapsed">Toggle details</a></li><li id="collapse-3169feedf87feea43e8b7ea73993bb6e" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
    "<span class="hljs-attribute">_links</span>" : <span class="hljs-value">{
        "<span class="hljs-attribute">configuration</span>" : <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>" : <span class="hljs-value"><span class="hljs-string">"/api/v3/configuration"</span>
        </span>}</span>,
        "<span class="hljs-attribute">user</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"John Sheppard"</span>
        </span>};
        <span class="hljs-string">"userPreferences"</span> : {
            "<span class="hljs-attribute">href</span>" : <span class="hljs-value"><span class="hljs-string">"/api/v3/my_preferences"</span>
        </span>}</span>,
        "<span class="hljs-attribute">priorities</span>" : <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>" : <span class="hljs-value"><span class="hljs-string">"/api/v3/priorities"</span>
        </span>}</span>,
        "<span class="hljs-attribute">relations</span>" : <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>" : <span class="hljs-value"><span class="hljs-string">"/api/v3/relations"</span>
        </span>}</span>,
        "<span class="hljs-attribute">statuses</span>" : <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>" : <span class="hljs-value"><span class="hljs-string">"/api/v3/statuses"</span>
        </span>}</span>,
        "<span class="hljs-attribute">types</span>" : <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>" : <span class="hljs-value"><span class="hljs-string">"/api/v3/types"</span>
        </span>}</span>,
        "<span class="hljs-attribute">workPackages</span>" : <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>" : <span class="hljs-value"><span class="hljs-string">"/api/v3/work_packages"</span>
        </span>}</span>,
        "<span class="hljs-attribute">users</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>" : <span class="hljs-value"><span class="hljs-string">"/api/v3/users"</span>
        </span>}
    </span>}</span>,
    "<span class="hljs-attribute">instanceName</span>" : <span class="hljs-value"><span class="hljs-string">"My own OpenProject"</span></span>,
    "<span class="hljs-attribute">coreVersion</span>" : <span class="hljs-value"><span class="hljs-string">"6.1.0"</span>
</span>}</code></pre></li></ul></section></div></div></div>
