<div><div class="description"></div><h1>Time Entries</h1><div class="panel panel-default"><div class="panel-body"><h2 id="header-actions-2">Actions <a class="permalink" href="#header-actions-2" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Link</th>
<th>Description</th>
<th>Condition</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">updateImmediately</td>
<td>Directly perform edits on this time entry</td>
<td><strong>Permission</strong>: ‘edit time entries’ or 'edit own time entries if the time entry belongs to the user</td>
</tr>
<tr>
<td style="text-align:center">delete</td>
<td>Delete this time entry</td>
<td><strong>Permission</strong>: ‘edit time entries’ or 'edit own time entries if the time entry belongs to the user</td>
</tr>
</tbody>
</table>
<h2 id="header-linked-properties-2">Linked Properties <a class="permalink" href="#header-linked-properties-2" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Link</th>
<th>Description</th>
<th>Type</th>
<th>Constraints</th>
<th>Supported operations</th>
<th>Condition</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">self</td>
<td>This time entry</td>
<td>TimeEntry</td>
<td>not null</td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">project</td>
<td>The project the time entry is bundled in. The project might be different from the work package’s project once the workPackage is moved.</td>
<td>Project</td>
<td>not null</td>
<td>READ / WRITE</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">workPackage</td>
<td>The work package the time entry is created on</td>
<td>WorkPackage</td>
<td>not null</td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">user</td>
<td>The user the time entry tracks expenditures for</td>
<td>User</td>
<td>not null</td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">activity</td>
<td>The time entry activity the time entry is categorized as</td>
<td>TimeEntriesActivity</td>
<td>not null</td>
<td>READ</td>
<td></td>
</tr>
</tbody>
</table>
<p>Depending on custom fields defined for time entries, additional links might exist.</p>
<h2 id="header-local-properties-2">Local Properties <a class="permalink" href="#header-local-properties-2" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Property</th>
<th>Description</th>
<th>Type</th>
<th>Constraints</th>
<th>Supported operations</th>
<th>Condition</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">id</td>
<td>Time entries’ id</td>
<td>Integer</td>
<td>x &gt; 0</td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">comment</td>
<td>A text provided by the user detailing the time entry</td>
<td>String</td>
<td>max 255 characters</td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">spentOn</td>
<td>The date the expenditure is booked for</td>
<td>Date</td>
<td></td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">hours</td>
<td>The time quantifiying the expenditure</td>
<td>Time</td>
<td></td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">createdAt</td>
<td>The time the time entry was created</td>
<td>DateTime</td>
<td></td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">updatedAt</td>
<td>The time the time entry was last updated</td>
<td>DateTime</td>
<td></td>
<td>READ</td>
<td></td>
</tr>
</tbody>
</table>
<p>Depending on custom fields defined for time entries, additional properties might exist.</p>
<h2 id="time-entries-time-entry">Time entry&nbsp;<a href="#time-entries-time-entry" class="permalink"><i class="fa fa-link"></i></a></h2><section id="time-entries-time-entry-get" class="panel panel-info"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">View time entry</span></div><div style="float:left"><a href="#time-entries-time-entry-get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/time_entries/{id}</code></div></div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>id</dt><dd><code>integer</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>1</span></span><p>time entry id</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-ea8bbace5d3ddd5ae39342973bd7f457" class="pull-right collapsed">Toggle details</a></li><li id="collapse-ea8bbace5d3ddd5ae39342973bd7f457" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code><span class="hljs-collection">{
    <span class="hljs-string">"_type"</span>: <span class="hljs-string">"TimeEntry"</span>,
    <span class="hljs-string">"id"</span>: <span class="hljs-number">1</span>,
    <span class="hljs-string">"comment"</span>: <span class="hljs-collection">{
        <span class="hljs-string">"format"</span>: <span class="hljs-string">"plain"</span>,
        <span class="hljs-string">"raw"</span>: <span class="hljs-string">"Some text explaining why the time entry was created"</span>,
        <span class="hljs-string">"html"</span>: <span class="hljs-string">"&lt;p&gt;Some text explaining why the time entry was created&lt;/p&gt;"</span>
    }</span>,
    <span class="hljs-string">"spentOn"</span>: <span class="hljs-string">"2015-03-20"</span>,
    <span class="hljs-string">"hours"</span>: <span class="hljs-string">"PT5H"</span>,
    <span class="hljs-string">"createdAt"</span>: <span class="hljs-string">"2015-03-20T12:56:56Z"</span>,
    <span class="hljs-string">"updatedAt"</span>: <span class="hljs-string">"2015-03-20T12:56:56Z"</span>,
    <span class="hljs-string">"customField12"</span>: <span class="hljs-number">5</span>,
    <span class="hljs-string">"_embedded"</span>: <span class="hljs-collection">{
        <span class="hljs-string">"project"</span>: <span class="hljs-collection">{
          ...
        }</span>,
        <span class="hljs-string">"workPackage"</span>: <span class="hljs-collection">{
          ...
        }</span>,
        <span class="hljs-string">"user"</span>: <span class="hljs-collection">{
          ...
        }</span>,
        <span class="hljs-string">"activity"</span>: <span class="hljs-collection">{
          ...
        }</span>
    }</span>,
    <span class="hljs-string">"_links"</span>: <span class="hljs-collection">{
        <span class="hljs-string">"self"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/time_entries/1"</span>
        }</span>,
        <span class="hljs-string">"updateImmediately"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/time_entries/1"</span>,
            <span class="hljs-string">"method"</span>: <span class="hljs-string">"patch"</span>
        }</span>,
        <span class="hljs-string">"delete"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/time_entries/1"</span>,
            <span class="hljs-string">"method"</span>: <span class="hljs-string">"delete"</span>
        }</span>,
        <span class="hljs-string">"project"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/projects/1"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"Some project"</span>
        }</span>,
        <span class="hljs-string">"workPackage"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/work_packages/1"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"Some work package"</span>
        }</span>,
        <span class="hljs-string">"user"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/users/2"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"Some user"</span>
        }</span>,
        <span class="hljs-string">"activity"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/time_entries/activities/18"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"Some time entry activity"</span>
        }</span>,
        <span class="hljs-string">"customField4"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/users/5"</span>,
            <span class="hljs-string">"title"</span> <span class="hljs-string">"Some other user"</span>
    }</span>
}</span>
</span></code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>404</code></strong><a data-toggle="collapse" data-target="#collapse-263a8127d8229e626a9707ae8c701f24" class="pull-right collapsed">Toggle details</a></li><li id="collapse-263a8127d8229e626a9707ae8c701f24" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the time entry does not exist or if the user does not have permission to view them.</p>
<p><strong>Required permission</strong> <code>view time entries</code> in the project the time entry is assigned to</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:NotFound"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The requested resource could not be found."</span>
</span>}</code></pre></li></ul></section><section id="time-entries-time-entry-delete" class="panel panel-danger"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">Delete time entry</span></div><div style="float:left"><a href="#time-entries-time-entry-delete" class="btn btn-xs btn-danger">DELETE</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/time_entries/{id}</code></div></div><div class="panel-body"><p>Permanently deletes the specified time entry.</p>
</div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>id</dt><dd><code>integer</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>1</span></span><p>Time entry id</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>204</code></strong><a data-toggle="collapse" data-target="#collapse-31a0a147d38770a65a526d42c8c2ec89" class="pull-right collapsed">Toggle details</a></li><li id="collapse-31a0a147d38770a65a526d42c8c2ec89" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the time entry was deleted successfully.</p>
</div></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-4f1ddce56333d8fedb3f3d0654c4d1e7" class="pull-right collapsed">Toggle details</a></li><li id="collapse-4f1ddce56333d8fedb3f3d0654c4d1e7" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client does not have sufficient permissions</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not authorized to access this resource."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>404</code></strong><a data-toggle="collapse" data-target="#collapse-692aca3f4010d737b77c4adda2220943" class="pull-right collapsed">Toggle details</a></li><li id="collapse-692aca3f4010d737b77c4adda2220943" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the time entry does not exist.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:NotFound"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The requested resource could not be found."</span>
</span>}</code></pre></li></ul></section><h2 id="time-entries-time-entries">Time entries&nbsp;<a href="#time-entries-time-entries" class="permalink"><i class="fa fa-link"></i></a></h2><section id="time-entries-time-entries-get" class="panel panel-info"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">List Time entries</span></div><div style="float:left"><a href="#time-entries-time-entries-get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/time_entries{?offset,pageSize,filters,sortBy}</code></div></div><div class="panel-body"><p>Lists time entries. The time entries returned depend on the filters provided and also on the permission of the requesting user.</p>
</div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>offset</dt><dd><code>integer</code>&nbsp;<span>(optional)</span>&nbsp;<span class="text-info default"><strong>Default:&nbsp;</strong><span>1</span></span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>25</span></span><p>Page number inside the requested collection.</p>
</dd><dt>pageSize</dt><dd><code>integer</code>&nbsp;<span>(optional)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>25</span></span><p>Number of elements to display per page.</p>
</dd><dt>sortBy</dt><dd><code>string</code>&nbsp;<span>(optional)</span>&nbsp;<span class="text-info default"><strong>Default:&nbsp;</strong><span>[&quot;spent_on&quot;, &quot;asc&quot;]</span></span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>[[&quot;spent_on&quot;, &quot;asc&quot;]]</span></span><p>JSON specifying sort criteria.
Accepts the same format as returned by the <a href="#queries">queries</a> endpoint. Currently supported sorts are:</p>
<ul>
<li>
<p>id: Sort by primary key</p>
</li>
<li>
<p>hours: Sort by logged hours</p>
</li>
<li>
<p>spent_on: Sort by spent on date</p>
</li>
<li>
<p>created_on: Sort by time entry creation datetime</p>
</li>
</ul>
</dd><dt>filters</dt><dd><code>string</code>&nbsp;<span>(optional)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>[{ &quot;work_package&quot;: { &quot;operator&quot;: &quot;=&quot;, &quot;values&quot;: [&quot;1&quot;, &quot;2&quot;] } }, { &quot;project&quot;: { &quot;operator&quot;: &quot;=&quot;, &quot;values&quot;: [&quot;1&quot;] } }]</span></span><p>JSON specifying filter conditions.
Accepts the same format as returned by the <a href="#queries">queries</a> endpoint. Currently supported filters are:</p>
<ul>
<li>
<p>work_package: Filter time entries by work package</p>
</li>
<li>
<p>project: Filter time entries by project</p>
</li>
<li>
<p>user: Filter time entries by users</p>
</li>
<li>
<p>spent_on: Filter time entries by spent on date</p>
</li>
<li>
<p>created_on: Filter time entries by creation datetime</p>
</li>
<li>
<p>activity: Filter time entries by time entry activity</p>
</li>
</ul>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-6e980afa6af04b00104b5f72da761a8c" class="pull-right collapsed">Toggle details</a></li><li id="collapse-6e980afa6af04b00104b5f72da761a8c" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Collection"</span></span>,
  "<span class="hljs-attribute">total</span>": <span class="hljs-value"><span class="hljs-number">39</span></span>,
  "<span class="hljs-attribute">count</span>": <span class="hljs-value"><span class="hljs-number">2</span></span>,
  "<span class="hljs-attribute">pageSize</span>": <span class="hljs-value"><span class="hljs-number">2</span></span>,
  "<span class="hljs-attribute">offset</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">_embedded</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">elements</span>": <span class="hljs-value">[
      {
        "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"TimeEntry"</span></span>,
        "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">5</span></span>,
        "<span class="hljs-attribute">comment</span>": <span class="hljs-value">{
          "<span class="hljs-attribute">format</span>": <span class="hljs-value"><span class="hljs-string">"plain"</span></span>,
          "<span class="hljs-attribute">raw</span>": <span class="hljs-value"><span class="hljs-string">"Some comment"</span></span>,
          "<span class="hljs-attribute">html</span>": <span class="hljs-value"><span class="hljs-string">"&lt;p&gt;Some comment&lt;/p&gt;"</span>
        </span>}</span>,
        "<span class="hljs-attribute">spentOn</span>": <span class="hljs-value"><span class="hljs-string">"2015-03-20"</span></span>,
        "<span class="hljs-attribute">hours</span>": <span class="hljs-value"><span class="hljs-string">"PT5H"</span></span>,
        "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value"><span class="hljs-string">"2015-03-20T12:56:56Z"</span></span>,
        "<span class="hljs-attribute">updatedAt</span>": <span class="hljs-value"><span class="hljs-string">"2015-03-20T12:56:56Z"</span></span>,
        "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
          "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/time_entries/1"</span>
          </span>}</span>,
          "<span class="hljs-attribute">updateImmediately</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/time_entries/1"</span></span>,
            "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"patch"</span>
          </span>}</span>,
          "<span class="hljs-attribute">delete</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/time_entries/1"</span></span>,
            "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"delete"</span>
          </span>}</span>,
          "<span class="hljs-attribute">project</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/projects/1"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Some project"</span>
          </span>}</span>,
          "<span class="hljs-attribute">workPackage</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/work_packages/1"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Some work package"</span>
          </span>}</span>,
          "<span class="hljs-attribute">user</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/2"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Some user"</span>
          </span>}</span>,
          "<span class="hljs-attribute">activity</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/time_entries/activities/18"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Some time entry activity"</span>
          </span>}
        </span>}
      </span>},
      {
        "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"TimeEntry"</span></span>,
        "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">10</span></span>,
        "<span class="hljs-attribute">comment</span>": <span class="hljs-value">{
          "<span class="hljs-attribute">format</span>": <span class="hljs-value"><span class="hljs-string">"plain"</span></span>,
          "<span class="hljs-attribute">raw</span>": <span class="hljs-value"><span class="hljs-string">"Another comment"</span></span>,
          "<span class="hljs-attribute">html</span>": <span class="hljs-value"><span class="hljs-string">"&lt;p&gt;Another comment&lt;/p&gt;"</span>
        </span>}</span>,
        "<span class="hljs-attribute">spentOn</span>": <span class="hljs-value"><span class="hljs-string">"2015-03-21"</span></span>,
        "<span class="hljs-attribute">hours</span>": <span class="hljs-value"><span class="hljs-string">"PT7H"</span></span>,
        "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value"><span class="hljs-string">"2015-03-20T12:56:56Z"</span></span>,
        "<span class="hljs-attribute">updatedAt</span>": <span class="hljs-value"><span class="hljs-string">"2015-03-20T12:56:56Z"</span></span>,
        "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
          "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/time_entries/2"</span>
          </span>}</span>,
          "<span class="hljs-attribute">project</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/projects/42"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Some other project"</span>
          </span>}</span>,
          "<span class="hljs-attribute">workPackage</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/work_packages/541"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Some other work package"</span>
          </span>}</span>,
          "<span class="hljs-attribute">user</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/6"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Some other project"</span>
          </span>}</span>,
          "<span class="hljs-attribute">activity</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/time_entries/activities/14"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"some other time entry activity"</span>
          </span>}
        </span>}
      </span>}
    ]
  </span>}</span>,
  "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/time_entries?offset=1&amp;pageSize=2"</span>
    </span>}</span>,
    "<span class="hljs-attribute">jumpTo</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/time_entries?offset=%7Boffset%7D&amp;pageSize=2"</span></span>,
      "<span class="hljs-attribute">templated</span>": <span class="hljs-value"><span class="hljs-literal">true</span>
    </span>}</span>,
    "<span class="hljs-attribute">changeSize</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/time_entries?offset=1&amp;pageSize=%7Bsize%7D"</span></span>,
      "<span class="hljs-attribute">templated</span>": <span class="hljs-value"><span class="hljs-literal">true</span>
    </span>}</span>,
    "<span class="hljs-attribute">nextByOffset</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/time_entries?offset=2&amp;pageSize=2"</span>
    </span>}
  </span>}
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>400</code></strong><a data-toggle="collapse" data-target="#collapse-e324ba77c5c5911fd86bfe2306bdb2c9" class="pull-right collapsed">Toggle details</a></li><li id="collapse-e324ba77c5c5911fd86bfe2306bdb2c9" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client sends invalid request parameters e.g. filters</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:InvalidQuery"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value">[
    <span class="hljs-string">"Filters Invalid filter does not exist."</span>
  ]
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-7ffa5e9519e82d54933dca22206179de" class="pull-right collapsed">Toggle details</a></li><li id="collapse-7ffa5e9519e82d54933dca22206179de" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client is not logged in and login is required.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not authorized to view this resource."</span>
</span>}</code></pre></li></ul></section><section id="time-entries-time-entries-post" class="panel panel-success"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">Create Time entry</span></div><div style="float:left"><a href="#time-entries-time-entries-post" class="btn btn-xs btn-success">POST</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/time_entries{?offset,pageSize,filters,sortBy}</code></div></div><div class="panel-body"><p>Creates a new time entry applying the attributes provided in the body. Please note that while there is a fixed set of attributes, custom fields can extend a time entries’ attributes and are accepted by the endpoint.</p>
<p>There is no form and schema resource for time entries, yet.</p>
</div><ul class="list-group"><li class="list-group-item"><strong>Request&nbsp;&nbsp;<code>Create time entry</code></strong><a data-toggle="collapse" data-target="#collapse-32a47017d8442172a7713e4718c200bc" class="pull-right collapsed">Toggle details</a></li><li id="collapse-32a47017d8442172a7713e4718c200bc" class="list-group-item panel-collapse collapse"><h5>Body</h5><pre><code>{
    <span class="hljs-string">"_links"</span>: {
      <span class="hljs-string">"project"</span>: {
        <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/projects/34"</span>
      },
      <span class="hljs-string">"activity"</span>: {
        <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/time_entries/activities/18"</span>,
      },
      <span class="hljs-string">"workPackage"</span>: {
        <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/work_packages/5"</span>
      },
      <span class="hljs-string">"customField4"</span>: {
        <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/users/5"</span>
      },
      <span class="hljs-string">"customField51"</span>: {
        <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/custom_options/11"</span>
      }
    },
    <span class="hljs-string">"hours"</span>: <span class="hljs-string">'PT5H'</span>,
    <span class="hljs-string">"comment"</span>: {
        <span class="hljs-string">"raw"</span>: <span class="hljs-string">"Some comment"</span>,
    },
    <span class="hljs-string">"spentOn"</span>: <span class="hljs-string">"2017-07-28"</span>,
    <span class="hljs-string">"customField1"</span>: {
      raw: <span class="hljs-string">'some text custom field value'</span>
    },
    <span class="hljs-string">"customField8"</span>: <span class="hljs-number">5</span>
}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>201</code></strong><a data-toggle="collapse" data-target="#collapse-8ed54cff70b471e17adca7bf5ea3257b" class="pull-right collapsed">Toggle details</a></li><li id="collapse-8ed54cff70b471e17adca7bf5ea3257b" class="list-group-item panel-collapse collapse"><h5>Body</h5><pre><code><span class="hljs-collection">{
    <span class="hljs-string">"_type"</span>: <span class="hljs-string">"TimeEntry"</span>,
    <span class="hljs-string">"id"</span>: <span class="hljs-number">1</span>,
    <span class="hljs-string">"comment"</span>: <span class="hljs-collection">{
        <span class="hljs-string">"format"</span>: <span class="hljs-string">"plain"</span>,
        <span class="hljs-string">"raw"</span>: <span class="hljs-string">"Some text explaining why the time entry was created"</span>,
        <span class="hljs-string">"html"</span>: <span class="hljs-string">"&lt;p&gt;Some text explaining why the time entry was created&lt;/p&gt;"</span>
    }</span>,
    <span class="hljs-string">"spentOn"</span>: <span class="hljs-string">"2015-03-20"</span>,
    <span class="hljs-string">"hours"</span>: <span class="hljs-string">"PT5H"</span>,
    <span class="hljs-string">"createdAt"</span>: <span class="hljs-string">"2015-03-20T12:56:56Z"</span>,
    <span class="hljs-string">"updatedAt"</span>: <span class="hljs-string">"2015-03-20T12:56:56Z"</span>,
    <span class="hljs-string">"customField12"</span>: <span class="hljs-number">5</span>,
    <span class="hljs-string">"_embedded"</span>: <span class="hljs-collection">{
        <span class="hljs-string">"project"</span>: <span class="hljs-collection">{
          ...
        }</span>,
        <span class="hljs-string">"workPackage"</span>: <span class="hljs-collection">{
          ...
        }</span>,
        <span class="hljs-string">"user"</span>: <span class="hljs-collection">{
          ...
        }</span>,
        <span class="hljs-string">"activity"</span>: <span class="hljs-collection">{
          ...
        }</span>
    }</span>,
    <span class="hljs-string">"_links"</span>: <span class="hljs-collection">{
        <span class="hljs-string">"self"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/time_entries/1"</span>
        }</span>,
        <span class="hljs-string">"updateImmediately"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/time_entries/1"</span>,
            <span class="hljs-string">"method"</span>: <span class="hljs-string">"patch"</span>
        }</span>,
        <span class="hljs-string">"delete"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/time_entries/1"</span>,
            <span class="hljs-string">"method"</span>: <span class="hljs-string">"delete"</span>
        }</span>,
        <span class="hljs-string">"project"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/projects/1"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"Some project"</span>
        }</span>,
        <span class="hljs-string">"workPackage"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/work_packages/1"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"Some work package"</span>
        }</span>,
        <span class="hljs-string">"user"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/users/2"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"Some user"</span>
        }</span>,
        <span class="hljs-string">"activity"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/time_entries/activities/18"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"Some time entry activity"</span>
        }</span>,
        <span class="hljs-string">"customField4"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/users/5"</span>,
            <span class="hljs-string">"title"</span> <span class="hljs-string">"Some other user"</span>
    }</span>
}</span>
</span></code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>400</code></strong><a data-toggle="collapse" data-target="#collapse-2dfa1addabe708f65d1626fac77dc40c" class="pull-right collapsed">Toggle details</a></li><li id="collapse-2dfa1addabe708f65d1626fac77dc40c" class="list-group-item panel-collapse collapse"><div class="description"><p>Occurs when the client did not send a valid JSON object in the request body.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:InvalidRequestBody"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The request body was not a single JSON object."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-35d990ef4f86304f14afcf1028674262" class="pull-right collapsed">Toggle details</a></li><li id="collapse-35d990ef4f86304f14afcf1028674262" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client does not have sufficient permissions.</p>
<p><strong>Required permission:</strong> Log time</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not authorized to access this resource."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>422</code></strong><a data-toggle="collapse" data-target="#collapse-306455eb6f1ee92026f51b8745a34e7d" class="pull-right collapsed">Toggle details</a></li><li id="collapse-306455eb6f1ee92026f51b8745a34e7d" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if:</p>
<ul>
<li>a constraint for a property was violated (<code>PropertyConstraintViolation</code>)</li>
</ul>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code><span class="hljs-collection">{
    <span class="hljs-string">"_type"</span>: <span class="hljs-string">"Error"</span>,
    <span class="hljs-string">"errorIdentifier"</span>: <span class="hljs-string">"urn:openproject-org:api:v3:errors:PropertyConstraintViolation"</span>,
    <span class="hljs-string">"message"</span>: <span class="hljs-string">"Work package is invalid."</span>,
    <span class="hljs-string">"_embedded"</span>: <span class="hljs-collection">{
        <span class="hljs-string">"details"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"attribute"</span>=&gt;<span class="hljs-string">"workPackage"</span>
        }</span>
    }</span>
}</span></code></pre></li></ul></section><section id="time-entries-time-entries-patch" class="panel panel-warning"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">Update Time entry</span></div><div style="float:left"><a href="#time-entries-time-entries-patch" class="btn btn-xs btn-warning">PATCH</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/time_entries{?offset,pageSize,filters,sortBy}</code></div></div><div class="panel-body"><p>Updates the given time entry by applying the attributes provided in the body. Please note that while there is a fixed set of attributes, custom fields can extend a time entries’ attributes and are accepted by the endpoint.</p>
<p>There is no form and schema resource for time entries, yet.</p>
</div><ul class="list-group"><li class="list-group-item"><strong>Request&nbsp;&nbsp;<code>Update time entry</code></strong><a data-toggle="collapse" data-target="#collapse-c5367f69dd55a33ff840d9f6815ee771" class="pull-right collapsed">Toggle details</a></li><li id="collapse-c5367f69dd55a33ff840d9f6815ee771" class="list-group-item panel-collapse collapse"><h5>Body</h5><pre><code>{
    <span class="hljs-string">"_links"</span>: {
      <span class="hljs-string">"activity"</span>: {
        <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/time_entries/activities/18"</span>,
      },
      <span class="hljs-string">"workPackage"</span>: {
        <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/work_packages/5"</span>
      },
      <span class="hljs-string">"customField4"</span>: {
        <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/users/5"</span>
      },
      <span class="hljs-string">"customField51"</span>: {
        <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/custom_options/11"</span>
      }
    },
    <span class="hljs-string">"hours"</span>: <span class="hljs-string">'PT5H'</span>,
    <span class="hljs-string">"comment"</span>: {
      <span class="hljs-string">"raw"</span>: <span class="hljs-string">"Some comment"</span>,
    },
    <span class="hljs-string">"spentOn"</span>: <span class="hljs-string">"2017-07-28"</span>,
    <span class="hljs-string">"customField1"</span>: {
      raw: <span class="hljs-string">'some text custom field value'</span>
    },
    <span class="hljs-string">"customField8"</span>: <span class="hljs-number">5</span>
}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-ad1e2fa551bcfffc0a4bf88d9d9b7596" class="pull-right collapsed">Toggle details</a></li><li id="collapse-ad1e2fa551bcfffc0a4bf88d9d9b7596" class="list-group-item panel-collapse collapse"><h5>Body</h5><pre><code><span class="hljs-collection">{
    <span class="hljs-string">"_type"</span>: <span class="hljs-string">"TimeEntry"</span>,
    <span class="hljs-string">"id"</span>: <span class="hljs-number">1</span>,
    <span class="hljs-string">"comment"</span>: <span class="hljs-collection">{
        <span class="hljs-string">"format"</span>: <span class="hljs-string">"plain"</span>,
        <span class="hljs-string">"raw"</span>: <span class="hljs-string">"Some text explaining why the time entry was created"</span>,
        <span class="hljs-string">"html"</span>: <span class="hljs-string">"&lt;p&gt;Some text explaining why the time entry was created&lt;/p&gt;"</span>
    }</span>,
    <span class="hljs-string">"spentOn"</span>: <span class="hljs-string">"2015-03-20"</span>,
    <span class="hljs-string">"hours"</span>: <span class="hljs-string">"PT5H"</span>,
    <span class="hljs-string">"createdAt"</span>: <span class="hljs-string">"2015-03-20T12:56:56Z"</span>,
    <span class="hljs-string">"updatedAt"</span>: <span class="hljs-string">"2015-03-20T12:56:56Z"</span>,
    <span class="hljs-string">"customField12"</span>: <span class="hljs-number">5</span>,
    <span class="hljs-string">"_embedded"</span>: <span class="hljs-collection">{
        <span class="hljs-string">"project"</span>: <span class="hljs-collection">{
          ...
        }</span>,
        <span class="hljs-string">"workPackage"</span>: <span class="hljs-collection">{
          ...
        }</span>,
        <span class="hljs-string">"user"</span>: <span class="hljs-collection">{
          ...
        }</span>,
        <span class="hljs-string">"activity"</span>: <span class="hljs-collection">{
          ...
        }</span>
    }</span>,
    <span class="hljs-string">"_links"</span>: <span class="hljs-collection">{
        <span class="hljs-string">"self"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/time_entries/1"</span>
        }</span>,
        <span class="hljs-string">"updateImmediately"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/time_entries/1"</span>,
            <span class="hljs-string">"method"</span>: <span class="hljs-string">"patch"</span>
        }</span>,
        <span class="hljs-string">"delete"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/time_entries/1"</span>,
            <span class="hljs-string">"method"</span>: <span class="hljs-string">"delete"</span>
        }</span>,
        <span class="hljs-string">"project"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/projects/1"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"Some project"</span>
        }</span>,
        <span class="hljs-string">"workPackage"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/work_packages/1"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"Some work package"</span>
        }</span>,
        <span class="hljs-string">"user"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/users/2"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"Some user"</span>
        }</span>,
        <span class="hljs-string">"activity"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/time_entries/activities/18"</span>,
            <span class="hljs-string">"title"</span>: <span class="hljs-string">"Some time entry activity"</span>
        }</span>,
        <span class="hljs-string">"customField4"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"href"</span>: <span class="hljs-string">"/api/v3/users/5"</span>,
            <span class="hljs-string">"title"</span> <span class="hljs-string">"Some other user"</span>
    }</span>
}</span>
</span></code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>400</code></strong><a data-toggle="collapse" data-target="#collapse-1c08f08318e61a0800243bbd6c36b4c7" class="pull-right collapsed">Toggle details</a></li><li id="collapse-1c08f08318e61a0800243bbd6c36b4c7" class="list-group-item panel-collapse collapse"><div class="description"><p>Occurs when the client did not send a valid JSON object in the request body.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:InvalidRequestBody"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The request body was not a single JSON object."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-e0f6d2019ce09cd98b39d0e37cf1fafe" class="pull-right collapsed">Toggle details</a></li><li id="collapse-e0f6d2019ce09cd98b39d0e37cf1fafe" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client does not have sufficient permissions.</p>
<p><strong>Required permission:</strong> Edit (own) time entries, depending on what time entry is being modified.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not authorized to access this resource."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>422</code></strong><a data-toggle="collapse" data-target="#collapse-ceee10c26ecf6653d0e23dbeb9921eb3" class="pull-right collapsed">Toggle details</a></li><li id="collapse-ceee10c26ecf6653d0e23dbeb9921eb3" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if:</p>
<ul>
<li>a constraint for a property was violated (<code>PropertyConstraintViolation</code>)</li>
</ul>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code><span class="hljs-collection">{
    <span class="hljs-string">"_type"</span>: <span class="hljs-string">"Error"</span>,
    <span class="hljs-string">"errorIdentifier"</span>: <span class="hljs-string">"urn:openproject-org:api:v3:errors:PropertyConstraintViolation"</span>,
    <span class="hljs-string">"message"</span>: <span class="hljs-string">"Work package is invalid."</span>,
    <span class="hljs-string">"_embedded"</span>: <span class="hljs-collection">{
        <span class="hljs-string">"details"</span>: <span class="hljs-collection">{
            <span class="hljs-string">"attribute"</span>=&gt;<span class="hljs-string">"workPackage"</span>
        }</span>
    }</span>
}</span></code></pre></li></ul></section></div></div></div>