<div><div class="description"></div><h1>Types</h1><div class="panel panel-default"><div class="panel-body"><h2 id="header-linked-properties-1">Linked Properties <a class="permalink" href="#header-linked-properties-1" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Link</th>
<th>Description</th>
<th>Type</th>
<th>Constraints</th>
<th>Supported operations</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">self</td>
<td>This type</td>
<td>Type</td>
<td>not null</td>
<td>READ</td>
</tr>
</tbody>
</table>
<h2 id="header-local-properties-1">Local Properties <a class="permalink" href="#header-local-properties-1" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Property</th>
<th>Description</th>
<th>Type</th>
<th>Constraints</th>
<th>Supported operations</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">id</td>
<td>Type id</td>
<td>Integer</td>
<td>x &gt; 0</td>
<td>READ</td>
</tr>
<tr>
<td style="text-align:center">name</td>
<td>Type name</td>
<td>String</td>
<td></td>
<td>READ</td>
</tr>
<tr>
<td style="text-align:center">color</td>
<td>The color used to represent this type</td>
<td>Color</td>
<td></td>
<td>READ</td>
</tr>
<tr>
<td style="text-align:center">position</td>
<td>Sort index of the type</td>
<td>Integer</td>
<td></td>
<td>READ</td>
</tr>
<tr>
<td style="text-align:center">isDefault</td>
<td></td>
<td>Boolean</td>
<td></td>
<td>READ</td>
</tr>
<tr>
<td style="text-align:center">isMilestone</td>
<td>Do tickets of this type represent a milestone?</td>
<td>Boolean</td>
<td></td>
<td>READ</td>
</tr>
<tr>
<td style="text-align:center">createdAt</td>
<td>Time of creation</td>
<td>DateTime</td>
<td></td>
<td>READ</td>
</tr>
<tr>
<td style="text-align:center">updatedAt</td>
<td>Time of the most recent change to the user</td>
<td>DateTime</td>
<td></td>
<td>READ</td>
</tr>
</tbody>
</table>
<h2 id="types-types">Types&nbsp;<a href="#types-types" class="permalink"><i class="fa fa-link"></i></a></h2><section id="types-types-get" class="panel panel-info"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">List all Types</span></div><div style="float:left"><a href="#types-types-get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/types</code></div></div><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-0231c85a4f0888d2ccb51cd6cc23cc79" class="pull-right collapsed">Toggle details</a></li><li id="collapse-0231c85a4f0888d2ccb51cd6cc23cc79" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/types"</span>
    </span>}
  </span>}</span>,
  "<span class="hljs-attribute">total</span>": <span class="hljs-value"><span class="hljs-number">2</span></span>,
  "<span class="hljs-attribute">count</span>": <span class="hljs-value"><span class="hljs-number">2</span></span>,
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Collection"</span></span>,
  "<span class="hljs-attribute">_embedded</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">elements</span>": <span class="hljs-value">[
      {
        "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
          "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/types/1"</span>
          </span>}
        </span>}</span>,
        "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Type"</span></span>,
        "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Bug"</span></span>,
        "<span class="hljs-attribute">color</span>": <span class="hljs-value"><span class="hljs-string">"#ff0000"</span></span>,
        "<span class="hljs-attribute">position</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
        "<span class="hljs-attribute">isDefault</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
        "<span class="hljs-attribute">isMilestone</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
        "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value"><span class="hljs-string">"2014-05-21T08:51:20Z"</span></span>,
        "<span class="hljs-attribute">updatedAt</span>": <span class="hljs-value"><span class="hljs-string">"2014-05-21T08:51:20Z"</span>
      </span>},
      {
        "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
          "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/types/2"</span>
          </span>}
        </span>}</span>,
        "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Type"</span></span>,
        "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">2</span></span>,
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Feature"</span></span>,
        "<span class="hljs-attribute">color</span>": <span class="hljs-value"><span class="hljs-string">"#888"</span></span>,
        "<span class="hljs-attribute">position</span>": <span class="hljs-value"><span class="hljs-number">2</span></span>,
        "<span class="hljs-attribute">isDefault</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
        "<span class="hljs-attribute">isMilestone</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
        "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value"><span class="hljs-string">"2014-05-21T08:51:20Z"</span></span>,
        "<span class="hljs-attribute">updatedAt</span>": <span class="hljs-value"><span class="hljs-string">"2014-05-21T08:51:20Z"</span>
      </span>}
    ]
  </span>}
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-c90b7ab518221d2575631c1534f5ebe4" class="pull-right collapsed">Toggle details</a></li><li id="collapse-c90b7ab518221d2575631c1534f5ebe4" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client does not have sufficient permissions.</p>
<p><strong>Required permission:</strong> view work package or manage types (on any project)</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not allowed to see the types."</span>
</span>}</code></pre></li></ul></section><h2 id="types-types-by-project">Types by Project&nbsp;<a href="#types-types-by-project" class="permalink"><i class="fa fa-link"></i></a></h2><section id="types-types-by-project-get" class="panel panel-info"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">List types available in a project</span></div><div style="float:left"><a href="#types-types-by-project-get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/projects/{project_id}/types</code></div></div><div class="panel-body"><p>This endpoint lists the types that are <em>available</em> in a given project.</p>
</div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>project_id</dt><dd><code>integer</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>1</span></span><p>ID of the project whoose types will be listed</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-3383401f111b64a25e05d1587da1482a" class="pull-right collapsed">Toggle details</a></li><li id="collapse-3383401f111b64a25e05d1587da1482a" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/projects/11/types"</span>
    </span>}
  </span>}</span>,
  "<span class="hljs-attribute">total</span>": <span class="hljs-value"><span class="hljs-number">2</span></span>,
  "<span class="hljs-attribute">count</span>": <span class="hljs-value"><span class="hljs-number">2</span></span>,
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Collection"</span></span>,
  "<span class="hljs-attribute">_embedded</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">elements</span>": <span class="hljs-value">[
      {
        "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
          "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/types/1"</span>
          </span>}
        </span>}</span>,
        "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Type"</span></span>,
        "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Bug"</span></span>,
        "<span class="hljs-attribute">color</span>": <span class="hljs-value"><span class="hljs-string">"#ff0000"</span></span>,
        "<span class="hljs-attribute">position</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
        "<span class="hljs-attribute">isDefault</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
        "<span class="hljs-attribute">isMilestone</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
        "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value"><span class="hljs-string">"2014-05-21T08:51:20Z"</span></span>,
        "<span class="hljs-attribute">updatedAt</span>": <span class="hljs-value"><span class="hljs-string">"2014-05-21T08:51:20Z"</span>
      </span>},
      {
        "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
          "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/types/2"</span>
          </span>}
        </span>}</span>,
        "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Type"</span></span>,
        "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">2</span></span>,
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Feature"</span></span>,
        "<span class="hljs-attribute">color</span>": <span class="hljs-value"><span class="hljs-string">"#888"</span></span>,
        "<span class="hljs-attribute">position</span>": <span class="hljs-value"><span class="hljs-number">2</span></span>,
        "<span class="hljs-attribute">isDefault</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
        "<span class="hljs-attribute">isMilestone</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
        "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value"><span class="hljs-string">"2014-05-21T08:51:20Z"</span></span>,
        "<span class="hljs-attribute">updatedAt</span>": <span class="hljs-value"><span class="hljs-string">"2014-05-21T08:51:20Z"</span>
      </span>}
    ]
  </span>}
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>404</code></strong><a data-toggle="collapse" data-target="#collapse-eb8da99f5c90da04a4ffbc1cb50e1bf9" class="pull-right collapsed">Toggle details</a></li><li id="collapse-eb8da99f5c90da04a4ffbc1cb50e1bf9" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the project does not exist or the client does not have sufficient permissions
to see it.</p>
<p><strong>Required permission:</strong> view work packages <strong>or</strong> manage types (on given project)</p>
<p><em>Note: A client without sufficient permissions shall not be able to test for the existence of a project.
That’s why a 404 is returned here, even if a 403 might be more appropriate.</em></p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:NotFound"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The specified project does not exist."</span>
</span>}</code></pre></li></ul></section><h2 id="types-type">Type&nbsp;<a href="#types-type" class="permalink"><i class="fa fa-link"></i></a></h2><section id="types-type-get" class="panel panel-info"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">View Type</span></div><div style="float:left"><a href="#types-type-get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/types/{id}</code></div></div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>id</dt><dd><code>integer</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>1</span></span><p>type id</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-aefb97529ca7e4ca1206cf14289b309a" class="pull-right collapsed">Toggle details</a></li><li id="collapse-aefb97529ca7e4ca1206cf14289b309a" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/types/1"</span>
    </span>}
  </span>}</span>,
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Type"</span></span>,
  "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Bug"</span></span>,
  "<span class="hljs-attribute">color</span>": <span class="hljs-value"><span class="hljs-string">"#ff0000"</span></span>,
  "<span class="hljs-attribute">position</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">isDefault</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
  "<span class="hljs-attribute">isMilestone</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
  "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value"><span class="hljs-string">"2014-05-21T08:51:20Z"</span></span>,
  "<span class="hljs-attribute">updatedAt</span>": <span class="hljs-value"><span class="hljs-string">"2014-05-21T08:51:20Z"</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-267e32690047b1bb15e4efb08dc2f54b" class="pull-right collapsed">Toggle details</a></li><li id="collapse-267e32690047b1bb15e4efb08dc2f54b" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client does not have sufficient permissions.</p>
<p><strong>Required permission:</strong> view work package or manage types (on any project)</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not allowed to see this type."</span>
</span>}</code></pre></li></ul></section></div></div></div>