<div><div class="description"></div><h1>Users</h1><div class="panel panel-default"><div class="panel-body"><h2 id="header-actions-1">Actions <a class="permalink" href="#header-actions-1" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Link</th>
<th>Description</th>
<th>Condition</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">lock</td>
<td>Restrict the user from logging in and performing any actions</td>
<td>not locked; <strong>Permission</strong>: Administrator</td>
</tr>
<tr>
<td style="text-align:center">show</td>
<td>Link to the OpenProject user page (HTML)</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">unlock</td>
<td>Allow a locked user to login and act again</td>
<td>locked; <strong>Permission</strong>: Administrator</td>
</tr>
<tr>
<td style="text-align:center">updateImmediately</td>
<td>Updates the user’s attributes.</td>
<td><strong>Permission</strong>: Administrator</td>
</tr>
<tr>
<td style="text-align:center">delete</td>
<td>Permanently remove a user from the instance</td>
<td><strong>Permission</strong>: Administrator, self-delete</td>
</tr>
</tbody>
</table>
<h2 id="header-linked-properties-1">Linked Properties <a class="permalink" href="#header-linked-properties-1" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Link</th>
<th>Description</th>
<th>Type</th>
<th>Constraints</th>
<th>Supported operations</th>
<th>Condition</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">self</td>
<td>This user</td>
<td>User</td>
<td>not null</td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">auth_source</td>
<td>Link to the user’s auth source (endpoint not yet implemented)</td>
<td>AuthSource</td>
<td></td>
<td>READ / WRITE</td>
<td><strong>Permission</strong>: Administrator</td>
</tr>
<tr>
<td style="text-align:center">members</td>
<td>Link ot collection of all the user’s memberships. The list will only include the memberships in projects in which the requesting user has the necessary permissions.</td>
<td>MemberCollection</td>
<td></td>
<td>READ</td>
<td><strong>Permission</strong>: view members or manage members in any project</td>
</tr>
</tbody>
</table>
<h2 id="header-local-properties-1">Local Properties <a class="permalink" href="#header-local-properties-1" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Property</th>
<th>Description</th>
<th>Type</th>
<th>Constraints</th>
<th>Supported operations</th>
<th>Condition</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">id</td>
<td>User’s id</td>
<td>Integer</td>
<td>x &gt; 0</td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">login</td>
<td>User’s login name</td>
<td>String</td>
<td>unique, 256 max length</td>
<td>READ / WRITE</td>
<td><strong>Permission</strong>: Administrator</td>
</tr>
<tr>
<td style="text-align:center">firstName</td>
<td>User’s first name</td>
<td>String</td>
<td>30 max length</td>
<td>READ / WRITE</td>
<td><strong>Permission</strong>: Administrator</td>
</tr>
<tr>
<td style="text-align:center">lastName</td>
<td>User’s last name</td>
<td>String</td>
<td>30 max length</td>
<td>READ / WRITE</td>
<td><strong>Permission</strong>: Administrator</td>
</tr>
<tr>
<td style="text-align:center">name</td>
<td>User’s full name, formatting depends on instance settings</td>
<td>String</td>
<td></td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">email</td>
<td>User’s email address</td>
<td>String</td>
<td>unique, 60 max length</td>
<td>READ / WRITE</td>
<td>E-Mail address not hidden, <strong>Permission</strong>: Administrator</td>
</tr>
<tr>
<td style="text-align:center">admin</td>
<td>Flag indicating whether or not the user is an admin</td>
<td>Boolean</td>
<td>in: [true, false]</td>
<td>READ / WRITE</td>
<td><strong>Permission</strong>: Administrator</td>
</tr>
<tr>
<td style="text-align:center">avatar</td>
<td>URL to user’s avatar</td>
<td>Url</td>
<td></td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">status</td>
<td>The current activation status of the user (see below)</td>
<td>String</td>
<td>in: [“active”, “registered”, “locked”, “invited”]</td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">language</td>
<td>User’s language</td>
<td>String</td>
<td>ISO 639-1</td>
<td>READ / WRITE</td>
<td><strong>Permission</strong>: Administrator</td>
</tr>
<tr>
<td style="text-align:center">password</td>
<td>User’s password for the default password authentication</td>
<td>String</td>
<td></td>
<td>WRITE</td>
<td><strong>Permission</strong>: Administrator</td>
</tr>
<tr>
<td style="text-align:center">identity_url</td>
<td>User’s identity_url for OmniAuth authentication</td>
<td>String</td>
<td></td>
<td>READ / WRITE</td>
<td><strong>Permission</strong>: Administrator</td>
</tr>
<tr>
<td style="text-align:center">createdAt</td>
<td>Time of creation</td>
<td>DateTime</td>
<td></td>
<td>READ</td>
<td></td>
</tr>
<tr>
<td style="text-align:center">updatedAt</td>
<td>Time of the most recent change to the user</td>
<td>DateTime</td>
<td></td>
<td>READ</td>
<td></td>
</tr>
</tbody>
</table>
<p>The <code>status</code> of a user can be one of:</p>
<ul>
<li>
<p><code>active</code> - the user can log in with the account right aways</p>
</li>
<li>
<p><code>invited</code> - the user is invited and is pending registration</p>
</li>
</ul>
<p>If the user’s <code>status</code> is set to <code>active</code> during creation a means of authentication
has to be provided which is one of the following:</p>
<ul>
<li>
<p><code>password</code> - The password with which the user logs in.</p>
</li>
<li>
<p><code>auth_source</code> - Link to an LDAP auth source.</p>
</li>
<li>
<p><code>identity_url</code> - The identity URL of an OmniAuth authentication provider.</p>
</li>
</ul>
<p>If all of these are missing the creation will fail with an “missing password” error.</p>
<p>The <code>language</code> is limited to those activated in the system.</p>
<p>Due to data privacy, the user’s properties are limited to reveal as little about the user as possible.
Thus <code>login</code>, <code>firstName</code>, <code>lastName</code>, <code>language</code>, <code>createdAt</code> and <code>updatedAt</code> are hidden for all
users except for admins or the user themselves.</p>
<p>Please note that custom fields are not yet supported by the api although the backend supports them.</p>
<h2 id="users-user">User&nbsp;<a href="#users-user" class="permalink"><i class="fa fa-link"></i></a></h2><section id="users-user-get" class="panel panel-info"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">View user</span></div><div style="float:left"><a href="#users-user-get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/users/{id}</code></div></div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>id</dt><dd><code></code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>1</span></span><p>User id. Use <code>me</code> to reference current user, if any.</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-8986447b4cefde9ad40d35a27e30efe5" class="pull-right collapsed">Toggle details</a></li><li id="collapse-8986447b4cefde9ad40d35a27e30efe5" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
    "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"User"</span></span>,
    "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"j.sheppard"</span>
        </span>}</span>,
        "<span class="hljs-attribute">show</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/users/1"</span></span>,
            "<span class="hljs-attribute">type</span>": <span class="hljs-value">'text/html'
        </span>}</span>,
        "<span class="hljs-attribute">lock</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1/lock"</span></span>,
            "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"POST"</span>
        </span>}</span>,
        "<span class="hljs-attribute">updateImmediately</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1"</span></span>,
            "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"PATCH"</span>
        </span>}</span>,
        "<span class="hljs-attribute">delete</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1"</span></span>,
            "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"DELETE"</span>
        </span>}</span>,
    }</span>,
    "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
    "<span class="hljs-attribute">login</span>": <span class="hljs-value"><span class="hljs-string">"j.sheppard"</span></span>,
    "<span class="hljs-attribute">firstName</span>": <span class="hljs-value"><span class="hljs-string">"John"</span></span>,
    "<span class="hljs-attribute">lastName</span>": <span class="hljs-value"><span class="hljs-string">"Sheppard"</span></span>,
    "<span class="hljs-attribute">email</span>": <span class="hljs-value"><span class="hljs-string">"shep@mail.com"</span></span>,
    "<span class="hljs-attribute">admin</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
    "<span class="hljs-attribute">avatar</span>": <span class="hljs-value"><span class="hljs-string">"https://example.org/users/1/avatar"</span></span>,
    "<span class="hljs-attribute">status</span>": <span class="hljs-value"><span class="hljs-string">"active"</span></span>,
    "<span class="hljs-attribute">language</span>": <span class="hljs-value"><span class="hljs-string">"en"</span></span>,
    "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value"><span class="hljs-string">"2014-05-21T08:51:20Z"</span></span>,
    "<span class="hljs-attribute">updatedAt</span>": <span class="hljs-value"><span class="hljs-string">"2014-05-21T08:51:20Z"</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>404</code></strong><a data-toggle="collapse" data-target="#collapse-95a2a579ec6be39d0e3b03a6769a589e" class="pull-right collapsed">Toggle details</a></li><li id="collapse-95a2a579ec6be39d0e3b03a6769a589e" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the user does not exist or if the API user does not have permission to view them.</p>
<p><strong>Required permission</strong> The user needs to be locked in if the installation is configured to prevent anonymous access</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:NotFound"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The specified user does not exist or you do not have permission to view them."</span>
</span>}</code></pre></li></ul></section><section id="users-user-patch" class="panel panel-warning"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">Update user</span></div><div style="float:left"><a href="#users-user-patch" class="btn btn-xs btn-warning">PATCH</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/users/{id}</code></div></div><div class="panel-body"><p>Updates the user’s writable attributes.
When calling this endpoint the client provides a single object, containing at least the properties and links that are required, in the body.</p>
</div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>id</dt><dd><code>integer</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>1</span></span><p>User id</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Request&nbsp;&nbsp;<code>Update User</code></strong><a data-toggle="collapse" data-target="#collapse-b0ec9535b3c0bf9e5771b8771f1c3f4f" class="pull-right collapsed">Toggle details</a></li><li id="collapse-b0ec9535b3c0bf9e5771b8771f1c3f4f" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">login</span>": <span class="hljs-value"><span class="hljs-string">"h.wurst"</span></span>,
  "<span class="hljs-attribute">email</span>": <span class="hljs-value"><span class="hljs-string">"h.wurst@openproject.com"</span></span>,
  "<span class="hljs-attribute">firstName</span>": <span class="hljs-value"><span class="hljs-string">"Hans"</span></span>,
  "<span class="hljs-attribute">lastName</span>": <span class="hljs-value"><span class="hljs-string">"Wurst"</span></span>,
  "<span class="hljs-attribute">admin</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
  "<span class="hljs-attribute">language</span>": <span class="hljs-value"><span class="hljs-string">"en"</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-a19a0eef073441f7905bdc6c109f086d" class="pull-right collapsed">Toggle details</a></li><li id="collapse-a19a0eef073441f7905bdc6c109f086d" class="list-group-item panel-collapse collapse"><h5>Body</h5><pre><code>{
    "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"User"</span></span>,
    "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"j.sheppard"</span>
        </span>}</span>,
        "<span class="hljs-attribute">show</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/users/1"</span></span>,
            "<span class="hljs-attribute">type</span>": <span class="hljs-value">'text/html'
        </span>}</span>,
        "<span class="hljs-attribute">lock</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1/lock"</span></span>,
            "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"POST"</span>
        </span>}</span>,
        "<span class="hljs-attribute">updateImmediately</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1"</span></span>,
            "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"PATCH"</span>
        </span>}</span>,
        "<span class="hljs-attribute">delete</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1"</span></span>,
            "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"DELETE"</span>
        </span>}</span>,
    }</span>,
    "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
    "<span class="hljs-attribute">login</span>": <span class="hljs-value"><span class="hljs-string">"j.sheppard"</span></span>,
    "<span class="hljs-attribute">firstName</span>": <span class="hljs-value"><span class="hljs-string">"John"</span></span>,
    "<span class="hljs-attribute">lastName</span>": <span class="hljs-value"><span class="hljs-string">"Sheppard"</span></span>,
    "<span class="hljs-attribute">email</span>": <span class="hljs-value"><span class="hljs-string">"shep@mail.com"</span></span>,
    "<span class="hljs-attribute">admin</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
    "<span class="hljs-attribute">avatar</span>": <span class="hljs-value"><span class="hljs-string">"https://example.org/users/1/avatar"</span></span>,
    "<span class="hljs-attribute">status</span>": <span class="hljs-value"><span class="hljs-string">"active"</span></span>,
    "<span class="hljs-attribute">language</span>": <span class="hljs-value"><span class="hljs-string">"en"</span></span>,
    "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value"><span class="hljs-string">"2014-05-21T08:51:20Z"</span></span>,
    "<span class="hljs-attribute">updatedAt</span>": <span class="hljs-value"><span class="hljs-string">"2014-05-21T08:51:20Z"</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>400</code></strong><a data-toggle="collapse" data-target="#collapse-47db238ae66d1ad09a8b06f0cb345955" class="pull-right collapsed">Toggle details</a></li><li id="collapse-47db238ae66d1ad09a8b06f0cb345955" class="list-group-item panel-collapse collapse"><div class="description"><p>Occurs when the client did not send a valid JSON object in the request body.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:InvalidRequestBody"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The request body was not a single JSON object."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-a620f3cb35a446497afd4d63281992d6" class="pull-right collapsed">Toggle details</a></li><li id="collapse-a620f3cb35a446497afd4d63281992d6" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client does not have sufficient permissions.</p>
<p><strong>Required permission:</strong> Administrators only</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not allowed to update the account of this user."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>404</code></strong><a data-toggle="collapse" data-target="#collapse-3653e01ec0c851fb1ef540da3f95d653" class="pull-right collapsed">Toggle details</a></li><li id="collapse-3653e01ec0c851fb1ef540da3f95d653" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the user does not exist or if the API user does not have the necessary permissions to update it.</p>
<p><strong>Required permission:</strong> Administrators only (exception: users may update their own accounts)</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:NotFound"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The specified user does not exist or you do not have permission to view them."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>422</code></strong><a data-toggle="collapse" data-target="#collapse-3d1e3feb771e8312f47d1d6c476bf021" class="pull-right collapsed">Toggle details</a></li><li id="collapse-3d1e3feb771e8312f47d1d6c476bf021" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if:</p>
<ul>
<li>
<p>the client tries to modify a read-only property (<code>PropertyIsReadOnly</code>)</p>
</li>
<li>
<p>a constraint for a property was violated (<code>PropertyConstraintViolation</code>)</p>
</li>
</ul>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:PropertyConstraintViolation"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The email address is already taken."</span></span>,
  "<span class="hljs-attribute">_embedded</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">details</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">attribute</span>": <span class="hljs-value"><span class="hljs-string">"email"</span>
    </span>}
  </span>}
</span>}</code></pre></li></ul></section><section id="users-user-delete" class="panel panel-danger"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">Delete user</span></div><div style="float:left"><a href="#users-user-delete" class="btn btn-xs btn-danger">DELETE</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/users/{id}</code></div></div><div class="panel-body"><p>Permanently deletes the specified user account.</p>
</div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>id</dt><dd><code>integer</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>1</span></span><p>User id</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>202</code></strong><a data-toggle="collapse" data-target="#collapse-53172eb3c1984bf07bac04734db49c3d" class="pull-right collapsed">Toggle details</a></li><li id="collapse-53172eb3c1984bf07bac04734db49c3d" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the account was deleted successfully.</p>
<p>Note that the response body is empty as of now. In future versions of the API a body
<em>might</em> be returned, indicating the progress of deletion.</p>
</div></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-e6218e52954266277ec7ad523036b414" class="pull-right collapsed">Toggle details</a></li><li id="collapse-e6218e52954266277ec7ad523036b414" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client does not have sufficient permissions or if deletion of users was disabled in the instance wide settings.</p>
<p><strong>Required permission:</strong> Administrators only (exception: users might be able to delete their own accounts)</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not allowed to delete the account of this user."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>404</code></strong><a data-toggle="collapse" data-target="#collapse-8024692eef45b5a745a4dd239453b7e3" class="pull-right collapsed">Toggle details</a></li><li id="collapse-8024692eef45b5a745a4dd239453b7e3" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the user does not exist.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:NotFound"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The specified user does not exist."</span>
</span>}</code></pre></li></ul></section><h2 id="users-user-account-locking">User Account Locking&nbsp;<a href="#users-user-account-locking" class="permalink"><i class="fa fa-link"></i></a></h2><section id="users-user-account-locking-post" class="panel panel-success"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">Set Lock</span></div><div style="float:left"><a href="#users-user-account-locking-post" class="btn btn-xs btn-success">POST</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/users/{id}/lock</code></div></div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>id</dt><dd><code>integer</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>1</span></span><p>User id</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-3ce814ac85556df4622a3f93c3e4b337" class="pull-right collapsed">Toggle details</a></li><li id="collapse-3ce814ac85556df4622a3f93c3e4b337" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
    "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"User"</span></span>,
    "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"j.sheppard"</span>
        </span>}</span>,
        "<span class="hljs-attribute">show</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/users/1"</span></span>,
            "<span class="hljs-attribute">type</span>": <span class="hljs-value">'text/html'
        </span>}</span>,
        "<span class="hljs-attribute">lock</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1/lock"</span></span>,
            "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"POST"</span>
        </span>}</span>,
        "<span class="hljs-attribute">updateImmediately</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1"</span></span>,
            "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"PATCH"</span>
        </span>}</span>,
        "<span class="hljs-attribute">delete</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1"</span></span>,
            "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"DELETE"</span>
        </span>}</span>,
    }</span>,
    "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
    "<span class="hljs-attribute">login</span>": <span class="hljs-value"><span class="hljs-string">"j.sheppard"</span></span>,
    "<span class="hljs-attribute">firstName</span>": <span class="hljs-value"><span class="hljs-string">"John"</span></span>,
    "<span class="hljs-attribute">lastName</span>": <span class="hljs-value"><span class="hljs-string">"Sheppard"</span></span>,
    "<span class="hljs-attribute">email</span>": <span class="hljs-value"><span class="hljs-string">"shep@mail.com"</span></span>,
    "<span class="hljs-attribute">admin</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
    "<span class="hljs-attribute">avatar</span>": <span class="hljs-value"><span class="hljs-string">"https://example.org/users/1/avatar"</span></span>,
    "<span class="hljs-attribute">status</span>": <span class="hljs-value"><span class="hljs-string">"active"</span></span>,
    "<span class="hljs-attribute">language</span>": <span class="hljs-value"><span class="hljs-string">"en"</span></span>,
    "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value"><span class="hljs-string">"2014-05-21T08:51:20Z"</span></span>,
    "<span class="hljs-attribute">updatedAt</span>": <span class="hljs-value"><span class="hljs-string">"2014-05-21T08:51:20Z"</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>400</code></strong><a data-toggle="collapse" data-target="#collapse-0b7c4db4005a7df568ffdf189b148b8f" class="pull-right collapsed">Toggle details</a></li><li id="collapse-0b7c4db4005a7df568ffdf189b148b8f" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client tries to lock a user account whose current status does not allow this transition.</p>
<p><strong>Required permission:</strong> Administrators only</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:InvalidUserStatusTransition"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The current user account status does not allow this operation."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-d1cad2825e7f4e815c17aa6242585bc5" class="pull-right collapsed">Toggle details</a></li><li id="collapse-d1cad2825e7f4e815c17aa6242585bc5" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client does not have sufficient permissions for locking a user.</p>
<p><strong>Required permission:</strong> Administrators only</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not allowed to lock the account of this user."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>404</code></strong><a data-toggle="collapse" data-target="#collapse-3904549b9cff145f166375a7f32e95e6" class="pull-right collapsed">Toggle details</a></li><li id="collapse-3904549b9cff145f166375a7f32e95e6" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the user does not exist.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:NotFound"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The specified user does not exist."</span>
</span>}</code></pre></li></ul></section><section id="users-user-account-locking-delete" class="panel panel-danger"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">Remove Lock</span></div><div style="float:left"><a href="#users-user-account-locking-delete" class="btn btn-xs btn-danger">DELETE</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/users/{id}/lock</code></div></div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>id</dt><dd><code>integer</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>1</span></span><p>User id</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-a0d2ac466ecc714acccf81e4e55482aa" class="pull-right collapsed">Toggle details</a></li><li id="collapse-a0d2ac466ecc714acccf81e4e55482aa" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
    "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"User"</span></span>,
    "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"j.sheppard"</span>
        </span>}</span>,
        "<span class="hljs-attribute">show</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/users/1"</span></span>,
            "<span class="hljs-attribute">type</span>": <span class="hljs-value">'text/html'
        </span>}</span>,
        "<span class="hljs-attribute">lock</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1/lock"</span></span>,
            "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"POST"</span>
        </span>}</span>,
        "<span class="hljs-attribute">updateImmediately</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1"</span></span>,
            "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"PATCH"</span>
        </span>}</span>,
        "<span class="hljs-attribute">delete</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1"</span></span>,
            "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"DELETE"</span>
        </span>}</span>,
    }</span>,
    "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
    "<span class="hljs-attribute">login</span>": <span class="hljs-value"><span class="hljs-string">"j.sheppard"</span></span>,
    "<span class="hljs-attribute">firstName</span>": <span class="hljs-value"><span class="hljs-string">"John"</span></span>,
    "<span class="hljs-attribute">lastName</span>": <span class="hljs-value"><span class="hljs-string">"Sheppard"</span></span>,
    "<span class="hljs-attribute">email</span>": <span class="hljs-value"><span class="hljs-string">"shep@mail.com"</span></span>,
    "<span class="hljs-attribute">admin</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
    "<span class="hljs-attribute">avatar</span>": <span class="hljs-value"><span class="hljs-string">"https://example.org/users/1/avatar"</span></span>,
    "<span class="hljs-attribute">status</span>": <span class="hljs-value"><span class="hljs-string">"active"</span></span>,
    "<span class="hljs-attribute">language</span>": <span class="hljs-value"><span class="hljs-string">"en"</span></span>,
    "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value"><span class="hljs-string">"2014-05-21T08:51:20Z"</span></span>,
    "<span class="hljs-attribute">updatedAt</span>": <span class="hljs-value"><span class="hljs-string">"2014-05-21T08:51:20Z"</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>400</code></strong><a data-toggle="collapse" data-target="#collapse-84808aae8417095fa90c79633d4ec3d7" class="pull-right collapsed">Toggle details</a></li><li id="collapse-84808aae8417095fa90c79633d4ec3d7" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client tries to unlock a user account whose current status does not allow this transition.</p>
<p><strong>Required permission:</strong> Administrators only</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:InvalidUserStatusTransition"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The current user account status does not allow this operation."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-cb45a860f22dd59224cacbd734109d20" class="pull-right collapsed">Toggle details</a></li><li id="collapse-cb45a860f22dd59224cacbd734109d20" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client does not have sufficient permissions for unlocking a user.</p>
<p><strong>Required permission:</strong> Administrators only</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not allowed to unlock the account of this user."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>404</code></strong><a data-toggle="collapse" data-target="#collapse-39afef2b13fdd00b6973398f563b9c70" class="pull-right collapsed">Toggle details</a></li><li id="collapse-39afef2b13fdd00b6973398f563b9c70" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the user does not exist.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:NotFound"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The specified user does not exist."</span>
</span>}</code></pre></li></ul></section><h2 id="users-users">Users&nbsp;<a href="#users-users" class="permalink"><i class="fa fa-link"></i></a></h2><section id="users-users-get" class="panel panel-info"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">List Users</span></div><div style="float:left"><a href="#users-users-get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/users{?offset,pageSize,filters,sortBy}</code></div></div><div class="panel-body"><p>Lists users. Only administrators have permission to do this.</p>
</div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>offset</dt><dd><code>integer</code>&nbsp;<span>(optional)</span>&nbsp;<span class="text-info default"><strong>Default:&nbsp;</strong><span>1</span></span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>25</span></span><p>Page number inside the requested collection.</p>
</dd><dt>pageSize</dt><dd><code>integer</code>&nbsp;<span>(optional)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>25</span></span><p>Number of elements to display per page.</p>
</dd><dt>filters</dt><dd><code>string</code>&nbsp;<span>(optional)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>[{ &quot;status&quot;: { &quot;operator&quot;: &quot;=&quot;, &quot;values&quot;: [&quot;invited&quot;] } }, { &quot;group&quot;: { &quot;operator&quot;: &quot;=&quot;, &quot;values&quot;: [&quot;1&quot;] } }, { &quot;name&quot;: { &quot;operator&quot;: &quot;=&quot;, &quot;values&quot;: [&quot;h.wurst@openproject.com&quot;] } }]</span></span><p>JSON specifying filter conditions.
Accepts the same format as returned by the <a href="#queries">queries</a> endpoint. Currently supported filters are:</p>
<ul>
<li>
<p>status: Status the user has</p>
</li>
<li>
<p>group: Name of the group in which to-be-listed users are members.</p>
</li>
<li>
<p>name: Filter users in whose first or last names, or email addresses the given string occurs.</p>
</li>
<li>
<p>login: User’s login</p>
</li>
</ul>
</dd><dt>sortBy</dt><dd><code>string</code>&nbsp;<span>(optional)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>[[&quot;status&quot;, &quot;asc&quot;]]</span></span><p>JSON specifying sort criteria.
Accepts the same format as returned by the <a href="#queries">queries</a> endpoint.</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-6a6d126e27cb5f0cf9cc63117d40b96f" class="pull-right collapsed">Toggle details</a></li><li id="collapse-6a6d126e27cb5f0cf9cc63117d40b96f" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
    "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">self</span>": <span class="hljs-value">{ "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users"</span> </span>}
    </span>}</span>,
    "<span class="hljs-attribute">total</span>": <span class="hljs-value"><span class="hljs-number">2</span></span>,
    "<span class="hljs-attribute">count</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
    "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Collection"</span></span>,
    "<span class="hljs-attribute">_embedded</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">elements</span>": <span class="hljs-value">[
            {
                "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"User"</span></span>,
                "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
                    "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
                        "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1"</span></span>,
                        "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"John Sheppard - j.sheppard"</span>
                    </span>}</span>,
                    "<span class="hljs-attribute">showUser</span>": <span class="hljs-value">{
                        "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/users/1"</span></span>,
                        "<span class="hljs-attribute">type</span>": <span class="hljs-value">'text/html'
                    </span>}</span>,
                    "<span class="hljs-attribute">lock</span>": <span class="hljs-value">{
                        "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1/lock"</span></span>,
                        "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Set lock on j.sheppard"</span>
                        <span class="hljs-string">"method"</span>: <span class="hljs-string">"POST"</span>
                    </span>}</span>,
                    "<span class="hljs-attribute">update</span>": <span class="hljs-value">{
                        "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1"</span></span>,
                        "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Update j.sheppard"</span>
                        <span class="hljs-string">"method"</span>: <span class="hljs-string">"PATCH"</span>
                    </span>}</span>,
                    "<span class="hljs-attribute">delete</span>": <span class="hljs-value">{
                        "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1"</span></span>,
                        "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Delete j.sheppard"</span>
                        <span class="hljs-string">"method"</span>: <span class="hljs-string">"DELETE"</span>
                    </span>}
                </span>}</span>,
                "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
                "<span class="hljs-attribute">login</span>": <span class="hljs-value"><span class="hljs-string">"j.sheppard"</span></span>,
                "<span class="hljs-attribute">firstName</span>": <span class="hljs-value"><span class="hljs-string">"John"</span></span>,
                "<span class="hljs-attribute">lastName</span>": <span class="hljs-value"><span class="hljs-string">"Sheppard"</span></span>,
                "<span class="hljs-attribute">email</span>": <span class="hljs-value"><span class="hljs-string">"shep@mail.com"</span></span>,
                "<span class="hljs-attribute">admin</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
                "<span class="hljs-attribute">avatar</span>": <span class="hljs-value"><span class="hljs-string">"https://example.org/users/1/avatar"</span></span>,
                "<span class="hljs-attribute">status</span>": <span class="hljs-value"><span class="hljs-string">"active"</span></span>,
                "<span class="hljs-attribute">language</span>": <span class="hljs-value"><span class="hljs-string">"en"</span></span>,
                "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value"><span class="hljs-string">"2014-05-21T08:51:20Z"</span></span>,
                "<span class="hljs-attribute">updatedAt</span>": <span class="hljs-value"><span class="hljs-string">"2014-05-21T08:51:20Z"</span>
            </span>}
        ]
    </span>}
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>400</code></strong><a data-toggle="collapse" data-target="#collapse-699d28a48ca07a343408e444397c3c05" class="pull-right collapsed">Toggle details</a></li><li id="collapse-699d28a48ca07a343408e444397c3c05" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client sends an unknown sort column.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:InvalidQuery"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"Unknown sort column."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-9627ed8626a8864b3b6b55f31c3ffc02" class="pull-right collapsed">Toggle details</a></li><li id="collapse-9627ed8626a8864b3b6b55f31c3ffc02" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client does not have sufficient permissions.</p>
<p><strong>Required permission:</strong> Administrator</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not allowed to list users."</span>
</span>}</code></pre></li></ul></section><section id="users-users-post" class="panel panel-success"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">Create User</span></div><div style="float:left"><a href="#users-users-post" class="btn btn-xs btn-success">POST</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/users{?offset,pageSize,filters,sortBy}</code></div></div><div class="panel-body"><p>Creates a new user. Only administrators have permission to do so.
When calling this endpoint the client provides a single object, containing at least the properties and links that are required, in the body.</p>
<p>Valid values for <code>status</code>:</p>
<ol>
<li>“active” - In this case a password has to be provided in addition to the other attributes.</li>
<li>“invited” - In this case nothing but the email address is required. The rest is optional. An invitation will be sent to the user.</li>
</ol>
</div><ul class="list-group"><li class="list-group-item"><strong>Request&nbsp;&nbsp;<code>Create User</code></strong><a data-toggle="collapse" data-target="#collapse-97d87db2e0b38779347cbda4e6599d22" class="pull-right collapsed">Toggle details</a></li><li id="collapse-97d87db2e0b38779347cbda4e6599d22" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">login</span>": <span class="hljs-value"><span class="hljs-string">"h.wurst"</span></span>,
  "<span class="hljs-attribute">email</span>": <span class="hljs-value"><span class="hljs-string">"h.wurst@openproject.com"</span></span>,
  "<span class="hljs-attribute">firstName</span>": <span class="hljs-value"><span class="hljs-string">"Hans"</span></span>,
  "<span class="hljs-attribute">lastName</span>": <span class="hljs-value"><span class="hljs-string">"Wurst"</span></span>,
  "<span class="hljs-attribute">admin</span>": <span class="hljs-value"><span class="hljs-literal">false</span></span>,
  "<span class="hljs-attribute">language</span>": <span class="hljs-value"><span class="hljs-string">"de"</span></span>,
  "<span class="hljs-attribute">status</span>": <span class="hljs-value"><span class="hljs-string">"active"</span></span>,
  "<span class="hljs-attribute">password</span>": <span class="hljs-value"><span class="hljs-string">"hunter5"</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Request&nbsp;&nbsp;<code>Invite User</code></strong><a data-toggle="collapse" data-target="#collapse-22e63b55782d3cede3e5135cdf450271" class="pull-right collapsed">Toggle details</a></li><li id="collapse-22e63b55782d3cede3e5135cdf450271" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">email</span>": <span class="hljs-value"><span class="hljs-string">"h.wurst@openproject.com"</span></span>,
  "<span class="hljs-attribute">firstName</span>": <span class="hljs-value"><span class="hljs-string">"Hanz"</span></span>,
  "<span class="hljs-attribute">status</span>": <span class="hljs-value"><span class="hljs-string">"invited"</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>201</code></strong><a data-toggle="collapse" data-target="#collapse-1aaa992e06cb46b01da165cdb1d3f4c5" class="pull-right collapsed">Toggle details</a></li><li id="collapse-1aaa992e06cb46b01da165cdb1d3f4c5" class="list-group-item panel-collapse collapse"><h5>Body</h5><pre><code>{
    "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"User"</span></span>,
    "<span class="hljs-attribute">_links</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">self</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"j.sheppard"</span>
        </span>}</span>,
        "<span class="hljs-attribute">show</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/users/1"</span></span>,
            "<span class="hljs-attribute">type</span>": <span class="hljs-value">'text/html'
        </span>}</span>,
        "<span class="hljs-attribute">lock</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1/lock"</span></span>,
            "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"POST"</span>
        </span>}</span>,
        "<span class="hljs-attribute">updateImmediately</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1"</span></span>,
            "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"PATCH"</span>
        </span>}</span>,
        "<span class="hljs-attribute">delete</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1"</span></span>,
            "<span class="hljs-attribute">method</span>": <span class="hljs-value"><span class="hljs-string">"DELETE"</span>
        </span>}</span>,
    }</span>,
    "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
    "<span class="hljs-attribute">login</span>": <span class="hljs-value"><span class="hljs-string">"j.sheppard"</span></span>,
    "<span class="hljs-attribute">firstName</span>": <span class="hljs-value"><span class="hljs-string">"John"</span></span>,
    "<span class="hljs-attribute">lastName</span>": <span class="hljs-value"><span class="hljs-string">"Sheppard"</span></span>,
    "<span class="hljs-attribute">email</span>": <span class="hljs-value"><span class="hljs-string">"shep@mail.com"</span></span>,
    "<span class="hljs-attribute">admin</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
    "<span class="hljs-attribute">avatar</span>": <span class="hljs-value"><span class="hljs-string">"https://example.org/users/1/avatar"</span></span>,
    "<span class="hljs-attribute">status</span>": <span class="hljs-value"><span class="hljs-string">"active"</span></span>,
    "<span class="hljs-attribute">language</span>": <span class="hljs-value"><span class="hljs-string">"en"</span></span>,
    "<span class="hljs-attribute">createdAt</span>": <span class="hljs-value"><span class="hljs-string">"2014-05-21T08:51:20Z"</span></span>,
    "<span class="hljs-attribute">updatedAt</span>": <span class="hljs-value"><span class="hljs-string">"2014-05-21T08:51:20Z"</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>400</code></strong><a data-toggle="collapse" data-target="#collapse-4de018038ff9af67b552712915f9f053" class="pull-right collapsed">Toggle details</a></li><li id="collapse-4de018038ff9af67b552712915f9f053" class="list-group-item panel-collapse collapse"><div class="description"><p>Occurs when the client did not send a valid JSON object in the request body.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:InvalidRequestBody"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The request body was not a single JSON object."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>403</code></strong><a data-toggle="collapse" data-target="#collapse-696cb1c65010fc9c00c9def80c0f7f60" class="pull-right collapsed">Toggle details</a></li><li id="collapse-696cb1c65010fc9c00c9def80c0f7f60" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the client does not have sufficient permissions.</p>
<p><strong>Required permission:</strong> Administrator</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:MissingPermission"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You are not allowed to create new users."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>422</code></strong><a data-toggle="collapse" data-target="#collapse-646ed273c69359c658f9cbf4c04e6b25" class="pull-right collapsed">Toggle details</a></li><li id="collapse-646ed273c69359c658f9cbf4c04e6b25" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if:</p>
<ul>
<li>a constraint for a property was violated (<code>PropertyConstraintViolation</code>)</li>
</ul>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:PropertyConstraintViolation"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The email address is already taken."</span></span>,
  "<span class="hljs-attribute">_embedded</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">details</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">attribute</span>": <span class="hljs-value"><span class="hljs-string">"email"</span>
    </span>}
  </span>}
</span>}</code></pre></li></ul></section></div></div></div>