<div><div class="description"></div><h1>UserPreferences</h1><div class="panel panel-default"><div class="panel-body"><h2 id="header-linked-properties-1">Linked Properties <a class="permalink" href="#header-linked-properties-1" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Link</th>
<th>Description</th>
<th>Type</th>
<th>Constraints</th>
<th>Supported operations</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">self</td>
<td>This UserPreferences</td>
<td>UserPreferences</td>
<td>not null</td>
<td>READ</td>
</tr>
<tr>
<td style="text-align:center">user</td>
<td>The user that this preference belongs to</td>
<td>User</td>
<td>not null</td>
<td>READ</td>
</tr>
</tbody>
</table>
<h2 id="header-local-properties-1">Local Properties <a class="permalink" href="#header-local-properties-1" aria-hidden="true">¶</a></h2>
<table>
<thead>
<tr>
<th style="text-align:center">Property</th>
<th>Description</th>
<th>Type</th>
<th>Constraints</th>
<th>Supported operations</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">hideMail</td>
<td>Hide mail address from other users</td>
<td>Boolean</td>
<td></td>
<td>READ / WRITE</td>
</tr>
<tr>
<td style="text-align:center">timeZone</td>
<td>Current selected time zone</td>
<td>String</td>
<td></td>
<td>READ / WRITE</td>
</tr>
<tr>
<td style="text-align:center">commentSortDescending</td>
<td>Sort comments in descending order</td>
<td>Boolean</td>
<td></td>
<td>READ / WRITE</td>
</tr>
<tr>
<td style="text-align:center">warnOnLeavingUnsaved</td>
<td>Issue warning when leaving a page with unsaved text</td>
<td>Boolean</td>
<td></td>
<td>READ / WRITE</td>
</tr>
<tr>
<td style="text-align:center">accessibilityMode</td>
<td>Enable accessibility mode</td>
<td>Boolean</td>
<td></td>
<td>READ / WRITE</td>
</tr>
</tbody>
</table>
<h2 id="userpreferences-userpreferences">UserPreferences&nbsp;<a href="#userpreferences-userpreferences" class="permalink"><i class="fa fa-link"></i></a></h2><section id="userpreferences-userpreferences-get" class="panel panel-info"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">Show my preferences</span></div><div style="float:left"><a href="#userpreferences-userpreferences-get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/my_preferences</code></div></div><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-128b079ff260523f3d2e3a5d72ca2d09" class="pull-right collapsed">Toggle details</a></li><li id="collapse-128b079ff260523f3d2e3a5d72ca2d09" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
    "<span class="hljs-attribute">_type</span>" : <span class="hljs-value"><span class="hljs-string">"UserPreferences"</span></span>,
    "<span class="hljs-attribute">_links</span>" : <span class="hljs-value">{
        "<span class="hljs-attribute">self</span>" : <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>" : <span class="hljs-value"><span class="hljs-string">"/api/v3/my_preferences"</span></span>,
        }</span>,
        "<span class="hljs-attribute">user</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"John Sheppard"</span>
        </span>}
    </span>}</span>,
    "<span class="hljs-attribute">hideMail</span>" : <span class="hljs-value"><span class="hljs-literal">false</span></span>,
    "<span class="hljs-attribute">timeZone</span>" : <span class="hljs-value"><span class="hljs-string">"Europe/Berlin"</span></span>,
    "<span class="hljs-attribute">commentSortDescending</span>" : <span class="hljs-value"><span class="hljs-literal">true</span></span>,
    "<span class="hljs-attribute">warnOnLeavingUnsaved</span>" : <span class="hljs-value"><span class="hljs-literal">true</span></span>,
    "<span class="hljs-attribute">accessibilityMode</span>" : <span class="hljs-value"><span class="hljs-literal">false</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>401</code></strong><a data-toggle="collapse" data-target="#collapse-91181374ff051a1c705ad69da9f8d91f" class="pull-right collapsed">Toggle details</a></li><li id="collapse-91181374ff051a1c705ad69da9f8d91f" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if no user is currently authenticated</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:Unauthenticated"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You need to be authenticated to access this resource."</span>
</span>}</code></pre></li></ul></section><section id="userpreferences-userpreferences-patch" class="panel panel-warning"><div class="panel-heading"><div style="float:right"><span style="text-transform: lowercase">Update UserPreferences</span></div><div style="float:left"><a href="#userpreferences-userpreferences-patch" class="btn btn-xs btn-warning">PATCH</a></div><div style="overflow:hidden" class="panel-heading-code"><code>/api/v3/my_preferences</code></div></div><div class="panel-body"><p>When calling this endpoint the client provides a single object, containing the properties that it wants to change, in the body.</p>
</div><ul class="list-group"><li class="list-group-item"><strong>Request</strong><a data-toggle="collapse" data-target="#collapse-55ac4cbe70491903082f8374a8eb1013" class="pull-right collapsed">Toggle details</a></li><li id="collapse-55ac4cbe70491903082f8374a8eb1013" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">accessibilityMode</span>": <span class="hljs-value"><span class="hljs-literal">true</span></span>,
  "<span class="hljs-attribute">timeZone</span>": <span class="hljs-value"><span class="hljs-string">"Europe/Paris"</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#collapse-f3889b5f22d26c165f90726fa55f6fbb" class="pull-right collapsed">Toggle details</a></li><li id="collapse-f3889b5f22d26c165f90726fa55f6fbb" class="list-group-item panel-collapse collapse"><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
    "<span class="hljs-attribute">_type</span>" : <span class="hljs-value"><span class="hljs-string">"UserPreferences"</span></span>,
    "<span class="hljs-attribute">_links</span>" : <span class="hljs-value">{
        "<span class="hljs-attribute">self</span>" : <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>" : <span class="hljs-value"><span class="hljs-string">"/api/v3/my_preferences"</span></span>,
        }</span>,
        "<span class="hljs-attribute">user</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">href</span>": <span class="hljs-value"><span class="hljs-string">"/api/v3/users/1"</span></span>,
            "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"John Sheppard"</span>
        </span>}
    </span>}</span>,
    "<span class="hljs-attribute">hideMail</span>" : <span class="hljs-value"><span class="hljs-literal">false</span></span>,
    "<span class="hljs-attribute">timeZone</span>" : <span class="hljs-value"><span class="hljs-string">"Europe/Berlin"</span></span>,
    "<span class="hljs-attribute">commentSortDescending</span>" : <span class="hljs-value"><span class="hljs-literal">true</span></span>,
    "<span class="hljs-attribute">warnOnLeavingUnsaved</span>" : <span class="hljs-value"><span class="hljs-literal">true</span></span>,
    "<span class="hljs-attribute">accessibilityMode</span>" : <span class="hljs-value"><span class="hljs-literal">false</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>400</code></strong><a data-toggle="collapse" data-target="#collapse-8d5863613b179833039459f5d3296fba" class="pull-right collapsed">Toggle details</a></li><li id="collapse-8d5863613b179833039459f5d3296fba" class="list-group-item panel-collapse collapse"><div class="description"><p>Occurs when the client did not send a valid JSON object in the request body.</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:InvalidRequestBody"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"The request body was not a single JSON object."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>401</code></strong><a data-toggle="collapse" data-target="#collapse-d06e31a819f82d1366c5c895b5f333d3" class="pull-right collapsed">Toggle details</a></li><li id="collapse-d06e31a819f82d1366c5c895b5f333d3" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if no user is currently authenticated</p>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:Unauthenticated"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"You need to be authenticated to access this resource."</span>
</span>}</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>422</code></strong><a data-toggle="collapse" data-target="#collapse-7a44e81e8e4e6093d691a81b4c464637" class="pull-right collapsed">Toggle details</a></li><li id="collapse-7a44e81e8e4e6093d691a81b4c464637" class="list-group-item panel-collapse collapse"><div class="description"><p>Returned if the update contains invalid properties.
Reasons are:</p>
<ul>
<li>
<p>Specifying an invalid type</p>
</li>
<li>
<p>Using an unknown time zone</p>
</li>
</ul>
</div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/hal+json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">_type</span>": <span class="hljs-value"><span class="hljs-string">"Error"</span></span>,
  "<span class="hljs-attribute">errorIdentifier</span>": <span class="hljs-value"><span class="hljs-string">"urn:openproject-org:api:v3:errors:PropertyConstraintViolation"</span></span>,
  "<span class="hljs-attribute">message</span>": <span class="hljs-value"><span class="hljs-string">"Time zone is not set to one of the allowed values."</span>
</span>}</code></pre></li></ul></section></div></div></div>